<div class="container">
  

  <h1>Activities</h1>
  <div class="card">
      <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Article</th>
            <th>Question Sets</th>
            <th>Questions</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td><%= activity.title %></td>
              <td><%= activity.article[0..40] + "..." %></td>
              <td><%= activity.question_sets.count %></td>
              <td><%= activity.questions.count %></td>
              <td><%= link_to 'Show', activity %></td>
              <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
              <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>

  <%= link_to 'New Activity', new_activity_path %>
</div>