<div class="container">
  <h1><%= @activity.title %></h1>
  <p><%= @activity.article[0..280] + "..." %></p>
  <p><%= @activity.questions.count %></p>
  <p><%= link_to 'Play', play_activity_path(@activity) %></p>
  <p><%= link_to 'Edit', edit_activity_path(@activity) %></p>
  <p><%= link_to 'Destroy', @activity, method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <h3>Question Sets</h3>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter card-table">
        <thead>
          <tr>
            <th>Prompt</th>
            <th>Questions</th>
            <th>Order</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @activity.question_sets.each do |question_set| %>
            <tr>
              <td><%= question_set.prompt %></td>
              <td><%= question_set.questions.count %></td>
              <td><%= question_set.order %></td>
              <td><%= link_to 'Show', question_set %></td>
              <td><%= link_to 'Edit', edit_question_set_path(question_set) %></td>
              <td><%= link_to 'Destroy', question_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'New Question Set', new_activity_question_set_path(@activity) %>
</div>