= form_for @assessment do |f|
  - if @assessment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assessment.errors.count, "error")} prohibited this assessment from being saved:"
      %ul
        - @assessment.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_area :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :chapter_id
    = f.number_field :chapter_id
  .actions
    = f.submit 'Save'
