<div class='container'>
  <article class='simple-rounded-box cms cms-user-index'>
    <%= link_to 'School Directory', cms_schools_path %> > <%= @school_name %>
    <br /><br />
    <h2><%= @school_name %></h2>
    <br /><br />
    <table class='table table-stripe table-hover-row cms-user-index-table'>
      <thead>
        <tr>
          <% # THIS ORDER MATCHES ORDER OF ATTRIBUTES IN SCHOOLS_CONTROLLER. %>
          <% ['Name', 'Classes', 'Students', 'Activities Completed',
              'Last Active', 'Premium?', 'Make Admin', 'Sign In'].each do |td| %>
            <td><%= td %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @teacher_data.each do |teacher| %>
          <tr>
            <% teacher.values[0...-2].each do |value| %>
              <td><%= value %></td>
            <% end %>
            <td><%= teacher.values[-2] %></td>
            <td><%= teacher.values[-1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
</div>
