<div id="learning-tools" class="navbar-tooltip-trigger" tabindex="1">
  <span>Learning Tools</span>
  <div class="navbar-tooltip">
    <i class="fa fa-caret-up"></i>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Connect',
      subtext: 'Combine Sentences',
      image_src: 'https://assets.quill.org/images/navbar/navbar-connect-solid',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-connect-gradient',
      image_id: 'connect-img',
      link: '/tools/connect'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Lessons',
      subtext: 'Teacher-Led Group Lessons',
      image_src: 'https://assets.quill.org/images/navbar/navbar-lessons-solid',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-lessons-gradient',
      image_id: 'lessons-img',
      link: '/tools/lessons'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Diagnostic',
      subtext: 'Identify Learning Gaps',
      image_src: 'https://assets.quill.org/images/navbar/navbar-diagostic-solid',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-diagnostic-gradient',
      image_id: 'diagnostic-img',
      link: '/tools/diagnostic'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Proofreader',
      subtext: 'Fix Errors in Passages',
      image_src: 'https://assets.quill.org/images/navbar/navbar-proofreader-solid',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-proofreader-gradient',
      image_id: 'proofreader-img',
      link: '/tools/proofreader'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Grammar',
      subtext: 'Practice Basic Mechanics',
      image_src: 'https://assets.quill.org/images/navbar/navbar-grammar-solid',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-grammar-gradient',
      image_id: 'grammar-img',
      link: '/tools/grammar'
    %>
  </div>
</div>
