<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'head' %>

  <body id="new-home-page">

    <%= render partial: 'home_nav' %>

    <%= yield %>

    <%= render partial: 'pages/shared/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
