<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'head' %>

  <body id="new-home-page">
    <main>
      <%= render partial: 'home_nav' %>

      <%= yield %>
    </main>

    <%= render partial: 'footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
