<html lang='en'>
  <%= render partial: 'head' %>
  <body>
    <div class="page">
      <%= yield %>
    </div>
    <!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
    <%= redux_store_hydration_data %>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% if %w(pages subscriptions).include?(controller.controller_name) && %w(index premium).include?(controller.action_name) %>
    <script>var stripePubKey="<%=ENV["STRIPE_PUBLIC_KEY"] %>"</script>
    <script src="https://checkout.stripe.com/checkout.js" >
          data-key= stripePubKey
          data-locale="auto">
    </script>
    <%end%>
  </body>

</html>
