<html lang='en'>
  <%= render partial: 'head' %>
  <body>
    <%= render partial: 'application/webinar_banner' %>
    <%= render partial: 'application/demo_account_banner' %>
    <%= render partial: 'header', media: 'all', 'data-turbolinks-track' => true %>
    <%= render partial: 'admin_dashboard_header' %>
    <%= render partial: 'teachers/shared/scorebook_tabs' %>
    <%= react_component('ProgressReportApp', props: { currentUser: current_user, premiumStatus: current_user.premium_state, classrooms: current_user.classrooms_i_teach })%>



    <%= yield %>

    <%= render partial: 'footer', media: 'all', 'data-turbolinks-track' => true %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <% if Rails.env.development? %>
      <!-- Got sick of flaky Google CDN for dev -->
      <%= javascript_include_tag 'jquery-1.8.2' %>
    <% else %>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <% end %>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
