<div class='container'>
  <article class='simple-rounded-box cms-container'>
    <%= link_to 'User Directory', cms_users_path %> > <%= link_to @user.name, cms_user_path(@user.id) %> > Edit Subscription
    <br /><br />
    <h2>Edit Subscription: <%= @user.name %></h2>
    <br />
    <div class='cms-form'>
      <%= form_tag update_subscription_cms_user_path(params[:id]) do %>
        <div class='cms-form-row'>
          <%= label_tag 'premium_status', 'Premium Status' %>
          <%= select_tag 'premium_status', options_for_select(@user_premium_types, @account_type), include_blank: true, autocomplete: 'off' %>
        </div>

        <div class='cms-form-row'>
          <%= label_tag 'expiration_date', 'Expiration Date' %>
          <%= select_date @expiration_date, prefix: :expiration_date, autocomplete: 'off' %>
        </div>

        <div class='cms-submit-row'>
          <%= submit_tag 'Save' %><br /><br />
          <%= link_to 'Cancel', cms_user_path(@user.id)  %>
        </div>
      <% end %>
    </div>
  </article>
</div>
