%h2 Welcome, #{current_user.name}!
%p Teacher: #{User.where(:classcode => current_user.classcode).where(:role => "teacher").first.name}
%h3 Current Assignments

%table.table
  %tr
    %th Assignment
    %th Due Date
    %th Completion Date
    %th Score

  - current_user.scores.each do |score|
    - if score.assignment.due_date.to_i > Time.now.to_i && score.items_missed.nil?
      %tr
        %td= link_to score.assignment.chapter.try(:title), test_path(:chapter_id => score.assignment.chapter.try(:id), :assignment_id => score.assignment.id)
        %td= score.assignment.due_date.strftime("%a, %b %d %Y")
        - if score.completion_date
          %td= score.completion_date.strftime("%a, %b %d %Y")
        - else
          %td
        - if score.items_missed
          %td Quiz: #{score.items_missed}%, Lessons: #{score.lessons_completed}%
        - else
          %td incomplete

%h3 Past Assignments

%table.table
  %tr
    %th Assignment
    %th Due Date
    %th Completion Date
    %th Score

  - current_user.scores.each do |score|
    - if Time.now.to_i > score.assignment.due_date.to_i || !score.items_missed.nil?
      %tr
        %td= score.assignment.chapter.title
        %td= score.assignment.due_date.strftime("%a, %b %d %Y")
        - if score.completion_date
          %td= score.completion_date.strftime("%a, %b %d %Y")
        - else
          %td
        - if score.items_missed
          %td Quiz: #{score.items_missed}%, Lessons: #{score.lessons_completed}%
        - else
          %td incomplete
