%h2= "Welcome, #{current_user.name}!"
%p= "Teacher: #{User.where(:classcode => current_user.classcode).where(:role => "teacher").first.name}"
%h3 Current Assignments

%table.table
  %tr
    %th Assignment
    %th Due Date
    %th Completion Date
    %th Score

  - current_user.scores.each do |score|
    - if score.assignment.due_date.to_i > Time.now.to_i && score.items_missed.nil?
      %tr
        %td= link_to score.assignment.chapter.try(:title), chapter_test_practice_index_path(score.assignment.chapter, step: "practice")
        %td= score.assignment.due_date.strftime("%a, %b %d %Y")
        - if score.completed?
          %td= score.completion_date.strftime("%a, %b %d %Y")
          %td= (score.final_grade * 100).to_i.to_s + '%'
        - else
          %td
          %td incomplete

%h3 Past Assignments

%table.table
  %tr
    %th Assignment
    %th Due Date
    %th Completion Date
    %th Score

  - current_user.scores.each do |score|
    - if Time.now.to_i > score.assignment.due_date.to_i || !score.items_missed.nil?
      %tr
        %td= score.assignment.chapter.title
        %td= score.assignment.due_date.strftime("%a, %b %d %Y")
        - if score.completed?
          %td= score.completion_date.strftime("%a, %b %d %Y")
          %td= "Quiz: #{score.items_missed}%, Lessons: #{score.lessons_completed}%"
        - else
          %td
          %td incomplete
