<% content_for :all_activities_breadcrumbs do %>
  / <%= link_to @stem_vault.activity.name, @stem_vault.activity %>
<% end %>

<h1>New <%= @stem_vault.model_name.human.titleize %></h1>

<%= form_for @stem_vault, url: research_gen_ai_activity_stem_vaults_path(@activity) do |f| %>
  <%= render 'errors', object: @stem_vault %>

  <div class="field-spacing">
    <%= f.label :conjunction, "Conjunction:" %>
    <%= f.select :conjunction, options_for_select(@conjunctions), { required: true } %>
  </div>

  <div class="field-spacing">
    <%= f.label :stem %><br>
    <%= f.text_field :stem, size: 100, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
