<% content_for :all_activities_breadcrumbs do %>
  / <%= link_to @stem_vault.activity.name, @stem_vault.activity %>
<% end %>

<div>
  <h2><%= @stem_vault.model_name.human.titleize %></h2>

  <h3>Activity</h3>
  <p><%= @stem_vault.name %></p>

  <h3>Conjunction</h3>
  <p><%= @stem_vault.conjunction %></p>

  <h3>Stem</h3>
  <p><%= simple_format(@stem_vault.stem) %></p>
  <h3>

  <h3>
    Datasets
    <%= link_to 'new', new_research_gen_ai_stem_vault_dataset_path(stem_vault_id: @stem_vault), class: 'new-link', target: '_blank', style: 'margin-right: 20px;' %>
  </h3>

  <table>
    <thead>
      <tr>
        <th>Dataset</th>
        <th>Created</th>
        <th>Total Evaluation Responses</th>
        <th>Optimal</th>
        <th>Sub-optimal</th>
        <th>Trials</th>
        <th>Access</th>
      </tr>
    </thead>
    <tbody>
      <% @datasets.each do |dataset| %>
        <tr>
          <td><%= "Dataset #{dataset.version}" %></td>
          <td><%= date_helper(dataset.created_at) %></td>
          <td><%= dataset.optimal_count + dataset.suboptimal_count %></td>
          <td><%= dataset.optimal_count %></td>
          <td><%= dataset.suboptimal_count %></td>
          <td><%= dataset.trials.count %></td>
          <td><%= link_to "View", research_gen_ai_dataset_path(dataset) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>
    Optimal Guidelines
    <%= link_to 'new', new_research_gen_ai_stem_vault_guideline_path(@stem_vault), class: 'new-link', target: '_blank', style: 'margin-right: 20px;' %>
  </h3>
  <ul>
    <% @optimal_guidelines.each do |guideline| %>
      <%= form_with(url: hide_research_gen_ai_stem_vault_guideline_path(@stem_vault, guideline), method: :patch, class: 'guideline-form') do |form| %>
        <li id="guideline_<%= guideline.id %>" class="guideline-item">
          <div class="guideline-content">
            <%= guideline %>
          </div>
          <%= form.submit 'Hide', class: 'hide-button', data: { confirm: 'Are you sure you want to hide this guideline?' } %>
        </li>
      <% end %>
    <% end %>
  </ul>


  <h3>
    Suboptimal Guidelines
    <%= link_to 'new', new_research_gen_ai_stem_vault_guideline_path(@stem_vault), class: 'new-link', target: '_blank', style: 'margin-right: 20px;' %>
  </h3>


  <ul>
    <% @suboptimal_guidelines.each do |guideline| %>
      <%= form_with(url: hide_research_gen_ai_stem_vault_guideline_path(@stem_vault, guideline), method: :patch, class: 'guideline-form') do |form| %>
        <li id="guideline_<%= guideline.id %>" class="guideline-item">
          <div class="guideline-content">
            <%= guideline %>
          </div>
          <%= form.submit 'Hide', class: 'hide-button', data: { confirm: 'Are you sure you want to hide this guideline?' } %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<br>