<%= link_to 'Back to Activity', @stem_vault.activity %>

<div>
  <h2><%= @stem_vault.model_name.human.titleize %></h2>

  <h3>Activity</h3>
  <p><%= @stem_vault.name %></p>

  <h3>Conjunction</h3>
  <p><%= @stem_vault.conjunction %></p>

  <h3>Stem</h3>
  <p><%= simple_format(@stem_vault.stem) %></p>
  <h3>

  <h3>
    Datasets
    <%= link_to 'new', new_research_gen_ai_stem_vault_dataset_path(stem_vault_id: @stem_vault), class: 'new-link', target: '_blank', style: 'margin-right: 20px;' %>
  </h3>

  <table>
    <thead>
      <tr>
        <th>Dataset</th>
        <th>Created</th>
        <th>Total Evaluation Responses</th>
        <th>Optimal</th>
        <th>Sub-optimal</th>
        <th>Trials</th>
        <th>Access</th>
      </tr>
    </thead>
    <tbody>
      <% @datasets.each do |dataset| %>
        <tr>
          <td><%= "Dataset #{dataset.version}" %></td>
          <td><%= eastern_date(dataset.created_at) %></td>
          <td><%= dataset.optimal_count + dataset.suboptimal_count %></td>
          <td><%= dataset.optimal_count %></td>
          <td><%= dataset.suboptimal_count %></td>
          <td><%= dataset.trials.count %></td>
          <td><%= link_to "View", research_gen_ai_dataset_path(dataset) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>
    Optimal Guidelines
    <%= link_to 'new', new_research_gen_ai_stem_vault_guideline_path(@stem_vault), class: 'new-link', target: '_blank', style: 'margin-right: 20px;' %>
  </h3>
  <ul>
    <% @stem_vault.guidelines.optimal.each do |guideline| %>
      <li><%= guideline %></li>
    <% end %>
  </ul>

  <h3>
    Suboptimal Guidelines
    <%= link_to 'new', new_research_gen_ai_stem_vault_guideline_path(@stem_vault), class: 'new-link', target: '_blank', style: 'margin-right: 20px;' %>
  </h3>

  <ul>
    <% @stem_vault.guidelines.suboptimal.each do |guideline| %>
      <li><%= guideline %></li>
    <% end %>
  </ul>
</div>

<br>