<div class="container">
  

  <h1><%= @question.prompt %>...</h1>

  <div id="tagger-target" data-question-id=<%= @question.id %>></div>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
        <thead>
          <tr>
            <th>Submissions</th>
            <th>Text</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @responses.each do |response| %>
            <tr>
              <td><%= response.submissions %></td>
              <td><strong><%= @question.prompt %></strong><%= response.text.gsub(@question.prompt, "") %></td>
              <td><%= link_to 'Show', response %></td>
              <td><%= link_to 'Edit', edit_response_path(response) %></td>
              <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <br>

  <%= link_to 'New Response', new_question_response_path %>
</div>