<div class="subnav">
  <div class="container d-fl-r jc-sb">
    <div class="subnav-left">
      <div class="subnav-item">
        <p>
          <%= @response.question.prompt %> <strong><%= @response.text %></strong>
        </p>
      </div>
    </div>
    <div class="subnav-right">
      <div class="subnav-item"><%= link_to 'Edit', edit_response_path(@response) %></div>
      <div class="subnav-item"><%= link_to 'Destroy', @response, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
</div>

<div class="container">

  <h3>Response Label Metrics</h3>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter card-table">
        <thead>
          <tr>
            <th>Label</th>
            <th>Count</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @response.all_metrics.each do |label, count| %>
            <tr>
              <td><%= label %></td>
              <td><%= count %></td>
              <td><%= button_to "Reset", { action: "reset_tags", response_label_name: label }, data: { confirm: 'Are you sure you want to reset these response_label metrics?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <h3>Latest Tags</h3>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter card-table">
        <thead>
          <tr>
            <th>Label</th>
            <th>Latest Tag</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @response.latest_metrics.each do |label, tag| %>
            <tr>
              <td><%= label %></td>
              <td><%= tag %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <p>
    <strong>Question:</strong>
    <%= link_to @response.question.prompt, @response.question %>
  </p>

  <p>
    <strong>Question Set:</strong>
    <%= link_to QuestionSet.find(@response.question.question_set_id).prompt, QuestionSet.find(@response.question.question_set_id) %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= link_to @response.question.activity.title, @response.question.activity %>
  </p>
</div>
