%h2 Grammar rules

= link_to 'New grammar rule', new_cms_grammar_rule_path

%table.table
  %thead
    %tr
      %th Id
      %th Identifier
      %th Description
      %th Practice lesson
      %th

  %tbody
    - @grammar_rules.each do |grammar_rule|
      %tr
        %td= grammar_rule.id
        %td= grammar_rule.identifier
        %td= grammar_rule.description
        %td= grammar_rule.practice_lesson
        %td
          = link_to 'Edit', edit_cms_grammar_rule_path(grammar_rule)
          = link_to 'Destroy', cms_grammar_rule_path(grammar_rule), confirm: 'are you sure?', method: 'delete'

= paginate @grammar_rules
