<h1>Independent Activity Recommendations</h1>
<p>Assigned in fewer than ten seconds: <%=@independent_less_than_ten_seconds%></p>
<p>Assigned in more than ten seconds: <%=@independent_more_than_ten_seconds%></p>
<p>Percentage completed in fewer than ten seconds: <%=@percentage_of_independent_less_than_ten_seconds%>%</p>

<h1>Group Activity Recommendations</h1>
<p>Assigned in fewer than ten seconds: <%=@group_less_than_ten_seconds%></p>
<p>Assigned in more than ten seconds: <%=@group_more_than_ten_seconds%></p>
<p>Percentage completed in fewer than ten seconds: <%=@percentage_of_group_less_than_ten_seconds%>%</p>
