<% footer_class = current_user ? 'home-footer white' : 'home-footer' %>
<% logo_class = current_user ? 'dark' : 'light' %>

<% if show_site_navigation? %>
  <% if current_user&.student? || current_user&.staff? %>
    <footer class="student-footer">
      <div class="inner-container">
        <div class="privacy-and-terms">
          <p>© <%= Time.new.year %> Quill</p>
          <a href="/tos">Terms</a>
          <a href="/privacy">Privacy</a>
        </div>
      </div>
    </footer>
  <% else %>
    <%= render partial: 'application/premium_footer' %>
    <footer class="<%=footer_class%>">
      <div class="footer-navigation">
        <%= render partial: 'pages/shared/list_of_links_with_header', locals: { header_text: "TEACHER DASHBOARD", links_array: teacher_dashboard_links } if current_user %>
        <%= render partial: 'pages/shared/list_of_links_with_header', locals: { header_text: "LEARNING TOOLS", links_array: learning_tools_links } %>
        <%= render partial: 'pages/shared/list_of_links_with_header', locals: { header_text: "EXPLORE ACTIVITIES", links_array: explore_activities_links } if current_user %>
        <%= render partial: 'pages/shared/list_of_links_with_header', locals: { header_text: "EXPLORE CURRICULUM", links_array: explore_curriculum_links } if !current_user %>
        <%= render partial: 'pages/shared/list_of_links_with_header', locals: { header_text: "TEACHER CENTER", links_array: teacher_center_links } %>
        <%= render partial: 'pages/shared/list_of_links_with_header', locals: { header_text: "ABOUT US", links_array: about_us_links } %>
      </div>
      <div class="partners-footer">
        <p>Quill is a free literacy tool powered by an open source, non-profit community of educators and developers.</p>
        <a href="/about">
          <div class="partner-links">
            <img class="lazyload" src="https://assets.quill.org/images/logos/gates-logo-<%=logo_class%>.svg" alt='Gates Foundation Logo'/>
            <img class="lazyload" src="https://assets.quill.org/images/logos/google-logo-<%=logo_class%>.svg" alt='Google.org Logo'/>
            <img class="lazyload" src="https://assets.quill.org/images/logos/att-logo-<%=logo_class%>.svg" alt='AT&T Logo'/>
            <img class="lazyload" src="https://assets.quill.org/images/logos/fast-forward-logo-<%=logo_class%>.svg" alt='Fast Forward Logo'/>
            <img class="lazyload" src="https://assets.quill.org/images/logos/nbc-logo-<%=logo_class%>.svg" alt='NBC Logo'/>
            <img class="lazyload" src="https://assets.quill.org/images/logos/robinhood-logo-<%=logo_class%>.svg" alt='Robinhood Logo'/>
          </div>
        </a>
      </div>
      <div class="privacy-and-social flex-row space-between vertically-centered">
        <div class="pas-left flex-row">
          <p>© <%= Time.new.year %> Quill</p>
          <p>Quill is 501(c)(3) nonprofit organization</p>
          <a href="/tos">Terms</a>
          <a href="/privacy">Privacy</a>
          <a>hello@quill.org</a>
          <a href="tel:510-671-0222">510-671-0222</a>
        </div>
        <div class="pas-right flex-row">
          <a rel="noopener noreferrer" target="_blank" href="http://twitter.com/Quill_org">
            <img class="lazyload" src="https://assets.quill.org/images/logos/twitter-logo-<%=logo_class%>.svg" alt='Twitter Logo'/>
          </a>
          <a rel="noopener noreferrer" target="_blank" href="https://facebook.com/quill.org">
            <img class="lazyload" src="https://assets.quill.org/images/logos/facebook-logo-<%=logo_class%>.svg" alt='Facebook Logo'/>
          </a>
          <a rel="noopener noreferrer" target="_blank" href="http://instagram.com/quill_org/">
            <img class="lazyload" src="https://assets.quill.org/images/logos/instagram-logo-<%=logo_class%>.svg" alt='Instagram Logo'/>
          </a>
        </div>
        <p class="cb-disclaimer">College Board, AP, Pre-AP, and the acorn logo are registered trademarks of College Board.<p>
      </div>
    </footer>
  <% end %>
<% end %>
