<%= render partial: 'pages/shared/pages_tabs' %>
<%= render partial: 'pages/shared/activities_subtabs' %>

<div id="#page-content-wrapper">
  <div id="public-activity-packs" class="tab-pane teachers-unit-template" data-id="<%= @unit_template_id %>" data-authenticated=<%=@is_teacher%>>
  <%= react_component('PublicActivityPacksApp', props: {})%>
  </div>
</div>
