<% data_status = item[:data] ? 'has-data' : 'no-data' %>
<section class="snapshot-item snapshot-ranking <%= data_status %>">
  <div>
    <div class="header">
      <h3><%= item[:label] %></h3>
    </div>
    <table class="table">
      <tr class="header-row">
        <% item[:headers].each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
      <% item[:data].each do |row| %>
        <tr class="data-row">
          <td><%== row[:value] || '-' %></td>
          <td><%= row[:count] || '-' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</section>