<script>
  function unlockField(fieldName) {
    document.getElementById(fieldName).removeAttribute('readonly');
    document.getElementById(fieldName).focus();
    // The first sibling is the empty text between the input field and edit link.
    document.getElementById(fieldName).nextSibling.nextSibling.remove();
  }
</script>
<div class='cms-form'>
  <% url =  @with_school ? "/cms/users/create_with_school/#{@school.id}" : "/cms/users/#{@user.id}" %>
  <%= form_for @user, url: url do |f| %>
    <div class='cms-form-row'>
      <%= f.label :name %>
      <span>First and Last</span>
      <%= f.text_field :name, autocomplete: 'off' %>
    </div>
    <div class='cms-form-row'>
      <%= f.label :email %>
      <%= f.text_field :email, autocomplete: 'off', readonly: !@with_school %>
      <% if !@with_school %>
        <a href='#!' onclick="unlockField('user_email')">Edit</a>
      <%end%>
    </div>
    <div class='cms-form-row'>
      <%= f.label :username %>
      <%= f.text_field :username, autocomplete: 'off' %>
    </div>
    <div class='cms-form-row'>
      <%= f.label :title %>
      <%= f.text_field :title, autocomplete: 'off' %>
    </div>
    <div class='cms-form-row'>
      <%= f.label :role %>
      <%= f.select :role, [['student', 'student'], ['teacher', 'teacher'], ['admin', 'admin'], ['staff', 'staff']], autocomplete: 'off' %>
    </div>
    <div class='cms-form-row'>
      <%= f.label :flagset %>
      <%= f.select :flagset, UserFlagset::FLAGSETS.keys.map(&:to_s) %>
    </div>
    <div class='cms-form-row'>
      <%= f.label :classcode %>
      <%= f.text_field :classcode, autocomplete: 'off' %>
    </div>
    <div class='cms-form-row'>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'new-password', readonly: !@with_school %>
      <% if !@with_school %>
        <a href='#!' onclick="unlockField('user_password')">Edit</a>
      <%end%>
    </div>
    <div class='cms-form-row'>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password', readonly: !@with_school %>
      <% if !@with_school %>
        <a href='#!' onclick="unlockField('user_password_confirmation')">Edit</a>
      <%end%>
    </div>
    <div class='cms-submit-row'>
      <%= f.submit 'Save', class: 'button-green' %>
    </div>
  <% end %>
</div>
<br />
<% if @user.id %>
  <%= button_to 'Clear User Data', clear_data_cms_user_path(@user), { :method => :put, :data => {confirm: 'Are you sure?'}, :class => 'btn btn-danger destroy'} %>
<% end %>
