<div class='container'>
  <article class='simple-rounded-box cms-container subscriptions'>
    <%= link_to 'User Directory', cms_users_path %> > Edit
    <br /><br />
    <h2>Edit: <%= @user.name %></h2>
    <br />
    <%= link_to 'Create Subscription', "/cms/users/#{params[:id]}/new_subscription", class: 'btn button-green' %>
    <br /><br />
    <% if @user.subscriptions.any? %>
      <%= react_component('SubscriptionApp', props: {
            view: 'subscriptionHistory',
            subscriptions: @user.subscriptions,
            premiumCredits: @user.credit_transactions,
            authorityLevel: 'purchaser'
          }
        )
      %>
    <% end %>
    <%= render "form" %>
  </article>
</div>
