<%= link_to 'Back to Experiments', research_gen_ai_experiments_path %>
<br>

<% if @previous %>
  <%= link_to "Previous", @previous %>
<% end %>

<% if @next %>
  <%= link_to "Next", @next %>
<% end %>

<div>
  <h2>Experiment</h2>
  <p><%= @experiment.created_at.strftime("%B %d, %Y %H:%M") %></p>

  <h3>Passage</h3>
  <p><%= link_to @experiment.passage_prompt, @experiment.passage_prompt %></p>

  <h3>LLM</h3>
  <p><%= @experiment.llm_config %></p>

  <%= link_to 'LLMPromptTemplate', @experiment.llm_prompt.llm_prompt_template %>

  <h3>LLM Prompt</h3>
  <p><%= link_to @experiment.llm_prompt.description, @experiment.llm_prompt %></p>

  <hr/>
  <h3>Results</h3>
  <% if @experiment.results %>
    <p>Accuracy (identical): <%= @experiment.results['accuracy_identical'] %></p>
    <p>Accuracy (sub/optimal): <%= @experiment.results['accuracy_optimal_sub_optimal'] %></p>
    <p>Bleu: <%= @experiment.results.dig('misc_metrics', 'bleu', 'bleu')&.round(2) %></p>
    <p>Rouge1: <%= @experiment.results.dig('misc_metrics', 'rouge', 'rouge1')&.round(2) %></p>
    <p>Rouge2: <%= @experiment.results.dig('misc_metrics', 'rouge', 'rouge2')&.round(2) %></p>
    <p>RougeL: <%= @experiment.results.dig('misc_metrics', 'rouge', 'rougeL')&.round(2) %></p>
    <p>RougeL Sum: <%= @experiment.results.dig('misc_metrics', 'rouge', 'rougeLsum')&.round(2) %></p>
    <p>Experiment duration: <%= experiment_duration(@experiment) %></p>
    <p>Evaluation duration: <%= evaluation_duration(@experiment) %></p>

    <% if @experiment.results['api_call_times'] %>
      <p>Api call times: <%= @experiment.results['api_call_times'] %></p>
      <%= render 'histogram', histogram: @histogram %>
    <% end %>

    <%= render 'matrix', matrix: @experiment.results['confusion_matrix'], title: 'Confusion Matrix' %>

    <table>
      <thead>
        <tr>
          <th>Identical match</th>
          <th>OptSubOpt match</th>
          <th>BertScore (F1)</th>
          <th>BertScore (Precision)</th>
          <th>BertScore (Recall)</th>
          <th>Prompt Response</th>
          <th class='feedback-column'>Example Feedback</th>
          <th class='feedback-column'>LLM Feedback</th>
        </tr>
      </thead>
      <tbody>
        <% @experiment.llm_feedbacks.each.with_index do |llm_feedback, index| %>
          <tr>
            <% example_feedback = llm_feedback.example_feedback %>
            <td class="<%= llm_feedback.identical_feedback? ? 'green' : 'red' %>"></td>
            <td class="<%= llm_feedback.optimal_or_sub_optimal_match? ? 'green' : 'red' %>"></td>
            <td><%= @experiment.results.dig('misc_metrics', 'bert_score', 'f1', index)&.round(2) %></td>
            <td><%= @experiment.results.dig('misc_metrics', 'bert_score', 'precision', index)&.round(2) %></td>
            <td><%= @experiment.results.dig('misc_metrics', 'bert_score', 'recall', index)&.round(2) %></td>
            <td><%= llm_feedback.passage_prompt_response %></td>
            <td><%= llm_feedback.example_feedback %></td>
            <td><%= llm_feedback  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p><%= progress(@experiment) %></p>
    <% end %>



  <h3>Status</h3>
  <p><%= @experiment.status.capitalize %></p>

  <% if @experiment.experiment_errors&.any? %>
  <h3>Experiment Errors</h3>
    <ul>
      <% @experiment.experiment_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

</div>

