<h1>New LLM Configuration</h1>

<%= form_for @llm_config do |f| %>
  <%= render 'errors', object: @llm_config %>

  <div class="field-spacing">
    <%= f.label :vendor %><br>
    <%= f.text_field :vendor, size: 50, required: true %>
  </div>

  <div class="field-spacing">
    <%= f.label :version %><br>
    <%= f.text_field :version, size: 50, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
