<header>
  <h2>Activities</h2>
</header>

<%= link_to 'New Activity', new_research_gen_ai_activity_path %>
<br>
<br>

<% if @activities.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.id %></td>
          <td><%= activity.created_at.strftime("%m/%d/%y, %H:%M") %></td>
          <td><%= activity.name %></td>
          <td><%= link_to "View", activity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div>
    <% @activities.each do |activity| %>
      <% activity.stem_vaults.each do |stem_vault| %>
        <% trial = stem_vault&.trials&.order(:created_at)&.last %>
        <% next unless trial&.confusion_matrix %>
        <hr>
        <h3><%= stem_vault %></h3>
        <%= render 'classification_confusion_matrix_comparison',
          automl_matrix: stem_vault.confusion_matrix,
          automl_labels: stem_vault.labels,
          rag_matrix: trial.confusion_matrix,
          rag_labels: trial.labels
        %>
      <% end %>
    <% end %>
<% else %>
  <p>No activities found.</p>
<% end %>

