<h1>New Activity</h1>

<%= form_for @activity do |f| %>
  <%= render 'errors', object: @activity %>

  <div class="field-spacing">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 100, required: true %>
  </div>

  <div class="field-spacing">
    <%= f.label :text %><br>
    <%= f.text_area :text, cols: 100, rows: 50, required: true %>
  </div>

  <div class="field-spacing">
    <%= f.label :because_text %><br>
    <%= f.text_area :because_text, cols: 100, rows: 25 %>
  </div>

  <div class="field-spacing">
    <%= f.label :but_text %><br>
    <%= f.text_area :but_text, cols: 100, rows: 25 %>
  </div>

  <div class="field-spacing">
    <%= f.label :so_text %><br>
    <%= f.text_area :so_text, cols: 100, rows: 25 %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
