<div>
  <h2>Activity</h2>

  <h3>Name</h3>
  <p><%= @activity.name %></p>

  <h3>Text</h3>
  <p><%= simple_format(@activity.text) %></p>

  <h3>Because Evidence</h3>
  <p><%= simple_format(@activity.because_evidence) %></p>

  <h3>But Evidence</h3>
  <p><%= simple_format(@activity.but_evidence) %></p>

  <h3>So Evidence</h3>
  <p><%= simple_format(@activity.so_evidence) %></p>
</div>

<br>
<%= link_to 'New Trial', new_research_gen_ai_trial_path %>
<br>
<br>
<%= link_to 'Trials', research_gen_ai_trials_path %>
