<% stem_vaults = @activity.stem_vaults %>

<div>
  <h2>Activity</h2>

  <h3>Name</h3>
  <p><%= @activity.name %></p>

  <h3>
    Stem Vaults
    <%= link_to 'new', new_research_gen_ai_activity_stem_vault_path(activity_id: @activity), class: 'new-link', target: '_blank', style: 'margin-right: 20px;' %>
  </h3>
  <ul>
    <% @activity.stem_vaults.each do |stem_vault| %>
      <li><%= link_to stem_vault, stem_vault %></li>
    <% end %>
  </ul>

  <h3>Text</h3>
  <p><%= simple_format(@activity.text) %></p>

  <h3>Because Evidence</h3>
  <p><%= simple_format(@activity.because_text) %></p>

  <h3>But Evidence</h3>
  <p><%= simple_format(@activity.but_text) %></p>

  <h3>So Evidence</h3>
  <p><%= simple_format(@activity.so_text) %></p>


</div>

<br>