%h2 Chapter groups

= link_to 'New chapter group', new_cms_chapter_group_path

%table.table
  %thead
    %tr
      %th Id
      %th Title
      %th Lecture
      %th Position
      %th

  %tbody
    - @chapter_groups.each do |chapter_group|
      %tr
        %td= chapter_group.id
        %td= chapter_group.title
        %td
          - if chapter_group.lecture.present?
            = link_to chapter_group.lecture.title, cms_lecture_path(chapter_group.lecture)
        %td= chapter_group.position
        %td
          = link_to 'Edit', edit_cms_chapter_group_path(chapter_group)
          = link_to 'Destroy', cms_chapter_group_path(chapter_group), confirm: 'are you sure?', method: 'delete'

= paginate @chapter_groups
