<%= form_with(model: response_label, local: true) do |form| %>
  <% if response_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response_label.errors.count, "error") %> prohibited this response_label from being saved:</h2>

      <ul>
      <% response_label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
