<p id="notice"><%= notice %></p>

<h1>Response Labels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @response_labels.each do |response_label| %>
      <tr>
        <td><%= response_label.name %></td>
        <td><%= response_label.description %></td>
        <td><%= link_to 'Show', response_label %></td>
        <td><%= link_to 'Edit', edit_response_label_path(response_label) %></td>
        <td><%= link_to 'Destroy', response_label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response Label', new_response_label_path %>
