<!DOCTYPE html>
<html>
  <head>
    <title>QuillComprehension</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_react' %>
  </head>

  <body>
    <div class='navbar'>
      <div class='container'>
        <div class="navbar-inner">
          <span class='logo'>Quill.org</span>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
