<!DOCTYPE html>
<html>
  <head>
    <title>QuillComprehension</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <script src="https://unpkg.com/feather-icons"></script>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_pack_tag @page_style_bundle if @page_style_bundle %>
    <%= javascript_pack_tag @page_js_bundle if @page_js_bundle %>
    
  </head>

  <body>
    <div class="page">
      <div class="page-main">
        <% if notice %>
          <div class="alert alert-primary" role="alert">
            <div class='container'>
              <%= notice %>
            </div>
          </div>
        <% end %>
        <div class='navbar'>
          <div class='container'>
            <div class="navbar-inner d-fl-r ai-c">
              <i data-feather="feather" class="m-r-1"></i><span class="logo">Comprehension</span>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
    <div id="modal-root"></div>
  </body>
  <script>
    feather.replace()
  </script>
</html>
