<div class="about-subtabs tab-subnavigation-wrapper">
	<div class="container">
		<ul>
			<li><%= link_to "Mission", mission_path, class: about_subtab_class("mission") %></li>
			<li><%= link_to "Community Development", develop_path, class: about_subtab_class("develop") %></li>
			<li><%= link_to "Meet the Team", team_path, class: about_subtab_class("team") %></li>
			<li><%= link_to "FAQ", faq_path, class: about_subtab_class("faq") %></li>
      <li><%= link_to "News", 'http://news.quill.org' %></li>
		</ul>
	</div>
</div>