<div class="about-subtabs tab-subnavigation-wrapper">
	<div class="container">
		<ul>
			<li><%= link_to "Team", team_path, class: subtab_class("team") %></li>
			<li><%= link_to "Mission", mission_path, class: subtab_class("mission") %></li>
			<li><%= link_to "Community Development", develop_path, class: subtab_class("develop") %></li>
			<li><%= link_to "FAQ", faq_path, class: subtab_class("faq") %></li>
			<!-- <li><%= link_to "Press Kit", press_kit_path, class: subtab_class("faq") %></li> -->
      <!-- <li><%= link_to "News", 'http://news.quill.org' %></li> -->
		</ul>
	</div>
</div>
