<div class="discover-tabs">
  <div class="tab-outer-wrap full-screen">
    <div class="container">
      <ul class="nav nav-tabs tabs-navigation-list" role="tablist" id="teacher-nav-tabs">
        <li class=<%= pages_tab_class("topics") %> 'activities-nav-tab'>
          <%= link_to "Topics", activities_packs_path %>
        </li>
        <li class=<%= pages_tab_class("standards") %>>
          <%= link_to "Standards", activities_section_path(section_id: 7) %>
        </li>
        <li class=<%= pages_tab_class("getting_started") %>>
          <%= link_to "Getting Started", teacher_resources_path %>
        </li>
        <li class=<%= pages_tab_class("faq") %>>
          <%= link_to 'FAQ', faq_path  %>
        </li>
        <li class='premium-tab'><%= active_link_to "Premium" , premium_path %></li>
      </ul>
    </div>
  </div>

  <% tabs = [
    {name: 'Topics', url: 'activities/packs'},
    {name: 'Standards', url: 'activities/section/7'},
    {name: 'Getting Started', url: 'teacher_resources'},
    {name: 'FAQ', url: 'faq'},
    {name: 'Premium', url: 'premium'}
    ]
    @tabs = tabs
    @mobile = false
  %>

  <div class="small-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
  </div>

</div>
