<div class="media-subtabs tab-subnavigation-wrapper">
	<div class="container">
		<ul>
			<li><%= link_to "News", 'http://news.quill.org/', class: subtab_class("team") %></li>
			<li><%= link_to "Press", press_path, class: subtab_class("press") %></li>
			<li><%= link_to "Blog Posts", blog_posts_path, class: subtab_class("faq") %></li>
			<li><%= link_to "Press Kit", press_kit_path, class: subtab_class("faq") %></li>
			<!-- <li><%= link_to "News", 'http://news.quill.org' %></li> -->
		</ul>
	</div>
</div>
