<div class="tab-outer-wrap">
  <div class="container">
    <ul class="nav nav-tabs tabs-navigation-list" role="tablist">
      <li class=<%= pages_tab_class("activities") %>>
        <%= link_to "Activities", activities_path %>
      </li>
      <li class=<%= pages_tab_class("about") %>>
        <%= link_to 'About', mission_path  %>
      </li>
      <li class=<%= pages_tab_class("impact") %>>
        <%= link_to "Impact", impact_path %>
      </li>
      <li class='premium-tab'><%= active_link_to "Premium" , premium_path %></li>
    </ul>
  </div>
</div>