<div class="container">
  <article class="simple-rounded-box">
    <h1><%= @recommendation.name.titleize %> Recommendation</h1>
    <hr>
    <h2>Criteria</h2>
    <% if @recommendation.present? && @recommendation.criteria.present? -%>
      <table class="table cms-recommendations-table">
        <thead>
          <tr>
            <th>Concept</th>
            <th>No Incorrect</th>
            <th>Count</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @recommendation.criteria.each do |criterion| %>
          <tr>
            <td><%= criterion.concept.name %></td>
            <td><%= criterion.no_incorrect %></td>
            <td><%= criterion.count %></td>
            <td>
              <%= link_to 'Edit',
                edit_cms_activity_classification_activity_recommendation_criterion_path(
                  @activity_classification,
                  @activity,
                  @recommendation,
                  criterion
                )
              %>
            </td>
            <td>
              <%= button_to 'Delete',
                cms_activity_classification_activity_recommendation_criterion_path(
                  @activity_classification,
                  @activity,
                  @recommendation,
                  criterion
                ),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'interactive-wrapper'
              %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p>None Yet</p>
    <% end %>
    <%= link_to 'New Criteria',
      new_cms_activity_classification_activity_recommendation_criterion_path(
        @activity_classification,
        @activity,
        @recommendation
      )
    %>
  </article>
</div>
