%p#notice= notice

-# TEACHER PAGE
- if current_user.teacher?
	%h2 Welcome #{current_user.name}!
	%p Class code: #{current_user.classcode}
	%p= link_to 'Directory', users_path
	%h3 My Students
	%table
		%tr
			%th Students
			- if current_user.assignments
				- current_user.assignments.sort!{|x,y|x.chapter_id <=> y.chapter_id}.each do |assignment|
					%th #{assignment.chapter.title}
		- @roster.each do |student|
			%tr
				%td= student.name
				- current_user.assignments.sort!{|x,y|x.chapter_id <=> y.chapter_id}.each do |assignment|
					- @has_score = false
					- student.scores.each do |score|
						- if score.assignment == assignment
							- @has_score = true
							- if score.items_missed
								%td #{score.items_missed} missed, #{score.lessons_completed} completed
							- else
								%td incomplete
					- if !@has_score
						%td


	%p= link_to 'Invite Student', new_user_path
	%h3 My Assignments
	- if current_user.assignments
		%table
			%tr
				%th Chapter
				%th Due Date
				%th
				%th
			- current_user.assignments.each do |assignment|
				%tr
					%td #{link_to assignment.chapter.title,chapter_path(assignment.chapter)}
					%td #{assignment.due_date.strftime("%a, %b %d %Y")}
					%td #{link_to 'Edit',edit_assignment_path(assignment)}
					%td #{link_to 'Delete', assignment, :method => :delete, :data => { :confirm => 'Are you sure?'}}
	%h3 #{Workbook.first.title} Workbook:
	- Workbook.first.chapters.each do |chapter|
		%h4 #{link_to chapter.title, chapter}
		%p #{link_to 'Assign', new_assignment_path(:chapter_id => chapter.id, :user_id => current_user.id, :classcode => current_user.classcode)} • #{link_to 'Edit', edit_chapter_path(chapter)} • #{link_to 'Delete', chapter, :method => :delete, :data => { :confirm => 'Are you sure?' }}
		-# if chapter.assessment.present?
			#{link_to 'Assessment', assessment_path(chapter.assessment)} • Rules • Lessons
			%br
			%br
		-# else
			#{link_to 'Add Assessment', new_assessment_path(:chapter_id => chapter.id)} • Add Rules • Add Lessons
			%br
			%br

	%p= link_to 'New Chapter', new_chapter_path(:workbook_id => Workbook.first.id)

-# ADMIN PAGE
- if current_user.admin?
	%h2 Admin page
	%h3 All users
	- User.all.each do |user|
		%p #{user.name}: #{user.role}

-# STUDENT PAGE
- if !(current_user.admin?) && !(current_user.teacher?) && current_user
	%h2 Welcome, #{current_user.name}!
	%p Teacher: #{User.where(:classcode => current_user.classcode).where(:role => "teacher").first.name}
	%h3 Current Assignments
	%table
		%tr
			%th Assignment
			%th Due Date
			%th Completion Date
			%th Score
		- current_user.scores.each do |score|
			- if score.assignment.due_date.to_i > Time.now.to_i
				%tr
					%td= link_to score.assignment.chapter.title, chapter_path(score.assignment.chapter)
					%td= score.assignment.due_date.strftime("%a, %b %d %Y")
					- if score.completion_date
						%td= score.completion_date.strftime("%a, %b %d %Y")
					- else
						%td
					- if score.items_missed
						%td #{score.items_missed} missed, #{score.lessons_completed} completed
					- else
						%td incomplete
	%h3 Past Assignments
	%table
		%tr
			%th Assignment
			%th Due Date
			%th Completion Date
			%th Score
		- current_user.scores.each do |score|
			- if Time.now.to_i > score.assignment.due_date.to_i
				%tr
					%td= link_to score.assignment.chapter.title, chapter_path(score.assignment.chapter)
					%td= score.assignment.due_date.strftime("%a, %b %d %Y")
					- if score.completion_date
						%td= score.completion_date.strftime("%a, %b %d %Y")
					- else
						%td
					- if score.items_missed
						%td #{score.items_missed} missed, #{score.lessons_completed} completed
					- else
						%td incomplete


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
