<div class="container">
  <div class="column">
    <p><%= datetime_helper(@comparison.created_at) %></p>
  </div>
</div>
<hr>

<div>
  <select id="filter-dropdown" onchange="filterRows()">
    <option value="all">Show all</option>
    <option value="checked">Checked responses only</option>
    <option value="non-matching">Show Non-Matching (Red) Only</option>
  </select>
  <table>
    <thead style="position: sticky; top: 0; background-color: #fff; z-index: 1;">
      <tr>
        <th class="dark-border">Select</th>
        <th class="dark-border">#</th>
        <th class="dark-border">Student Responses</th>
        <th class="dark-border"><%= render 'feedback_key' %></th>

        <% @trials.each do |trial| %>
          <th class='dark-border-top no-border-right'></th>
          <th class='dark-border-top-bottom'></th>
          <th class="dark-border-top-bottom-right">
            <%= trial.name %>
            <%= render 'confusion_matrix', matrix: trial.confusion_matrix %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @test_examples.each.with_index do |test_example, index| %>
        <tr class="response-row">
          <td class='dark-border'>
            <input type="checkbox" class="response-checkbox" id="checkbox-<%= index %>">
          </td>
          <td class='dark-border'><%= index + 1 %></td>
          <td class='dark-border'>
            <%= test_example.student_response %>
          </td>
          <td class='dark-border'>
            <%= test_example.curriculum_proposed_feedback %>
          </td>
          <% @trials.each do |trial| %>
            <% llm_example = trial.llm_examples.find_by(test_example:) %>
            <% if llm_example %>
              <% llm_example_index = trial.llm_examples.index(llm_example) %>
              <% g_eval_id = trial.g_evals&.keys&.first %>
              <% g_eval_score = trial.g_evals&.dig(g_eval_id, llm_example_index) || '' %>
              <td class='dark-border-top-bottom-left' style="background-color: <%= llm_example.optimal_or_suboptimal_match? ? 'lightgreen' : 'lightcoral' %>;">
                <%= llm_example.optimal? ? :O : :S %>
              </td>
              <td class='dark-border-top-bottom'>
                <%= g_eval_score %>
              </td>
              <td class='dark-border-top-bottom-right'>
                <%= llm_example&.llm_feedback %>
              </td>
            <% else %>
              <td class='dark-border-top-bottom-left'></td>
              <td class='dark-border-top-bottom'></td>
              <td class='dark-border-top-bottom-right'>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  .dark-border {
    border: 2px solid black;
  }
  .dark-border-top {
    border-top: 2px solid black;
  }
  .dark-border-left {
    border-left: 2px solid black;
  }
  .dark-border-right {
    border-right: 2px solid black;
  }
  .dark-border-top-bottom-right {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  .dark-border-top-bottom-left {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }
  .dark-border-top-bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .feedback-key-font {
    font-size: 12px;
  }
  .hidden {
    display: none;
  }
</style>

<script>
  function filterRows() {
    const filterValue = document.getElementById('filter-dropdown').value;
    const rows = document.querySelectorAll('.response-row');

    rows.forEach(row => {
      const checkbox = row.querySelector('.response-checkbox');
      const hasRedCell = row.querySelector('td[style*="lightcoral"]');

      switch(filterValue) {
        case 'all':
          row.classList.remove('hidden');
          break;
        case 'checked':
          row.classList.toggle('hidden', !checkbox.checked);
          break;
        case 'non-matching':
          row.classList.toggle('hidden', !hasRedCell);
          break;
      }
    });
  }
  filterRows();
</script>