%h2 Lecture chapter images

= link_to 'New lecture chapter image', new_cms_lecture_chapter_image_path

%table.table
  %thead
    %tr
      %th Id
      %th Lecture chapter
      %th Image file
      %th

  %tbody
    - @lecture_chapter_images.each do |lecture_chapter_image|
      %tr
        %td= lecture_chapter_image.id
        %td
          - if lecture_chapter_image.lecture_chapter.present?
            = link_to lecture_chapter_image.lecture_chapter.title, cms_lecture_chapture_path(lecture_chapter_image.lecture_chapter)
        %td
          %img{src: lecture_chapter_image.image_file}
        %td
          = link_to 'Edit', edit_cms_lecture_chapter_image_path(lecture_chapter_image)
          = link_to 'Destroy', cms_lecture_chapter_image_path(lecture_chapter_image), confirm: 'are you sure?', method: 'delete'

= paginate @lecture_chapter_images
