%h2== Showing lecture chapture ##{@lecture_chapture.id}

%dl
  %dt Lecture
  %dd= @lecture_chapture.lecture.try(:title)
  %dt Title
  %dd= @lecture_chapture.title
  %dt Subtitle
  %dd= @lecture_chapture.subtitle
  %dt Position
  %dd= @lecture_chapture.position
  %dt Youtube embed code
  %dd= markdown @lecture_chapture.youtube_embed_code
  %dt Citation text
  %dd= markdown @lecture_chapture.citation_text
  %dt Reading text
  %dd= markdown @lecture_chapture.reading_text
  %dt Annotatable text
  %dd= markdown @lecture_chapture.annotatable_text
  %dt Chart embed code
  %dd= markdown @lecture_chapture.chart_embed_code
  %dt Globe embed code
  %dd= markdown @lecture_chapture.globe_embed_code
  %dt Quiz embed code
  %dd= markdown @lecture_chapture.quiz_embed_code
  %dt Slideshow embed code
  %dd= markdown @lecture_chapture.slideshow_embed_code
