<h1>Edit Example Feedback</h1>

<div class="field-spacing">
  <h3>Response</h3>
  <p><%= @example_feedback.passage_prompt_response %></p>
</div>

<div class="field-spacing">
  <h3>Feedback</h3>
  <p><%= @example_feedback.text %></p>
</div>

<div class="field-spacing">
  <h3>Label</h3>
  <p><%= @example_feedback.label %></p>
</div>

<%= form_for @example_feedback do |f| %>
  <%= render 'errors', object: @example_feedback %>

  <hr/>
  <h2>Editable Fields</h2>
  <div class="field-spacing">
    <%= f.label :chain_of_thought %><br>
    <%= f.text_area :chain_of_thought, cols: 100, rows: 5 %>
  </div>

  <div class="field-spacing">
    <%= f.label :paraphrase %><br>
    <%= f.text_area :paraphrase, cols: 100, rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
