<div class="container">
  <div id="staff_panel">
    <article class="simple-rounded-box">
      <table class="table">
      <thead><tr><th>Staff Console</th></tr></thead>
      <tbody>
      <tr><td><%= link_to 'Rails Admin - Master CMS (Beta)', '/staff/activity' %></td></tr>
      <tr><td><%= link_to 'User Manager', cms_users_path %></td></tr>
      <tr><td><%= link_to 'School Manager', cms_schools_path %></td></tr>
      </tbody>
      </table>
    </article>

    <article class="simple-rounded-box">
      <table class="table">
      <thead><tr><th>Teacher Fixes</th></tr></thead>
      <tbody>
      <tr><td><%= link_to "Index", 'teacher_fix' %></td></tr>
      </tbody>
      </table>
    </article>

    <article class="simple-rounded-box">
      <table class="table">
      <thead><tr><th>Teacher Resources</th></tr></thead>
      <tbody>
      <tr><td><%= link_to 'All Posts', cms_blog_posts_path %></td></tr>
      <tr><td><%= link_to 'Manage Announcements', cms_announcements_path %></td></tr>
      <tr><td><%= link_to 'Manage Uploaded Images', cms_images_path %></td></tr>
    </tbody>
      </table>
    </article>

    <article class="simple-rounded-box">
      <table class="table">
      <thead><tr><th>Activity Management System</th></tr></thead>
      <tbody>
      <tr><td><%= link_to 'Activities Editor', cms_activity_classifications_path %></td></tr>
      <tr><td><%= link_to "Activity Packs Editor", cms_unit_templates_path %></td></tr>
      <tr><td><%= link_to "Activity Packs Categories Editor", cms_unit_template_categories_path %></td></tr>
      <tr><td><%= link_to "Authors Editor", cms_authors_path %></td></tr>
    </tbody>
      </table>
    </article>

    <article class="simple-rounded-box">
      <table class="table">
      <thead><tr><th>Concept Management System</th></tr></thead>
      <tbody>
      <tr><td><%= link_to "Concepts Manager", cms_concepts_path %></td></tr>
      <tr><td><%= link_to "Activity Category Manager", cms_activity_categories_path %></td></tr>
      <tr><td><%= link_to "Attributes Manager", cms_attributes_manager_index_path %></td></tr>
    </tbody>
      </table>
    </article>

    <article class="simple-rounded-box">
      <table class="table">
      <thead><tr><th>Comprehension Management System</th></tr></thead>
      <tbody>
      <tr><td><%= link_to 'Activities Editor', cms_comprehension_index_path %></td></tr>
    </tbody>
      </table>
    </article>

  </div>
</div>
