<% content_for :custom_pdf_template do %>
  <%= stylesheet_link_tag "admin_usage_snapshot_report_pdf", media: "all" %>
<% end %>

<main class="admin-usage-snapshot-report-pdf">
  <img alt="Quill logo" class="quill-logo" src="https://assets.quill.org/images/logos/quill-logo-green.svg" />
  <h1>Usage Snapshot Report</h1>
  <div class="applied-filters">
    <h3>Important Note</h3>
    <p>These metrics were calculated using the filters you had applied at the time this report was sent.</p>
    <a href="https://support.quill.org/en/articles/8358350-how-do-i-use-the-usage-snapshot-report">Learn more</a>
    <div class="filter-sections">
      <div class="filter-section">
        <h4 class="filter-section-title">Timeframe:</h4>
        <p><%= data[:timeframe] %></p>
      </div>
      <% %i[schools grades teachers classrooms].each do |filter_section| %>
        <div class="filter-section">
          <h4 class="filter-section-title"><%= filter_section.capitalize %>:</h4>
          <% if data[filter_section] %>
            <% data[filter_section].each do |filter| %>
              <span class="pill"><%= filter %></span>
            <% end %>
          <% else %>
            <p>All <%= filter_section %> selected</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>