<% @active_tab = 'Standards' %>
<%= render partial: 'pages/shared/discover_tabs', active_tab: @active_tab  %>
<%= render partial: 'pages/shared/activities_subtabs'%>

<div class="container pages-container pages-activities">

  <div class="row">
    <div class="col-xs-12">
      <p>
          We've built over 150 activities directly from the Common Core State Standards.
          We are a nonprofit organization, and all of our activities will always be made freely available.
          Each of our activities takes approximately 10-15 minutes. Teachers using Quill in a 1:1 classroom tend to assign Quill activities as a warm up exercise at the beginning of a class.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="button-select">
        <div class="button select-mixin select-gray button-select button-select-wrapper" type='button' data-toggle='dropdown'>
          <%= @section.name %>
          <i class="fa fa-caret-down"></i>
        </div>
        <ul class="dropdown-menu" role='menu'>
          <% Section.all.sort_by(&:position).each do |section| %>
            <li><%= link_to section.name, url_for(section_id: section.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


  <% @topics.each do |topic, activities| %>
    <div class="row">
      <div class="col-xs-12">
        <h4><%=topic.name%></h4>
      </div>

        <% activities.order('activities.name ASC').each do |activity| %>
          <div>
            <div class="col-xs-12 col-md-10"><%= activity.name %></div>
            <div class="col-xs-12 col-md-2"><%= link_to "View Activity", anonymous_activity_sessions_path(activity_id: activity.id), class: 'green-link' %></div>
          </div>

          <div class="activity-description">
            <div class="col-xs-12">
              <i>
                <%= activity.description&.html_safe %>
              </i>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
