= content_for :video do
  %hgroup
    %h1 Democracy in America, 1815-1840
    %h2 Latin American wars of independence
  .separator
  %p
    In Chapter 10 you discuss the rebellions in Spain’s Latin American empire
    that led to the creation of a number of independent nations between 1810
    and 1822. To what degree did these anticolonial rebellions parallel or
    differ from the tensions that led to the American Revolution?
  = render partial: 'youtube_video'

= content_for :primary_panel do
  = render partial: 'google_earth'

= content_for :text_area do
  %p
    Of course the history of every nation is different in some respects and
    the Latin American wars of independence, which created the independent
    nations of Latin American that we know today, arose out of local causes
    and local events. But in some ways they did parallel the causes of the
    American Revolution in both Spanish Latin America and the British North
    American colonies. It was the efforts of the mother country, the imperial
    country in Europe, to assert greater control over the colonies after a
    period of considerable autonomy that led local elites to resist and
    establish their own claim to local self- government. A lot of this had to
    do with taxation. Just as in the United States the American colonists
    resisted British efforts to raise money by taxing the colonists, so also
    Spain, a country which after the wars of the Napoleonic era and the wars
    of the French Revolution era was in dire need of money, began taxing their
    Latin American colonies more. That led to these local leaders, what we
    call Creoles, that is, people of Spanish ancestry but born and raised in
    the colonies, to assert their claim to local control. As in the United
    States, as in the American Revolution, the first claim is not to
    independence but to greater control of your own affairs, and when the
    mother country rejects that, then they move forward to eventually
    demanding their own independence.
  %p
    Scott E. Page: Model Thinking









