<style type="text/css">
  <!--
  .offset {
    position:relative;
    width: 876px;
    margin: 0 auto;
    margin-top: 70px;
  }
  img {
    max-width: initial;
  }
  body {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #666666;
    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #000000;
    background-image: url('<%= image_path('home/seamless background.jpg') %>');
    background-repeat: repeat;
  }
  .oneColElsCtr #container {
    width: 46em;
    background: #FFFFFF;
    margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
    border: 1px solid #000000;
    text-align: left; /* this overrides the text-align: center on the body element. */
  }
  .oneColElsCtr #mainContent {
    padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
  }
  .oneColElsCtr table {
    text-align: center;
  }
  #apDiv1 {
    position:absolute;
    width:197px;
    z-index:5;
    left: 10px;
    top: 29px;
    overflow: visible;
    height: 808px;
  }
  #apDiv2 {
    position:absolute;
    width:197;
    height:800px;
    z-index:10;
    left: 60px;
    top: 33px;
    text-align: right;
  }
  #apDiv3 {
    position:absolute;
    width:206px;
    height:849px;
    z-index:2;
    left: 4px;
    top: 1px;
    overflow: visible;
  }
  #apDiv4 {
    position:absolute;
    width:100%;
    height:115px;
    z-index:3;
    left: 0px;
    top: 10px;
  }
  #apDiv5 {
    position:absolute;
    width:100%;
    height:115px;
    z-index:6;
    left: 0px;
    top: 226px;
  }
  #apDiv6 {
    position:absolute;
    width:100%;
    height:221px;
    z-index:7;
    left: -21px;
    top: 737px;
  }
  #apDiv7 {
    position:absolute;
    width:100%;
    height:90px;
    z-index:8;
    left: 5px;
    top: 116px;
  }
  -->
</style>

<script type="text/javascript">
  <!--
  function MM_preloadImages() { //v3.0
    var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
      var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
      if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
  }
  function MM_swapImgRestore() { //v3.0
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
  }
  function MM_findObj(n, d) { //v4.01
    var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
      d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
    if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
    if(!x && d.getElementById) x=d.getElementById(n); return x;
  }

  function MM_swapImage() { //v3.0
    var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
     if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
  }
  //-->
</script>

<div class="offset">

<div id="apDiv4"><img src="<%= image_path 'home/inquire-banner.png' %>" width="876" height="201" /></div>
<div id="apDiv7">
  <table width="874" height="53" border="0" align="center" cellspacing="5">
    <tr>
      <td width="89"><img src="<%= image_path 'home/icons/logic.jpg' %>" width="78" height="65" /></td>
      <td width="89"><img src="<%= image_path 'home/icons/motion.jpg' %>" width="78" height="65" /></td>
      <td width="89"><img src="<%= image_path 'home/icons/matter.jpg' %>" width="78" height="65" /></td>
      <td width="89"><img src="<%= image_path 'home/icons/life.jpg' %>" width="78" height="65" /></td>
      <td width="89"><img src="<%= image_path 'home/icons/cog.jpg' %>" width="78" height="65" /></td>
      <td width="89"><img src="<%= image_path 'home/icons/comp.jpg' %>" width="78" height="65" /></td>
      <td width="89"><img src="<%= image_path 'home/icons/cre.jpg' %>" width="78" height="65" /></td>
      <td width="89"><img src="<%= image_path 'home/icons/int2.jpg' %>" width="78" height="65" /></td>
      <td width="94"><img src="<%= image_path 'home/icons/taj.jpg' %>" width="78" height="65" /></td>
    </tr>
  </table>
</div>

<div id="apDiv5">
  <img class="content active"   src="<%= image_path('home/questions/questions1.png') %>" width="876" height="514" />
  <img class="content disabled" src="<%= image_path('home/questions/questions2.png') %>" width="876" height="514" />
  <img class="content disabled" src="<%= image_path('home/questions/questions3.png') %>" width="876" height="514" />
  <img class="content disabled" src="<%= image_path('home/questions/questions4.png') %>" width="876" height="514" />
</div>

<div id="apDiv6">
  <table width="800" border="0" align="center" cellspacing="21">
    <tr>
      <td width="25%"><img src="<%= image_path 'home/prof/freeman tag.png' %>" width="201" height="189" /></td>
      <td width="25%"><img src="<%= image_path 'home/prof/susskind tag.png' %>" width="201" height="189" /></td>
      <td width="25%"><img src="<%= image_path 'home/prof/sapolsky tag.png' %>" width="201" height="188" /></td>
      <td width="25%"><img src="<%= image_path 'home/prof/foner tag.png' %>" width="201" height="189" /></td>
    </tr>
  </table>
</div>

</div><!-- .offset -->

<script type="text/javascript">
  MM_preloadImages("<%= image_path('home/rollover/rollover-comp.png') %>",
                   "<%= image_path('home/rollover/rollover-logic.png') %>",
                   "<%= image_path('home/rollover/rollover-motion.png') %>",
                   "<%= image_path('home/rollover/rollover-matter.png') %>",
                   "<%= image_path('home/rollover/rollover-life.png') %>",
                   "<%= image_path('home/rollover/rollover-creation.png') %>",
                   "<%= image_path('home/rollover/rollover-interaction.png') %>",
                   "<%= image_path('home/rollover/rollover-legacy.png') %>",
                   "<%= image_path('home/rollover/rollover-cog.png') %>");
</script>
