= content_for :video do
  %hgroup
    %h1 The Market Revolution, 1800-1840
    %h2 Cotton Kingdom
  .separator
  %p What was the impact of the rise of the cotton kingdom in this period?
  = render partial: 'youtube_video'

= content_for :primary_panel do
  = render partial: 'graph'

= content_for :annotatable_text do
  %p
    Between 1800 and 1860 the most dynamic element in the American economy was
    the expansion of cotton production based on slave labor. Cotton became the
    most important crop in the world economy, the most important item in
    international trade, because the early industrial revolution was based on
    factories producing cloth out of cotton, and there was an immense demand for
    cotton as a raw material. So to meet that demand slavery expanded westward.
    When the Revolution took place, slavery was basically along the Atlantic
    coast, in Virginia, South Carolina, etc., but in the early nineteenth
    century you got the opening of what's called the "cotton kingdom": Georgia,
    Alabama, Mississippi, Louisiana, Arkansas, eventually Texas. Cotton
    production spread westward; new cotton plantations, or so-called cotton
    belts or black belts, arose there, and this became the source of tremendous
    wealth for southern planters. Cotton became the major export for the whole
    United States, and a large number of northerners benefited from this, even
    if they were not slaveowners. Northern ships carried this cotton; northern
    insurance companies insured it; northern shipbuilders built the ships;
    northern merchants were making the money by transporting the cotton. So it
    was really a national phenomenon, even though geographically it was located
    deep in the South.
