.h-middle
	.h-middle-extra
		.container{"style" => "margin-top:-164px;"}
			=image_tag 'instructions2.png'
			.h-page-top-repeat
				.h-left-top
					.h-right-top{"style" => "padding-top: 20px;"}
			.h-page-extra
				.h-page-left-repeat
					.h-page-right-repeat
						.h-page-content-extra
							%p.notice= notice
							= render partial: 'chapter_test', object: @chapter

.h-sub-middle.con-pink
	.container.clearfix
		.span6
			%article.h-sub-left-content
				%h2 A Fun, Free Way To Learn Grammar Interactively.
				%p Empirical Grammar provides personalized grammar lessons for middle school students.
		.h-sub-right-content.span6
			%div
				=link_to "Students", new_account_path
				=link_to "Teachers", new_account_path

.h-features.con-white
	.container.clearfix
		%article.col-3
			%figure= image_tag 'ico-interactive.png'
			.h-features-content
				%h2 Interactive Assessments
				%p Proofread newspaper articles laden with grammatical errors.
		%article.col-3
			%figure= image_tag 'ico-personalized.png'
			.h-features-content
				%h2 Personalized Lessons
				%p Receive customized homework tailored to what you need to learn.
		%article.col-3
			%figure= image_tag 'ico-evaluate.png'
			.h-features-content
				%h2 Progress Evaluations
				%p Teachers assign homework & monitor students' progress.

.h-testi
	.h-testi-inner.container.clearfix
		.what-saying.span5
			%div
			%h2 What They're Saying
		.im-saying.span6
			%div
				%q This looks ideal for students of all ages! I am excited to have the opportunity to give my college writing students the chance to practice the basic rules of English writing with these fun-to-read texts. If anything can save us from the coming apostrophe-apocalypse, it is E-Grammar! 
				%p <strong>Laura Gibbs, Ph.D</strong>
	.post-ab-left
	.post-ab-right
