<div class='ideas-page'>
  <h1>Lessons</h1>
  <%@lessons_json.each do |list| %>
  <h2><%=list["name"]%></h2>
  <%list["cards"].each do |card| %>
  <a href="<%=card['url']%>" target='_blank'><%=card['name']%></a>
  <br>
  <%end%>
  <%end%>
  <h1>Connect</h1>
  <%@connect_json.each do |list| %>
  <h2><%=list["name"]%></h2>
  <%list["cards"].each do |card| %>
  <a href="<%=card['url']%>" target='_blank'><%=card['name']%></a>
  <br>
  <%end%>
  <%end%>
</div>
