<% @active_tab = 'About Us' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab %>

<div class="white-background">
  <div class="container pages-container white-page" id="mission">

  <p class="mission-paragraph"></p>
    <img src=<%= "#{ENV['CDN_URL']}/images/shared/mission_students1.png" %>></img>
  <p class="mission-paragraph"></p>
  <h3> Our Mission</h3>
  <p class="mission-paragraph">
    Quill.org provides free online tools to help low-income students become sharp writers. Our mission is to help the 30 million low-income K-12 students in the United States who struggle with writing.
  </p>

  <p class="mission-paragraph">
    In 2011, a Department of Education study found that 76% of eighth grade students are not proficient at writing, one of the most important skills young people need to improve reading comprehension, advance critical thinking, and produce new knowledge. While poor writers may gain admission into college, they will not have the skills they need to thrive. College-level learning depends on college-level thinking expressed through the written word.
  </p>
  <p class="mission-paragraph"></p>
    <img src=<%= "#{ENV['CDN_URL']}/images/shared/mission_teacher.png" %>></img>
  <p class="mission-paragraph"></p>
  <p class="mission-paragraph">
    By using Quill, teachers are able to implement research-based expository writing instruction in their classrooms. We want to improve outcomes for every single student who does not have consistent access to the finest writing instruction. By automatically grading the writing as they work, students are able to receive instant feedback and personalized instruction. This tailored experience enables students to learn faster, and it saves teachers hundreds of hours spent on grading.
  </p>

  <p class="mission-paragraph">
    Quill currently provides four writing tools that enable students to build writing, grammar, and proofreading skills, and we will continually launch new tools that advance student writing and thinking. Through our tools, students gain the ability to express, with clarity and precision, complicated thoughts in writing. Although some of the steps might seem simple, each activity helps teachers progressively build the skills students need to read deeply and think critically about the world around them.
  </p>
  <p class="mission-paragraph"></p>
      <img src=<%= "#{ENV['CDN_URL']}/images/shared/mission_students2.png" %>></img>
  <p class="mission-paragraph"></p>

  <h3> Quill’s History: September 2014-January 2017</h3>
  <p class="mission-paragraph">
    In September of 2014 we launched Quill Proofreader, a tool that helps teachers identify which students need support in basic grammar. We then supplied lessons to improve those skills. These Common Core-aligned lessons help students with basic concepts such as possessive nouns and subject-verb agreement. Students receive instant feedback on their work and personalized pathways for advancing through the program. Quill’s curriculum now provides over 40 hours of instruction spanning 42 Common Core standards.
  </p>
  <p class="mission-paragraph">
    While exploring new ways to expand our program, we found that literacy experts consistently recommended “sentence combining” as a high-leverage strategy for teaching writing skills. In sentence combining, students take multiple ideas and combine them together into a single sentence. At its core, sentence combining requires students to examine the relationships between ideas, order those ideas, and then express them logically and succinctly. Writing Next, one of the seminal reports on literacy development, lists sentence combining as one of eleven highly effective strategies for developing writing skills.
  </p>
  <p class="mission-paragraph">
    The main hurdle in building a sentence combining tool is that students can produce a myriad of answers, a technically challenging problem. How do you fairly evaluate student work when there are potentially hundreds of correct or almost correct answers? With the advice of experienced technology advisors, we believe we have solved this challenge. Our sentence combining tool employs cutting-edge language analysis software so that we can assess the quality of student responses and provide students with immediate feedback.
  </p>
  <p class="mission-paragraph">
    A team of a dozen or so educators, including teachers at KIPP and Achievement First, are working on our product to ensure that it meets the needs of our targeted end-users: teachers who work in schools in impoverished neighborhoods and the low-income students they serve. By applying innovative technology to a research-validated strategy, we believe that we are on the verge of creating a revolutionary learning experience, which will be made available, for free, to millions of students.
  </p>
  <p class="mission-paragraph"></p>
      <img src=<%= "#{ENV['CDN_URL']}/images/shared/mission_students3.png" %>></img>
  <p class="mission-paragraph"></p>


  <h3>Quill’s Impact</h3>
  <p class="mission-paragraph">
    Since launching in September of 2014, over 200,000 students have answered 20 million questions, an average of 100 questions per student. Once they have completed these questions, students master six to twelve Common Core writing standards.
  </p>
  <p class="mission-paragraph">
    There are over 2,000 schools using Quill, and 62% of our students attend low-income schools. Quill’s rapid growth is largely attributable to word-of-mouth traffic, with many teachers discovering Quill through press and then sharing it with their colleagues. We publicly publish our impact metrics at Quill.org/stats.
  </p>
  <p class="mission-paragraph"></p>
      <img src=<%= "#{ENV['CDN_URL']}/images/shared/mission_metrics.png" %>></img>
  <p class="mission-paragraph"></p>

  <h3>Partner Schools</h3>
  <p class="mission-paragraph">
    Quill is free for students and teachers so that every person can use our tools to become a better writer. Quill then builds partnerships with schools through our Quill Premium service, where schools receive in-depth data on student progress across national writing standards. Quill is now working with over a hundred schools through its premium service. Furthermore, Quill raises and dedicates funds in order to provide financial aid for Premium to schools with low-income populations and limited budgets. If you work in a school with low-income populations, you can apply for <a href="https://support.quill.org/quill-premium/how-can-i-apply-for-quill-financial-aid">Quill Financial Aid</a>.
  </p>
  <p class="mission-paragraph"></p>
      <img src=<%= "#{ENV['CDN_URL']}/images/shared/mission_schools.png" %>></img>
  <p class="mission-paragraph"></p>

  <h3> Open Source Community</h3>
  <p class="mission-paragraph">
    Quill is an open source organization, and we work with a large community of developers and educators to launch new literacy tools aligned with our mission. More than 100 educators and developers have helped to build Quill, and our vision is to be like Wikipedia, enabling thousands of people to launch their own activities on our platform. Through a crowdsourced, community-led effort, we will be able to scale Quill to meet the needs of every learner in the world.
  </p>
  <p class="mission-paragraph"></p>
      <img src=<%= "#{ENV['CDN_URL']}/images/shared/mission_opensource.png" %>></img>
  <p class="mission-paragraph"></p>

    </div>
  </div>
