= content_for :video do
  %hgroup
    %h1 The Peculiar Institution
    %h2 The Fugitive Slave Act
  .separator
  %p Why were Northerners opposed to the fugitive slave act?
  = render partial: 'youtube_video'

= content_for :primary_panel do
  = render partial: 'slideshow'

= content_for :annotatable_text do
  %p
    Well the fugitive slave law of eighteen fifty is one of the most
    contentious issues between north and south. It is part of the compromise
    of eighteen fifty, which included some pro-northern and some pro- southern
    measures, and this was the most important pro-southern part of the
    compromise. Now the right of southerners to get back their fugitive slaves
    is in the constitution so there's no doubt about that. The constitution
    would never have been ratified in the first place by the South if it
    didn't include a clause saying that these - it doesn't use the word slave -
    it uses persons held to labor, but everyone knew who they were talking
    about; they have a right to get them back. This is very important because
    it makes the whole country responsible for policing the slave system of
    the South. The northern states can abolish slavery, as they will do, but
    they cannot get out of their responsibility for, at least under the
    constitution, for recognizing the legitimacy of slavery in the south and
    treating fugitive slaves as criminals basically who have to be returned.
  %p
    Eric Foner: Give Me Liberty!
