<p>Hi <%= @user.first_name %>,</p>

<p>Here’s what happened in the last <%= @frequency %> on Quill:</p>

<% @teacher_notifications.each do |classroom_name, notifications_by_type| %>
  <h1><%= classroom_name %></h1>
  <% notifications_by_type.each do |notification_type, notifications| %>
    <% if notification_type == "TeacherNotifications::StudentCompletedDiagnostic" %>
      <%= render 'students_completed_diagnostics',
        notifications: notifications %>
    <% elsif notification_type == "TeacherNotifications::StudentCompletedAllAssignedActivities" %>
      <%= render 'students_completed_all_assigned_activities', notifications: notifications %>
    <% elsif notification_type == "TeacherNotifications::StudentCompletedAllDiagnosticRecommendations" %>
      <%= render 'students_completed_all_diagnostic_recommendations', notifications: notifications %>
    <% end %>
  <% end %>
<% end %>
