<p>Hi <%= @user.first_name %>,</p>

<p>Your school administrator <%= @admin_name %> has created a Quill account for you. Login to your Quill account with the following email address and password:</p>

<p><span style="font-weight:bold">Email address:</span> <%= @user.email%></p>
<p><span style="font-weight:bold">Temporary Password:</span> <%= @temp_password %> (<a href="http://support.quill.org/getting-started-for-teachers/manage-classes/how-do-i-change-my-password">Here’s a guide</a> to changing your password)</p>

<a href="https://www.quill.org/session/new">Login to Quill</a>

<p>Quill is a nonprofit, educational technology organization dedicated to strengthening student writing. Quill provides 10-15 minute exercises that help students build sentence construction skills. Quill provides specific, automatic feedback and hints to help students improve it. The personalized, immediate responses to student submissions enable students to build their writing skills quickly, and allow teachers to prioritize data-driven intervention by removing the need for hours of grading.</p>

<p>We’re excited that you have joined our community of learners, and welcome your questions and feedback!</p>

<p>Enjoy,</p>

<p><%= @constants[:signatures][:quill_team]%></p>
