<h3>Hello Team! Here are the stats for today:</h3>
<br></br>
<ul>
    <li>Daily Active Teachers: <%= @daily_active_teachers %> </li>
    <li>Daily Active Students: <%= @daily_active_students%> </li>
    <li>New Teacher Sign Ups: <%= @new_teacher_signups %> </li>
    <li>New Student Sign Ups: <%= @new_student_signups %> </li>
    <li>Classrooms created: <%= @classrooms_created %> </li>
    <li>Teacher Conversion (trial to regular user): <%= @teacher_conversion1 %> </li>
    <li>Teacher Conversion (free to premium user): <%= @teacher_conversion2 %> </li>
    <li>Activities Assigned: <%= @activities_assigned %> </li>
    <li>Sentences Written: <%= @sentences_written %> </li>
    <li>Diagnostics Completed: <%= @diagnostics_completed %> </li>
</ul>
<br></br>
<h3>Keep up the great work!</h3>