<% if @admin %>
  <% admin_sentence = " For more information about the session, reach out to your Quill school administrator, #{@admin.name}." %>
<% else %>
  <% admin_sentence = '' %>
<% end %>

<p>Hi <%=@user.first_name%>,</p>

<p>Exciting news! Your school, <%=@school.name%>, has purchased Quill Premium for Schools and your account has just been upgraded to premium.</p>

<p>Congratulations! Your account has been upgraded to Quill Premium. With Quill Premium, you will have access to Quill’s advanced reports (Data Export, Concepts, and Common Core Standards) and you will be able to download and print your student reports. You can access these reports by clicking on the Student Reports tab.</p>

<a href=<%= "#{ENV['DEFAULT_URL']}/teachers/progress_reports/concepts/students"%>>View Concepts Reports</a>

<p>Your school will also receive Quill professional development.<%=admin_sentence%> If you have any questions, please check out our <a href="https://support.quill.org/quill-premium">premium support page</a> or reach out to us at <a href="mailto:support@quill.org">support@quill.org</a>.</p>

<p>Enjoy Quill Premium,</p>
<p><%= @constants[:signatures][:quill_team]%></p>
