<% if show_site_navigation? %>

	<% is_student = current_user&.role == 'student' %>
	<% footer_class = is_student ? 'footer-white student-footer' : 'footer-white' %>

	<footer class="<%=footer_class%>">
		<div class="footer-content">
			<% if !is_student %>
				<div class="top-half">
					<div class="logo-and-text">
						<a href="/"><img src="https://assets.quill.org/images/logos/quill-gray-logo-footer.svg"></img></a>
						<%= link_to "Quill is a free literacy tool powered by an open source, non-profit community of educators and developers.","#{root_path}mission", class: 'footer-copy' %>
					</div>

					<form action="/teacher-center/search">
						<div class="input">
							<input class="text" type='text' placeholder='Search for everything on Quill' name='query'></input>
							<i class="fas fa-icon fa-search"></i>
							<input class="search" type="submit" value="Search"></input>
						</div>
					</form>
				</div>
			<% end %>

			<div class="bottom-half">
				<ul class="footer-contacts">
					<% if is_student %>
						<li><%= link_to "About Us","#{root_path}mission", class: 'focus-on-light' %></li>
					<% else %>
						<li><a class="focus-on-light" href="mailto:hello@quill.org">hello@quill.org</a></li>
						<li><a class="focus-on-light" href="tel:510-671-0222">510-671-0222</a></li>
						<li><%= link_to "About Us","#{root_path}mission", class: 'focus-on-light' %></li>
						<li><a class="focus-on-light" href="http://support.quill.org">Support</a></li>
					<% end %>
					<li><%= link_to "Terms", "#{root_path}tos", class: 'focus-on-light' %></li>
					<li><%= link_to "Privacy", "#{root_path}privacy", class: 'focus-on-light' %></li>
				</ul>

				<ul class="footer-social">
					<li><a class="focus-on-light" href="https://twitter.com/Quill_org"><img alt="Twitter icon" src="https://assets.quill.org/images/icons/social-twitter.svg" /></a></li>
					<li><a class="focus-on-light" href="https://www.instagram.com/quill_org"><img alt="Instagram icon" src="https://assets.quill.org/images/icons/social-instagram.svg" /></a></li>
					<li><a class="focus-on-light" href="https://facebook.com/quill.org"><img alt="Facebook icon" src="https://assets.quill.org/images/icons/social-facebook.svg" /></a></li>
				</ul>

			</div>
		</div>

	</footer>
<% end %>
