<% current_path = request.env['PATH_INFO'] %>
<% on_home_or_tools_page = current_path == '/' || current_path.include?('tools') %>
<% on_sign_up_or_log_in = ['account/new', '/session', 'password_reset', 'sign-up', 'finish_set_up'].any? { |str| current_path.include?(str)} %>
<% subheader_class = on_home_or_tools_page ? 'q-navbar-home' : 'q-navbar-home sub-page' %>

<% if current_path.include?('teachers') || current_path.include?('assign') %>
	<% user_dropdown_class = 'on-dashboard' %>
	<% user_dropdown_img = 'https://assets.quill.org/images/navbar/navbar-dashboard-solid.svg' %>
<% else %>
	<% user_dropdown_class = 'not-on-dashboard' %>
	<% user_dropdown_img = 'https://assets.quill.org/images/navbar/navbar-dashboard-white.svg' %>
<% end %>

<% if show_school_selection_reminders %>
  <% show_notification_badges_class = 'show-notification-badges' %>
<% else %>
  <% show_notification_badges_class = '' %>
<% end %>

<nav class="<%= subheader_class %>">
  <% if on_sign_up_or_log_in %>
    <div class="logo-only">
      <a aria-label="Quill" class="focus-on-dark" href=<%= root_path %>>
        <img src="/images/quill_header_logo.svg" alt="Quill logo" />
      </a>
    </div>
  <% else %>
	  <div class="logo-and-badge-container">
      <a aria-label="Quill" class="focus-on-dark" href=<%= root_path %>>
        <div class="mobile-quill-logo"></div>
      </a>
			<%= determine_premium_badge %>
  	</div>

		<% if current_user&.student? && !current_path.include?('tools') %>
			<%= react_component('StudentNavbarItems', props: { name: current_user.name }) %>
    <% end %>
	<% end %>
  <div class="right-side-mobile-nav">
    <p class="active-tab"><%= determine_active_tab(current_path) %></p>
    <div class="mobile-hamburger-container">
      <div class="hamburger-icon">
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
        <div class="horizontal-line"></div>
      </div>
    </div>
  <div>
</nav>
