<% current_path = request.env['PATH_INFO'] %>
<% on_home_or_tools_page = current_path == '/' || current_path.include?('tools') %>
<% on_sign_up_or_log_in = ['account/new', '/session', 'password_reset', 'sign-up', 'finish_set_up'].any? { |str| current_path.include?(str)} %>
<% subheader_class = on_home_or_tools_page ? 'q-navbar-home' : 'q-navbar-home sub-page' %>
<% on_home_or_tools_page_class = on_home_or_tools_page ? 'on-home-page' : '' %>
<% active_tab = determine_active_tab(current_path) %>
<% tabs = determine_mobile_navbar_tabs %>

<% if current_path.include?('teachers') || current_path.include?('assign') %>
	<% user_dropdown_class = 'on-dashboard' %>
	<% user_dropdown_img = 'https://assets.quill.org/images/navbar/navbar-dashboard-solid.svg' %>
<% else %>
	<% user_dropdown_class = 'not-on-dashboard' %>
	<% user_dropdown_img = 'https://assets.quill.org/images/navbar/navbar-dashboard-white.svg' %>
<% end %>

<% if show_school_selection_reminders %>
  <% show_notification_badges_class = 'show-notification-badges' %>
<% else %>
  <% show_notification_badges_class = '' %>
<% end %>

<nav class="<%= subheader_class %>">
  <% if on_sign_up_or_log_in %>
    <div class="logo-only">
      <a aria-label="Quill" class="focus-on-dark" href=<%= root_path %>>
        <img src="/images/quill_header_logo.svg" alt="Quill logo" />
      </a>
    </div>
  <% else %>
	  <div class="logo-and-badge-container">
      <a aria-label="Quill" class="focus-on-dark" href=<%= root_path %>>
        <div class="mobile-quill-logo"></div>
      </a>
			<%= determine_premium_badge %>
  	</div>

    <% if current_user&.student? && !current_path.include?('tools') %>
      <%= react_component('StudentNavbarItems', props: { name: current_user.name }) %>
    <% end %>
    <div class="right-side-mobile-nav">
      <p class="active-tab"><%= active_tab %></p>
      <div class="mobile-hamburger-container">
        <div class="hamburger-icon" onclick="toggleMobilePrimaryDropdown()">
          <div class="horizontal-line"></div>
          <div class="horizontal-line"></div>
          <div class="horizontal-line"></div>
        </div>
      </div>
    </div>
    <div class="dropdown-container" id="mobile-primary-dropdown-container">
      <div>
        <ul class="dropdown-menu" role='menu'>
          <% tabs.each do |tab| %>
            <li class="<%= (tab[:name] == active_tab || tab[:id] == active_tab) ? 'active' : '' %>" id="<%= tab[:id] ? tab[:id] : '' %>">
              <a class="focus-on-dark" href=<%= tab[:url] %>>
                <% if tab[:name] == 'Premium' %>
                  <%= render partial: 'pages/shared/tabs/premium_tab' %>
                <% elsif tab[:name] == 'Teacher Premium' %>
                  <div class='premium-tab-copy'>
                    <span>Teacher Premium</span>
                    <img src='https://assets.quill.org/images/icons/yellow-diamond.svg'></img>
                  </div>
                <% elsif tab[:name] == 'Premium Hub' %>
                  <div class='premium-tab-copy'>
                    <span>Premium Hub</span>
                    <img src='https://assets.quill.org/images/icons/red-diamond.svg'></img>
                  </div>
                <% elsif tab[:name] == 'Quill Academy' %>
                  <div class='premium-tab-copy'>
                    <span>Quill Academy</span>
                    <img src='https://assets.quill.org/images/icons/red-diamond.svg'></img>
                  </div>
                <% else %>
                  <%= tab[:name] %>
                <% end %>
              </a>
              <div class="checkmark-icon <%= (tab[:name] == active_tab || tab[:id] == active_tab) ? 'active' : '' %>"></div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</nav>
