<% current_path = request.env['PATH_INFO'] %>
<% on_home_page = current_path == '/' %>
<% logo_src = on_home_page ? "https://assets.quill.org/images/logos/quill-logo-white-2022.svg" : "https://assets.quill.org/images/logos/quill-logo-green.svg" %>
<% home_page_class = on_home_page ? 'on-home-page' : '' %>
<% active_tab = determine_active_tab(current_path) %>
<% active_primary_tab = determine_active_primary_tab(current_path) %>

<nav class="q-navbar-home">
  <% if on_sign_up_or_log_in? %>
    <div class="logo-only">
      <a aria-label="Quill" class="focus-on-dark" href=<%= root_path %>>
        <img src="/images/quill_header_logo.svg" alt="Quill logo" />
      </a>
    </div>
  <% else %>
	  <div class="logo-and-badge-container">
			<a aria-label="Quill" class="focus-on-dark" href=<%= root_path %> >
  			<img src=<%= logo_src %> alt="Quill.org logo" />
  		</a>
			<%= determine_premium_badge(current_user) %>
  	</div>

		<% if current_user&.student? && !current_path.include?('tools') %>
			<%= react_component('StudentNavbarItems', props: { name: current_user.name }) %>
		<% else %>
  		<div class="home-nav-right wide <%= active_primary_tab ? 'primary-tab-active' : '' %>" >
	  		<% if !current_user %>
          <%= render 'navbar/schools_and_districts', active_tab: active_primary_tab  %>
	  	    <%= render 'navbar/learning_tools', active_tab: active_primary_tab %>
	  	    <%= render 'navbar/explore_curriculum', active_tab: active_primary_tab %>
	  	    <%= render 'navbar/teacher_center', active_tab: active_primary_tab %>
	  	    <%= render 'navbar/our_story', active_tab: active_primary_tab %>
	  		<% elsif current_user.role != 'student' %>
          <%= render 'navbar/schools_and_districts', active_tab: active_primary_tab  %>
	  			<%= render 'navbar/learning_tools', active_tab: active_primary_tab  %>
	  			<%= render 'navbar/teacher_center', active_tab: active_primary_tab  %>
	  			<%= render 'navbar/quill_support', active_tab: active_primary_tab  %>
	   		<% end %>
  		<%- if current_user.nil? %>
				<a class="<%= home_page_class %> text-white nav-element" href="/session/new">Log In</a>
				<a class="<%= home_page_class %> text-white nav-element sign-up-button" href="/account/new">Sign Up</a>
  		<%- elsif current_user.teacher? %>
        <% if on_teacher_dashboard? %>
          <%= render 'navbar/user_dropdown_button' %>
        <% else %>
          <a class="return-to-dashboard-button focus-on-light" href="/"><img alt="" src="https://assets.quill.org/images/icons/xs/return-arrow.svg">Return to Dashboard</a>
        <% end %>
  		<% else %>
  			<%= link_to "Logout", '/session', class: "text-white nav-element"%>
			<% end %>
	  </div>
	  <% end %>
	<% end %>
</nav>

<script>
	const tooltipTriggers = document.getElementsByClassName("navbar-tooltip-trigger")

	for (let i = 0; i < tooltipTriggers.length; i++) {
	    tooltipTriggers[i].addEventListener("focus", addUnhoverable)
			tooltipTriggers[i].addEventListener("blur", removeUnhoverable)
			tooltipTriggers[i].addEventListener("click", handleClick)
	}

	function addUnhoverable() {
		for (let i = 0; i < tooltipTriggers.length; i++) {
				tooltipTriggers[i].classList.add('unhoverable')
		}
	}

	function removeUnhoverable() {
		for (let i = 0; i < tooltipTriggers.length; i++) {
				tooltipTriggers[i].classList.remove('unhoverable')
		}
	}

	function handleClick(e) {
		if (e.currentTarget.classList.contains('focused')) {
			e.currentTarget.blur()
			e.currentTarget.classList.remove('focused')
		} else {
			e.currentTarget.classList.add('focused')
		}
	}
</script>
