<% track_id = "tracking_link_" + rand().to_s %>
<% formatted_properties = format_analytics_properties request, properties %>
<a href="<%= href %>" class="<%= classes %>" id="<%= track_id %>">
  <%= yield %>
</a>
<script type="text/javascript">
  window.analytics.trackLink(document.getElementById("<%= track_id %>"),
                             "<%= event %>",
                             <%= render inline: formatted_properties.to_json %>
                            );
</script>
