<% current_time_on_east_coast = Time.now.in_time_zone('America/New_York') %>
<% current_hour = current_time_on_east_coast.hour %>
<% between_twelve_and_one = current_hour == 12 %>
<% between_two_and_three = current_hour == 14 %>
<% monday_tuesday_or_thursday = current_time_on_east_coast.monday? || current_time_on_east_coast.thursday? || current_time_on_east_coast.tuesday? %>
<% still_doing_live_q_and_a = current_time_on_east_coast < Date.parse("19/05/2020") %>
<% still_doing_webinars = current_time_on_east_coast < Date.parse("29/05/2020") %>

<% if (still_doing_webinars && (!current_user || current_user.teacher?)) %>
  <% if (between_twelve_and_one && monday_tuesday_or_thursday && still_doing_live_q_and_a) %>
    <div class="covid-banner" id="webinar-banner">
      <div class="content-container">
        <img alt="Video player with play symbol" class="banner-icon" src=<%= "#{ENV['CDN_URL']}/images/icons/live-stream.svg" %>>
        <p><a href="https://zoom.us/j/178949041">Join our live question and answer session</a> with Quill experts to ask questions about using Quill remotely with students.</p>
        <img alt="White X" id="close-webinar-banner" src=<%= "#{ENV['CDN_URL']}/images/icons/close-white.svg" %>>
      </div>
    </div>
  <% end %>

  <% if (between_two_and_three && current_time_on_east_coast.monday?) %>
    <div class="covid-banner webinar-banner" id="monday-banner">
      <div class="content-container">
        <img alt="Video player with play symbol" class="banner-icon" src=<%= "#{ENV['CDN_URL']}/images/icons/live-stream.svg" %>>
        <p><strong>Quill Webinar 101: Getting Started</strong> is live now! <a href="https://zoom.us/webinar/register/WN_RiGS-BOtSxyArdJtoPdtrQ" target="_blank">Register to join our live webinar, Getting Started.</a></p>
      </div>
    </div>
  <% end %>

  <% if (between_two_and_three && current_time_on_east_coast.tuesday?) %>
    <div class="covid-banner webinar-banner" id="tuesday-banner">
      <div class="content-container">
        <img alt="Video player with play symbol" class="banner-icon" src=<%= "#{ENV['CDN_URL']}/images/icons/live-stream.svg" %>>
        <p><strong>Quill Webinar 201: Diving into Data</strong> is live now! <a href="https://zoom.us/webinar/register/WN_lF7bauoERjmFER-bfds2wQ" target="_blank">Register to join our live webinar, Diving into Data.</a></p>
      </div>
    </div>
  <% end %>

  <% if (between_two_and_three && current_time_on_east_coast.thursday?) %>
    <div class="covid-banner webinar-banner" id="thursday-banner">
      <div class="content-container">
        <img alt="Video player with play symbol" class="banner-icon" src=<%= "#{ENV['CDN_URL']}/images/icons/live-stream.svg" %>>
        <p><strong>Quill Webinar 301: Diving into Instruction</strong> is live now! <a href="https://zoom.us/webinar/register/WN_DuEYB-0xQ-WaL7mXJLFmFA" target="_blank">Register to join our live webinar, Diving into Instruction.</a></p>
      </div>
    </div>
  <% end %>


  <script>
    window.addEventListener('load', function(e) {
      if (document.cookie.indexOf('webinar_banner_closed=1') === -1) {
        document.getElementById('webinar-banner').style.display = 'block';
      }
    });

    document.getElementById('close-webinar-banner').addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('webinar-banner').style.display = 'none';
        let date = new Date();
        date.setTime(date.getTime()+(24*60*60*1000));
        document.cookie = `webinar_banner_closed=1; expires=${date.toGMTString()}`;
    }, false);

  </script>
<% end %>
