<% if matrix %>
  <table style="table-layout: fixed; border-collapse: collapse; border: 1px solid black;">
    <tr class='light-gray' style='text-align: center'>
      <td style="text-align: center"></td>
      <td class='llm-optimal' style="text-align: center">LLM Optimal</td>
      <td class='llm-suboptimal' style="text-align: center">LLM Sub-Optimal</td>
      <td style="text-align: center">Total</td>
      <td class='accuracy' style="text-align: center;">Accuracy</td>
    </tr>
    <tr>
      <td class='white curriculum-optimal' style="text-align: center;">Curriculum Optimal</td>
      <td class='light-green' style="text-align: center;"><%= matrix[0][0] %></td>
      <td class='dark-red' style="text-align: center;"><%= matrix[0][1] %></td>
      <td class='white' style="text-align: center;"><%= matrix[0][0] + matrix[0][1] %></td>
      <td class='white' style="text-align: center;">
        <% if matrix[0][0] + matrix[0][1] == 0 %>
          0%
        <% else %>
          <%= (100.0 * matrix[0][0] / (matrix[0][0] + matrix[0][1])).round.to_s + '%' %>
        <% end %>
      </td>
    </tr>

    <tr>
      <td class='white curriculum-suboptimal' style="text-align: center;">Curriculum Sub-Optimal</td>
      <td class='light-red' style="text-align: center;"><%= matrix[1][0] %></td>
      <td class='green' style="text-align: center;"><%= matrix[1][1] %></td>
      <td class='white' style="text-align: center;"><%= matrix[1][0] + matrix[1][1] %></td>
      <td class='white' style="text-align: center;">
        <% if matrix[1][0] + matrix[1][1] == 0%>
          0%
        <% else %>
          <%= (100.0 * matrix[1][1] / (matrix[1][0] + matrix[1][1])).round.to_s + '%' %>
        <% end %>
      </td>
    </tr>
  </table>
  <div style="clear: both;"></div>

  <style>
    .accuracy { font-size: 0.8em; }
    .llm-optimal { font-size: 0.7em; }
    .llm-suboptimal { font-size: 0.7em; }
    .curriculum-optimal { font-size: 0.65em; }
    .curriculum-suboptimal { font-size: 0.65em; }
  </style>
<% end %>
