= form_for @lesson do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson.errors.count, "error")} prohibited this lesson from being saved:"
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg

  %input{:type => "hidden", :value => @rule, :name => :rule_id}
  %input{:type => "hidden", :value => @chapter, :name => :chapter_id}
  
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
