%p#notice= notice
= form_for @lesson do |f|
  = f.string :prompt, help_block: "Ex: (They're/Their) having a nice time."
  .concept-review-order.control-group{data: {view: "LessonAnswerRoot"}}
    %label.control-label answers
    = f.hidden :answer_array_json
    .edit
      .positions
      .btn.add Add another
  = f.choices :rule_id, Rule.all.map{|r| [r.title, r.id]}
  = f.actions
