<% content_for :all_activities_breadcrumbs do %>
  / <%= link_to @dataset.stem_vault.activity.name, @dataset.stem_vault.activity %>
  / <%= link_to "#{@dataset.stem_vault.conjunction.capitalize} Stem Vault", @dataset.stem_vault %>
<% end %>

<div>
  <h2><%= @dataset.model_name.human.titleize %></h2>
  <p><%= @dataset %></p>

  <% if @dataset.subset? %>
    <h3>Parent Dataset</h3>
    <p><%= link_to @dataset.parent, research_gen_ai_dataset_path(@dataset.parent) %></p>
  <% end %>


  <h3>Optimal Test Count</h3>
  <p><%= @dataset.optimal_count %></p>

  <h3>Suboptimal Test Count</h3>
  <p><%= @dataset.suboptimal_count %></p>
  <hr/>

  <% if @dataset.whole? %>
    <h2>
      Data Subsets
      <button id="toggle-subsets" class="toggle-button">></button>
    </h2>

    <div id="subsets-content" class="expandable-content" style="display: none;">
      <table>
        <thead>
          <tr>
            <th>Data Subset</th>
            <th>Created</th>
            <th>Total Evaluation Responses</th>
            <th>Optimal</th>
            <th>Sub-optimal</th>
            <th>Trials</th>
            <th>Access</th>
          </tr>
        </thead>
        <tbody>
          <% @data_subsets.each do |data_subset| %>
            <tr>
              <td><%= "Data Subset #{data_subset.version}" %></td>
              <td><%= date_helper(data_subset.created_at) %></td>
              <td><%= data_subset.optimal_count + data_subset.suboptimal_count %></td>
              <td><%= data_subset.optimal_count %></td>
              <td><%= data_subset.suboptimal_count %></td>
              <td><%= data_subset.trials.count %></td>
              <td><%= link_to "View", research_gen_ai_dataset_path(data_subset) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <hr>
  <% end %>

  <header>
    <h2>
      Trials
      <%= link_to 'new', new_research_gen_ai_dataset_trial_path(@dataset), class: 'new-link', style: 'margin-right: 20px;' %>
    </h2>
  </header>

  <br>

  <% if @trials.any? %>
    <%= form_with url: research_gen_ai_dataset_comparisons_path(@dataset), method: :post do %>
      <%= submit_tag 'Compare', id: 'compare-button', disabled: true, class: 'compare-button' %>
      <table>
        <thead>
          <tr>
            <th>Trial Number</th>
            <th>Created</th>
            <th>Prompt Template</th>
            <th>Temperature</th>
            <th>Optimal Prompt Example Count</th>
            <th>Suboptimal Prompt Example Count</th>
            <th>Guidelines</th>
            <th>Optimal Accuracy</th>
            <th>Suboptimal Accuracy</th>
            <th>Model</th>
            <th>GEval Average</th>
            <th>Status</th>
            <th>Actions</th>
            <th>Compare</th>
          </tr>
        </thead>
        <tbody>
          <% @trials.each.with_index(0) do |trial, index| %>
            <% llm_prompt = trial.llm_prompt %>
            <% next unless llm_prompt %>
            <tr>
              <td><%= "Trial #{trial.number}" %></td>
              <td><%= date_helper(trial.created_at) %></td>
              <td><%= llm_prompt.name %></td>
              <td><%= trial.temperature %></td>
              <td><%= llm_prompt.optimal_examples_count %></td>
              <td><%= llm_prompt.suboptimal_examples_count %></td>
              <td><%= llm_prompt.guidelines_count %></td>
              <td><%= percent_accuracy(trial.optimal_correct, trial.optimal_count) %></td>
              <td><%= percent_accuracy(trial.suboptimal_correct, trial.suboptimal_count) %></td>
              <td><%= trial.llm.version %></td>
              <td><%= trial.average_g_eval_score %></td>
              <td><%= trial.status %></td>
              <td><%= link_to "View", research_gen_ai_dataset_trial_path(@dataset, trial) %></td>
              <td><%= check_box_tag 'trial_ids[]', trial.id, false, class: 'compare-checkbox' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag 'Compare', id: 'compare-button', disabled: true, class: 'compare-button' %>
    <% end %>
  <% else %>
    <p>No trials found.</p>
  <% end %>
</div>
<br>
<div class="field-spacing">
  <h3>Relevant Text</h3>
  <div class="relevant-texts-section">
    <table>
      <thead>
        <tr>
          <th class="select-column"></th>
          <th>Relevant Text</th>
          <th>Notes</th>
          <th>Default</th>
          <th class="created-column">Created</th>
        </tr>
      </thead>
      <tbody>
        <% @relevant_texts.each do |relevant_text| %>
          <tr>
            <td>
              <%= f.radio_button :relevant_text_id, relevant_text.id, checked: relevant_text.default %>
            </td>
            <td><%= relevant_text.text %></td>
            <td><%= relevant_text.notes %></td>
            <td><%= relevant_text.default %></td>
            <td><%= text.created_at.strftime('%m/%d/%Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
  .toggle-button {
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 0.8em;
    margin-left: 10px;
  }

  .expandable-content {
    transition: opacity 0.3s ease-out;
  }
  .relevant-texts-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .relevant-texts-section table {
    background-color: white;
    width: 100%;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('.compare-checkbox');
    const compareButtons = document.querySelectorAll('.compare-button');

    function updateCompareButtons() {
      const selectedCheckboxes = document.querySelectorAll('.compare-checkbox:checked');
      const isDisabled = selectedCheckboxes.length < 2;
      compareButtons.forEach(button => {
        button.disabled = isDisabled;
      });
    }

    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', updateCompareButtons);
    });

    updateCompareButtons();
  });

  const toggleButton = document.getElementById('toggle-subsets');
  const subsetsContent = document.getElementById('subsets-content');

  if (toggleButton && subsetsContent) {
    toggleButton.addEventListener('click', function() {
      if (subsetsContent.style.display === 'none') {
        subsetsContent.style.display = 'block';
        toggleButton.textContent = '<';
      } else {
        subsetsContent.style.display = 'none';
        toggleButton.textContent = '>';
      }
    });
  }
</script>
