<div>
  <p><%= link_to 'Back to Stem Vault', @stem_vault %></p>

  <h2><%= @dataset.model_name.human.titleize %></h2>
  <p><%= @dataset %></p>


  <h3>Optimal Count</h3>
  <p><%= @dataset.optimal_count %></p>

  <h3>Suboptimal Count</h3>
  <p><%= @dataset.suboptimal_count %></p>
  <hr/>

  <header>
    <h2>
      Trials
      <%= link_to 'new', new_research_gen_ai_dataset_trial_path(@dataset), class: 'new-link', style: 'margin-right: 20px;' %>
    </h2>
  </header>

  <br>

  <% if @trials.any? %>
    <%= form_with url: research_gen_ai_dataset_comparisons_path(@dataset), method: :post do %>
      <%= submit_tag 'Compare', id: 'compare-button', disabled: true, class: 'compare-button' %>
      <table>
        <thead>
          <tr>
            <th>Trial Number</th>
            <th>Created</th>
            <th>Prompt Template</th>
            <th>Optimal Examples</th>
            <th>Sub-Optimal Feedback Examples</th>
            <th>Guidelines</th>
            <th>Optimal Accuracy</th>
            <th>Sub-Optimal Accuracy</th>
            <th>Model</th>
            <th>Status</th>
            <th>Actions</th>
            <th>Compare</th>
          </tr>
        </thead>
        <tbody>
          <% num_trials = @trials.count %>
          <% @trials.each.with_index(0) do |trial, index| %>
            <% llm_prompt = trial.llm_prompt %>
            <tr>
              <td><%= "Trial #{num_trials - index}" %></td>
              <td><%= eastern_date(trial.created_at) %></td>
              <td><%= llm_prompt.description %></td>
              <td><%= llm_prompt.optimal_examples_count %></td>
              <td><%= llm_prompt.suboptimal_examples_count %></td>
              <td><%= llm_prompt.guidelines_count %></td>
              <td><%= trial.optimal_accuracy %></td>
              <td><%= trial.suboptimal_accuracy %></td>
              <td><%= llm.version %></td>
              <td><%= trial.status %></td>
              <td><%= link_to "View", research_gen_ai_dataset_trial_path(@dataset, trial) %></td>
              <td><%= check_box_tag 'trial_ids[]', trial.id, false, class: 'compare-checkbox' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag 'Compare', id: 'compare-button', disabled: true, class: 'compare-button' %>
    <% end %>
  <% else %>
    <p>No trials found.</p>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('.compare-checkbox');
    const compareButtons = document.querySelectorAll('.compare-button');

    function updateCompareButtons() {
      const selectedCheckboxes = document.querySelectorAll('.compare-checkbox:checked');
      const isDisabled = selectedCheckboxes.length < 2;
      compareButtons.forEach(button => {
        button.disabled = isDisabled;
      });
    }

    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', updateCompareButtons);
    });

    updateCompareButtons();
  });
</script>