<div>
  <h2><%= @dataset.model_name.human.titleize %></h2>
  <p><%= @dataset %></p>

  <h3>Optimal Count</h3>
  <p><%= @dataset.optimal_count %></p>

  <h3>Suboptimal Count</h3>
  <p><%= @dataset.suboptimal_count %></p>
  <hr/>

  <header>
    <h2>
      Trials
      <%= link_to 'new', new_research_gen_ai_dataset_trial_path(@dataset), class: 'new-link', style: 'margin-right: 20px;' %>
    </h2>
  </header>

  <br>

  <% if @trials.any? %>
    <%= form_with url: research_gen_ai_dataset_comparisons_path(@dataset), method: :post do %>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>LLM</th>
            <th>Activity</th>
            <th>Conjunction</th>
            <th>LLM Prompt Description</th>
            <th># of Test Results</th>
            <th>Status</th>
            <th>Actions</th>
            <th>Compare</th>
          </tr>
        </thead>
        <tbody>
          <% @trials.each do |trial| %>
            <tr>
              <td><%= trial.id %></td>
              <td><%= trial.created_at.strftime("%m/%d/%y, %H:%M") %></td>
              <td><%= trial.llm %></td>
              <td><%= trial.stem_vault.name %></td>
              <td><%= trial.conjunction %></td>
              <td><%= trial.llm_prompt.description %></td>
              <td><%= trial.dataset.test_examples_count %></td>
              <td><%= trial.status %></td>
              <td><%= link_to "View", research_gen_ai_dataset_trial_path(@dataset, trial) %></td>
              <td><%= check_box_tag 'trial_ids[]', trial.id, false, class: 'compare-checkbox' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag 'Compare', id: 'compare-button', disabled: true, class: 'compare-button' %>
    <% end %>
  <% else %>
    <p>No trials found.</p>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('.compare-checkbox');
    const compareButton = document.getElementById('compare-button');

    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        const selectedCheckboxes = document.querySelectorAll('.compare-checkbox:checked');
        compareButton.disabled = selectedCheckboxes.length < 2;
      });
    });
  });
</script>
