<% if count_items  %>
  <div class="counts">
    <% count_items.each do |item| %>
      <% change_icon = item[:change_icon] %>

      <section class="snapshot-item snapshot-count <%= size %> <%= item[:change_direction] %>">
        <div class="count-and-label">
          <span class="count"><%= item[:count] %></span>
          <span class="snapshot-label"><%= item[:label] %></span>
        </div>
        <div class="change">
          <% if change_icon %>
            <img alt="<%= change_icon[:alt] %>" class="<%= size %>" src="<%= change_icon[:src] %>" />
            <span><%= item[:change] %>%</span>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>
<% end %>