<!-- Nav tabs -->

<div class="tab-outer-wrap">
  <div class="container">

    <ul class="nav nav-tabs tabs-navigation-list" role="tablist">

      <li class="<%= controller_name == 'classroom_manager' && action_name == 'scorebook' ? 'active' : '' %>">
        <%= link_to 'Scorebook', scorebook_path(current_user), role: 'tab', id: 'first-tab'  %>
      </li>

      <li class="<%= controller_name == 'classroom_manager' && action_name == 'lesson_planner' ? 'active' : '' %>" >
        <%= link_to "Activity Planner", lesson_planner_teachers_classrooms_path %>
      </li>

      <li class="<%= (controller_name == 'classrooms' or (controller_name == 'classroom_manager' and action_name == 'invite_students')or controller_name == 'students' ) && !is_progress_report_page? ? 'active' : '' %>">
        <%= link_to 'Class Manager', teachers_classrooms_path, role: 'tab'  %>
      </li>

      <li class="<%= is_progress_report_page? ? 'active' : '' %>">
        <%= link_to raw('Progress Reports<span class="btn button-yellow">BETA</span>'), teachers_progress_reports_standards_classrooms_path, class: 'progress-reports-nav', role: 'tab' %>
      </li>
      <li class="<%= (action_name == 'premium_access') ? 'premium-tab active' : 'premium-tab' %>">
        <%= link_to 'Premium', premium_access_path, role: 'tab' %>
      </li>
    </ul>

  </div> <!-- //.container -->
</div>