<!-- Nav tabs -->
<%- extra_class = (session[:admin_id].present? ? "background-color-white" : "") %>

<div class="<%="tab-outer-wrap #{extra_class}"%>" >
  <div class="container">

    <ul class="nav nav-tabs tabs-navigation-list" role="tablist">

      <li class="<%= (controller_name == 'classrooms' or (controller_name == 'classroom_manager' and (action_name == 'invite_students' || 'dashboard')) or controller_name == 'students' ) && !is_progress_report_page? ? 'active' : '' %>">
        <%= link_to 'Classes', dashboard_teachers_classrooms_path, role: 'tab', id: 'first-tab'  %>
      </li>

      <li class="<%= is_progress_report_page? ? 'active' : '' %>">
        <%= link_to raw("Student Reports"), teachers_progress_reports_concepts_students_path, class: 'progress-reports-nav', role: 'tab' %>
      </li>

      <li class="<%= controller_name == 'classroom_manager' && action_name == 'lesson_planner' ? 'active' : '' %>" >
        <%= link_to "Activity Planner", lesson_planner_teachers_classrooms_path %>
      </li>

      <li class="<%= controller_name == 'classroom_manager' && action_name == 'scorebook' ? 'active' : '' %>">
        <%= link_to 'Scorebook', scorebook_path(current_user), role: 'tab' %>
      </li>

      <%- unless current_user.is_premium? %>
        <li class="<%= (action_name == 'premium_access') ? 'premium-tab active' : 'premium-tab' %>">
          <%= link_to raw("Try Premium for Free <i class='fa fa-star'></i>"), premium_access_path, role: 'tab' %>
        </li>
      <% end %>
    </ul>

  </div> <!-- //.container -->
</div>
