<!-- Nav tabs -->
<%- extra_class = (session[:admin_id].present? ? "background-color-white" : "") %>

<div class="<%="tab-outer-wrap #{extra_class}"%>" >
  <div class="container">

    <ul class="nav nav-tabs tabs-navigation-list" role="tablist" id="teacher-nav-tabs">

      <li class="<%=((controller_name == 'classrooms') or  (['invite_students', 'dashboard', 'my_account'].include?(action_name)) or controller_name == 'students') ? 'active' : '' %>">
        <%= link_to 'Classes', dashboard_teachers_classrooms_path, role: 'tab', id: 'first-tab'  %>
      </li>

      <li class="<%= (is_progress_report_page? || (action_name == 'scorebook')) ? 'active' : '' %>">
        <%= link_to "Student Reports", scorebook_path(current_user), class: 'progress-reports-nav', role: 'tab' %>
      </li>

      <li class="<%= controller_name == 'classroom_manager' && action_name == 'lesson_planner' ? 'active' : '' %>" >
        <%= link_to "Activity Planner", lesson_planner_teachers_classrooms_path %>
      </li>

      <%- unless ((current_user.premium_state == 'paid') || (current_user.premium_state == 'school')) %>
        <li class="<%= (action_name == 'premium_access') ? 'premium-tab active' : 'premium-tab' %>">
          <%= link_to raw(premium_tab_copy), premium_access_path, role: 'tab' %>
        </li>
      <% end %>
    </ul>

  </div> <!-- //.container -->
</div>
