.control-group
  = f.label :lecture_id, class: 'control-label'
  .controls
    = f.select :lecture_id, CMS::Lecture.all.collect {|r| [ r.title, r.id ] }
.control-group
  = f.label :title, class: 'control-label'
  .controls
    = f.text_field :title
.control-group
  = f.label :subtitle, class: 'control-label'
  .controls
    = f.text_field :subtitle
.control-group
  = f.label :position, class: 'control-label'
  .controls
    = f.select :position, 1.upto(f.object.order_scope.count + 1).to_a
.control-group
  = f.label :youtube_embed_code, class: 'control-label'
  .controls
    = f.text_area :youtube_embed_code
.control-group
  = f.label :citation_text, class: 'control-label'
  .controls
    = f.text_area :citation_text
.control-group
  = f.label :reading_text, class: 'control-label'
  .controls
    = f.text_area :reading_text
.control-group
  = f.label :annotatable_text, class: 'control-label'
  .controls
    = f.text_area :annotatable_text
.control-group
  = f.label :chart_embed_code, class: 'control-label'
  .controls
    = f.text_area :chart_embed_code
.control-group
  = f.label :globe_embed_code, class: 'control-label'
  .controls
    = f.text_area :globe_embed_code
.control-group
  = f.label :quiz_embed_code, class: 'control-label'
  .controls
    = f.text_area :quiz_embed_code
.control-group
  = f.label :slideshow_embed_code, class: 'control-label'
  .controls
    = f.text_area :slideshow_embed_code
.form-actions
  = f.submit 'Save', class: 'btn btn-primary', :'data-disable-with' => 'Saving...'
