%h2 Lecture chapters

= link_to 'New lecture chapter', new_cms_lecture_chapter_path

%table.table
  %thead
    %tr
      %th Id
      %th Chapter group
      %th Title
      %th Subtitle
      %th Position
      %th Citation text
      %th Reading text
      %th Annotatable text
      %th

  %tbody
    - @lecture_chapters.each do |lecture_chapter|
      %tr
        %td= lecture_chapter.id
        %td
          - if lecture_chapter.chapter_group.present?
            = link_to lecture_chapter.chapter_group.title, cms_chapter_group_path(lecture_chapter.chapter_group)
        %td= lecture_chapter.title.to_s.truncate(100)
        %td= lecture_chapter.subtitle.to_s.truncate(100)
        %td= lecture_chapter.position.to_s.truncate(100)
        %td= lecture_chapter.citation_text.to_s.truncate(100)
        %td= lecture_chapter.reading_text.to_s.truncate(100)
        %td= lecture_chapter.annotatable_text.to_s.truncate(100)

        %td
          = link_to 'Edit', edit_cms_lecture_chapter_path(lecture_chapter)
          = link_to 'Destroy', cms_lecture_chapter_path(lecture_chapter), confirm: 'are you sure?', method: 'delete'

= paginate @lecture_chapters
