<div class='container'>
  <article class='simple-rounded-box cms-container'>
    <%= link_to 'District Directory', cms_districts_path %> > <%= link_to @district.name, cms_district_path(@district.id) %> > Edit
    <br /><br />
    <h2>Edit: <%= @district.name %></h2>
    <br />
    <p><strong>Warning: Please don't edit the district info unless you are 100% sure it needs to be changed.</strong></p>
    <br /><strong>Notes:
    <ul>
      <li>State is just initials (e.g. NY)</li>
      <li>Phone is in this format: (XXX)XXX-XXXX</li>
    </strong></ul><br />
    <div class='cms-form'>
      <%= form_for @district, url: cms_district_path(@district.id) do |f| %>
        <% @editable_attributes.each do |attribute_name, attribute_field| %>
          <div class='cms-form-row'>
            <%= f.label attribute_field, attribute_name %>
            <%= f.text_field attribute_field, autocomplete: 'off' %>
          </div>
        <% end %>

        <%= f.hidden_field :id %>

        <div class='cms-submit-row'>
          <%= f.button "Save", class: 'button-green' %>
        </div>
      <% end %>
    </div>
  </article>
</div>
