<div class='container'>
  <article class='simple-rounded-box cms-container'>
    <%= link_to 'District Directory', cms_districts_path %> > <%= @district.name %>
    <br /><br />
    <h2><%= @district.name %></h2>
    <br />
    <h2>District Subscription</h2>
    <br />
    <% if @subscription %>
      <%= link_to 'Edit Subscription', edit_cms_subscription_path(@subscription), class: 'btn button-green' %>
    <% end %>
    <%= link_to 'New Subscription', new_subscription_cms_district_path(params[:id]), class: 'btn button-green' %>
    <br /> <br />
    <h2>District Info</h2>
    <br />
    <%= link_to 'Edit District Info', edit_cms_district_path(params[:id]), class: 'btn button-green' %>
    <br /> <br />

    <p><strong>Name</strong></p>
    <p><%= @district.name || 'N/A' %></p>
    <br /> <br />

    <p><strong>Clever ID</strong></p>
    <p><%= @district.clever_id || 'N/A' %></p>
    <br /> <br />

    <p><strong>NCES ID</strong></p>
    <p><%= @district.nces_id || 'N/A' %></p>
    <br /> <br />

    <p><strong>City</strong></p>
    <p><%= @district.city || 'N/A' %></p>
    <br /> <br />

    <p><strong>State</strong></p>
    <p><%= @district.state || 'N/A' %></p>
    <br /> <br />

    <p><strong>ZIP Code</strong></p>
    <p><%= @district.zipcode || 'N/A' %></p>
    <br /> <br />

    <p><strong>Phone</strong></p>
    <p><%= @district.phone || 'N/A' %></p>
    <br /> <br />

    <p><strong>Total Schools</strong></p>
    <p><%= @district.total_schools || 'N/A' %></p>
    <br /> <br />

    <p><strong>Total Students</strong></p>
    <p><%= @district.total_students || 'N/A' %></p>
    <br /> <br />

    <p><strong>Grade Range</strong></p>
    <p><%= @district.grade_range || 'N/A' %></p>
    <br /> <br />

    <h2>Schools</h2>

    <table class='cms-results-table'>
      <thead>
        <tr>
          <% ['Name', 'City', 'State', 'FRL', 'Teachers', 'Premium?', 'Admins', 'Manage'].each do |td| %>
            <td><%= td %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @school_data.each do |school| %>
          <tr>
            <td><%= school.name || 'N/A' %></td>
            <td><%= school.city || 'N/A' %></td>
            <td><%= school.state || 'N/A' %></td>
            <td><%= school.free_lunches || 'N/A' %>%</td>
            <td><%= school.number_teachers || '0' %></td>
            <td><%= school.account_type || '' %></td>
            <td><%= school.number_admins || '0' %></td>
            <td>
              <%= link_to 'view', cms_school_path(school.id) %>
              <br />
              <% if school.id.present? %>
                <%= link_to 'edit', edit_cms_school_path(school.id) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br /><br />

    <br /><br />
    <h2>All Admins</h2>
    <% if @admins.any? %>
      <table class='cms-results-table'>
        <thead>
          <tr>
            <% ['Name', 'Email', 'Remove Admin'].each do |td| %>
              <td><%= td %></td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.user.name %></td>
              <td><%= admin.user.email %></td>
              <td><%= button_to 'Remove Admin', cms_district_district_admin_path(@district, admin), method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br />
    <%= link_to 'Add Admin', new_admin_cms_district_path(params[:id]), class: 'btn button-green' %>
  </article>
</div>
