<% current_path = request.env['PATH_INFO'] %>

<% if !in_assignment_flow? %>
  <div class="full-screen bg-quillgreen">
    <div class="q-nav-bar">
      <ul class="desktop-nav-list" role="tablist" id="teacher-nav-tabs">

        <li class="<%= 'active' if home_page_should_be_active? %>">
          <%= link_to 'Home', dashboard_teachers_classrooms_path %>
        </li>

        <% if current_user.admin? && !admin_impersonating_user?(current_user) %>
          <li class="admin-tab <%= 'active' if admin_page_should_be_active? %>">
            <%= link_to 'Admin Dashboard', teachers_admin_dashboard_path, role: 'tab' %>
          </li>
        <% end %>

        <li class="<%= 'active' if classes_page_should_be_active? %>">
          <%= link_to 'My Classes', teachers_classrooms_path %>
        </li>

        <li class="<%= 'active' if assign_activity_page_should_be_active? %>">
          <%= link_to raw("Assign<span class='hide-on-mobile'> Activities</span>"), '/assign' %>
        </li>

        <li class="<%= 'active' if my_activities_page_should_be_active? %>">
          <%= link_to raw("<span class='hide-on-mobile'>My </span>Activities"), lesson_planner_teachers_classrooms_path %>
        </li>

        <li class="<%= 'active' if student_reports_page_should_be_active? %>" id="student-reports-link">
          <%= link_to raw("<span class='hide-on-mobile'>My Student </span>Reports"), teachers_progress_reports_landing_page_path %>
        </li>

        <% unless current_user.premium_state == 'paid' %>
          <li class="premium-tab <%= 'active' if premium_page_should_be_active? %>">
            <%= link_to raw("<span class='hide-on-mobile premium-tab-copy'>#{premium_tab_copy}</span><span class='hide-on-desktop premium-tab-small'>Premium</span>"), premium_path %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>

  <% if should_render_subnav? %>
    <div class="tab-subnavigation-wrapper class-subnav <%= 'student-reports-subnav' if student_reports_page_should_be_active? %>">
      <div class="container">
        <ul>
          <% if home_page_should_be_active? %>
            <% if current_user.has_classrooms? || current_user.archived_classrooms.any? || current_user.coteacher_invitations.any? %>
              <li><%= active_link_to 'Overview', dashboard_teachers_classrooms_path %></li>
            <% end %>
            <li><%= active_link_to 'My Account', teachers_my_account_path %></li>
            <li><%= active_link_to 'My Subscriptions', subscriptions_path %></li>
            <% if should_show_admin_access_tab? %>
              <li><%= active_link_to 'Admin Access', admin_access_index_path %></li>
            <% end %>
          <% end %>

          <% if classes_page_should_be_active? %>
            <li><%= link_to 'Active Classes', teachers_classrooms_path, class: !current_path.include?('archived') ? 'active' : '' %></li>
            <li><%= link_to 'Archived Classes', archived_teachers_classrooms_path, class: current_path.include?('archived') ? 'active' : '' %></li>
          <% end %>

          <% if student_reports_page_should_be_active? %>

            <%# <li> %>
              <%# active_link_to 'Real-time', '/teachers/progress_reports/real_time', class: 'default' %>
            <%# </li>  %>

            <li><%= active_link_to 'Activity Summary', scorebook_teachers_classrooms_path, class: 'default'%></li>
            <li><%= active_link_to 'Activity Analysis', '/teachers/progress_reports/diagnostic_reports/#/activity_packs', class: 'default activity-analysis-tab'%></li>
            <li><%= active_link_to 'Diagnostics', '/teachers/progress_reports/diagnostic_reports/#/diagnostics', class: 'default diagnostic-tab'%></li>
            <li><a href='/teachers/progress_reports/activities_scores_by_classroom' class=<%=%w(/teachers/progress_reports/student_overview /teachers/progress_reports/activities_scores_by_classroom).include?(request.path) ? 'active' : nil%> >Activity Scores <img alt="" src="https://assets.quill.org/images/icons/gold_star.svg"></img></a></li>
            <li><%= active_link_to raw('Concepts  <img alt="" src="https://assets.quill.org/images/icons/gold_star.svg"></img>'), teachers_progress_reports_concepts_students_path%></li>
            <li><%= active_link_to raw('Standards  <img alt="" src="https://assets.quill.org/images/icons/gold_star.svg"></img>'), teachers_progress_reports_standards_classrooms_path %></li>
            <li><%= active_link_to raw('Data Export  <img alt="" src="https://assets.quill.org/images/icons/gold_star.svg"></img>'), teachers_progress_reports_activity_sessions_path %></li>
          <% end %>

        </ul>
      </div>
    </div>
  <% end %>

  <% if student_reports_page_should_be_active? %>
    <div id='premium-banner-container'></div>
  <% end %>
<% end %>
