<%= form_with(model: question_set, local: true, url: (@question_set.new_record? ? [@activity, @question_set]: @question_set)) do |form| %>
  <% if question_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_set.errors.count, "error") %> prohibited this question_set from being saved:</h2>

      <ul>
      <% question_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :activity_id, class: "form-label" %>
    <%= form.text_field :activity_id, value: (@question_set.new_record? ? @activity.id : @question_set.activity_id), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :prompt, class: "form-label" %>
    <%= form.text_area :prompt, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :order, class: "form-label" %>
    <%= form.number_field :order, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
