<div class="subnav">
  <div class="container d-fl-r jc-sb">
    <div class="subnav-left">
      <div class="subnav-item"><%= @question_set.prompt %></div>
    </div>
    <div class="subnav-right">
      <div class="subnav-item"><%= link_to 'Edit', edit_question_set_path(@question_set) %></div>
      <div class="subnav-item"><%= link_to 'Destroy', @question_set, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
</div>

<div class="container">
  <p>Activity: <%= @question_set.activity.title %></p>

  <h3>Questions</h3>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter card-table">
        <thead>
          <tr>
            <th>Prompt</th>
            <th>Order</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @question_set.questions.each do |question| %>
            <tr>
              <td><%= question.prompt %></td>
              <td><%= question.order %></td>
              <td><%= link_to 'Show', question %></td>
              <td><%= link_to 'Edit', edit_question_path(question) %></td>
              <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
    <%= link_to 'New Question', new_question_set_question_path(@question_set) %>
    </div>
  </div>

</div>
