<div>
  <h2><%= @activity_prompt_config.model_name.human.titleize %></h2>

  <h3>Name</h3>
  <p><%= link_to @activity_prompt_config.name, @activity_prompt_config.passage %></p>

  <h3>Conjunction</h3>
  <p><%= @activity_prompt_config.conjunction %></p>

  <h3>Prompt</h3>
  <p><%= simple_format(@activity_prompt_config.prompt) %></p>

  <h3>Instructions</h3>
  <p><%= simple_format(@activity_prompt_config.instructions) %></p>

  <h3>Relevant Passage</h3>
  <p><%= simple_format(@activity_prompt_config.relevant_passage) %></p>
</div>

<br>
<%= link_to 'New Trial', new_research_gen_ai_trial_path %>
<br>
<br>
<%= link_to 'Trials', research_gen_ai_trials_path %>
