<div>
  <h2><%= @activity_prompt_config.model_name.human.titleize %></h2>

  <h3>Activity</h3>
  <p><%= link_to @activity_prompt_config.name, @activity_prompt_config.activity %></p>

  <h3>Conjunction</h3>
  <p><%= @activity_prompt_config.conjunction %></p>

  <h3>Stem</h3>
  <p><%= simple_format(@activity_prompt_config.stem) %></p>

  <h3>Optimal Rules</h3>
  <p><%= simple_format(@activity_prompt_config.optimal_rules) %></p>

  <h3>Sub-optimal Rules</h3>
  <p><%= simple_format(@activity_prompt_config.sub_optimal_rules) %></p>
</div>

<br>
<%= link_to 'New Trial', new_research_gen_ai_trial_path %>
<br>
<br>
<%= link_to 'Trials', research_gen_ai_trials_path %>
