= form_for @chapter do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
      %ul
        - @chapter.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_area :title


  %input{:type => "hidden", :value => @workbook, :name => :workbook_id}

  .actions
    = f.submit 'Save'
