.chapter-form
  = form_for @chapter do |f|
    - if @chapter.errors.any?
      #error_explanation
        %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
        %ul
          - @chapter.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :title, "Chapter Title:"
      = f.text_field :title
    %br
    %br
    .field
      = f.label :assessment, "Assessment:"
      = f.text_area :assessment, :value => "Please enter some text."

    %input{:type => "hidden", :value => @workbook, :name => :workbook_id}

    .actions
      = f.submit 'Save'
.chapter-rules
  %div Rules Reference Guide
  %table
    %tr
      %th
      %th
    - @rules.each do |rule|
      %tr
        %td.name= " • #{rule.created_at.to_i}"
        %td.id= "\{\|#{rule.id}\}"
