= content_for :outer_content do
  :javascript
    window.chapterID = #{@lecture_chapter.try(:id).to_json}

  %article.chapter-tabs
    %header
      .top
        .controls-wrap
          .container
            %ul.controls
              - %w(contents read annotate slideshow images globe chart citations discussion quiz lecture notes review).each do |panel|
                - if display_panel?(panel)
                  %li.control{'data-target' => panel}= link_to panel, '/', class: (panel == 'lecture') ? 'active' : ''

              - if next_lecture_chapter(@lecture_chapter).present?
                %li.control{'data-target' => 'next'}= link_to 'next', chapter_path(next_lecture_chapter(@lecture_chapter)), data: {default: true}

    .container
      .main-wrap
        .whiteboard#main-whiteboard
          %hgroup
            %h1= @lecture_chapter.title
            %h2= @lecture_chapter.subtitle
            .separator
          .panel.chart= @lecture_chapter.chart_embed_code.to_s.html_safe
          .panel.discussion= markdown @lecture_chapter.discussion_text.to_s
          .panel.annotate= markdown @lecture_chapter.annotatable_text.to_s
          .panel.citations= markdown @lecture_chapter.citation_text.to_s
          .panel.read= markdown @lecture_chapter.reading_text.to_s
          .panel.quiz= @lecture_chapter.quiz_embed_code.to_s.html_safe
          .panel.slideshow= @lecture_chapter.slideshow_embed_code.to_s.html_safe
          .panel.globe= @lecture_chapter.globe_embed_code.to_s.html_safe
          .panel.lecture.primary= @lecture_chapter.youtube_embed_code.to_s.html_safe

          .panel.review
            - @lecture_chapter.questions.each do |question|
              .review-question{data: question.attributes}
                %h4= question.question_text
                .message

                = form_for question do |f|
                  = f.text_area :answer
                  = f.submit :save
        .whiteboard.panel.questions
