%p#notice= notice
.chapter-view
	%table.table
		%tr
			%td.title= @chapter.title
			%td.all= link_to 'All', chapters_path
	-if current_user.admin?
		=link_to 'Edit', edit_chapter_path(@chapter)
		=link_to 'Chapter quiz', test_path(:chapter_id => @chapter.id)
	%br
	%br

	.description= @chapter.description
	%br
	%br

	.assessment= @chapter.assessment.body