= content_for :video do
  %hgroup
    %h1= @lecture_chapter.title
    %h2= @lecture_chapter.subtitle
  .separator
  %p
  = @lecture_chapter.youtube_embed_code.html_safe

= content_for :primary_panel do
  #DEMO_GameOfLifeConfigurations
    %a.demonstrationHyperlink{:href => "http://demonstrations.wolfram.com/\r\n  GameOfLifeConfigurations/", :target => "_blank"} Game of Life Configurations
    from the
    %a.demonstrationHyperlink{:href => "http://demonstrations.wolfram.com/", :target => "_blank"} Wolfram Demonstrations Project
    by Eric Weisstein

- if @lecture_chapter.annotatable_text.present?
  = content_for :annotatable_text do
    %p= @lecture_chapter.annotatable_text
