%p#notice= notice
%h2 Chapter #{@chapter.id}: #{@chapter.title}
= link_to 'Previous', previous_chapter_path(:current_chapter => @chapter)
\|
= link_to 'Next', next_chapter_path(:current_chapter => @chapter)
\|
= link_to 'All Chapters', chapters_path
\|
= link_to 'Your Homepage', profile_path
%h3 Assessment
- if @chapter.assessment.present?
	%p= @chapter.assessment.body
	%p= link_to 'Edit Assessment', edit_assessment_path(@chapter.assessment)
- if !(@chapter.assessment.present?)
	= link_to 'Give me an assessment', new_assessment_path
%h3 Rules
%p= link_to 'Add Rule', new_rule_path
- @chapter.rules.each do |rule|
	%h4 Rule #{rule.id}:
	%p #{rule.body} (#{link_to 'Edit',edit_rule_path(rule)})
	- rule.lessons.each do |lesson|
		%h5 Lesson #{lesson.id}:
		%p= lesson.body
	%p= link_to 'Add Lesson', new_lesson_path
