<div class="tab-subnavigation-wrapper">

  <div class="container">

    <ul>
      <%- if current_user.has_classrooms? %>
        <li><%= active_link_to 'Overview', dashboard_teachers_classrooms_path%></li>
	      <li><%= link_to 'Invite Students', (teachers_classroom_invite_students_path(classroom_id: current_user.classrooms_i_teach.first)) %></li>
	      <li><%= link_to 'Manage Classes', teachers_classrooms_path, class: ((action_name == 'index') or (action_name == 'edit')) ? 'active' : '' %></li>
	  <% end %>
	  <li><%= active_link_to 'Create a Class', new_teachers_classroom_path %></li>
    <li><%= active_link_to 'My Account', teachers_my_account_path %></li>
    <li><%= active_link_to 'Teacher Guide', teachers_teacher_guide_path %></li>
    </ul>

  </div>
</div> 
