<% @active_tab = 'About' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab %>

<% base_image_url = "#{ENV['CDN_URL']}/images/about_us" %>


<div class="white-background">
  <div class="container pages-container white-page careers-page" id="careers">

    <div class="cta-banner">
      <div class="cta-banner-contents">
        <h3>Join Our Team</h3>
        <p class="hide-mobile">We're looking for thoughtful, passionate people to join our mission<br/>
           and reimagine literacy education.</p>
        <a target="_blank" href="https://angel.co/company/quill-org/jobs">
          <button class="quill-button medium secondary outlined">See open positions</button>
        </a>
      </div>
    </div>

    <div class="text-and-image">
      <div>
        <h3>Our Mission</h3>
        <p>Quill’s mission is to provide groundbreaking digital tools that help low-income students become strong writers. Our goal is to help the 30 million low-income K-12 students in the United States who struggle with writing.</p>
        <p>Our passion for supporting strong K-12 writing instruction informs what we do every day, whether that's building high-quality digital learning tools for the classroom, developing an innovative literacy curriculum, or connecting with school communities to learn how we can best meet their needs.</p>
      </div>
      <img src=<%= "#{base_image_url}/student-typing@2x.jpg" %> alt="A photograph taken over a student's shoulder of a laptop being used to complete a Quill activity" width=300 height=300 />
    </div>

    <div class="text-and-image flex-reverse">
      <div>
        <h3>Our Values</h3>
        <ol>
          <li>Be kinder than you have to</li>
	  <li>Do the right thing, even when it's hard</li>
	  <li>Service to others</li>
	  <li>Strength in differences</li>
	  <li>Growth mindset</li>
	  <li>Empower individuals</li>
	  <li>Intentional communication</li>
	  <li>Building with conviction</li>
        </ol>
      </div>
      <img src=<%= "#{base_image_url}/growth-mindset@2x.jpg" %> alt="A close-up photograph of a poster on a wall that reads 'Growth Mindset: We have a culture of continuous growth, and encourage learning from setbacks.'" width=300 height=300 />
    </div>

    <div class="text-and-image">
      <div>
        <h3>Life at Quill</h3>
          <p>It’s not only what we do that makes Quill an amazing place to work, it’s who we are and how we do it that makes our work environment so unique. As an employee, you will have the opportunity to work with an exceptionally talented team of dedicated individuals performing purpose-driven work.</p>
          <p>Quill intentionally fosters a supportive working environment, one where employees learn from each other and freely collaborate to reach their common goals. Our workplace has been compared to a classroom, wherein staff not only learn and grow together, but also have fun together—as exemplified by our occasional team craft activities and neighborhood outings.</p>
          <p>Are you energized by the idea of using technology to innovate literacy education and improve the lives of millions of students and teachers? If so, join us!</p>
      </div>
      <div>
        <img src=<%= "#{base_image_url}/values-workshop@2x.jpg" %> alt="A photograph of a Quill employee presenting a collage to fellow employees" width=300 height=300 />
        <p class="img-caption">Getting crafty with our values</p>
      </div>
    </div>

    <div class="img-gallery">
      <div class="img-row">
        <div>
          <img src=<%= "#{base_image_url}/team-printables@2x.jpg" %> alt="A collection of four images of Quill employees" width=306 height=306 />
          <p class="img-caption">Small team, big ambitions</p>
        </div>
        <div>
          <img src=<%= "#{base_image_url}/team-botanic-gardens@2x.jpg" %> alt="A group photo of Quill employees posing in front of a blossoming cherry tree" width=604 height=306 />
          <p class="img-caption">Smiling faces during a team offsite at the Brooklyn Botanic Garden</p>
        </div>
      </div>
      <div class="img-row">
        <div>
          <img src=<%= "#{base_image_url}/financial-district-walk@2x.jpg" %> alt="A photo of a warmly-lit brick-cobbled street" width=604 height=306 />
          <p class="img-caption">One of our favorite streets in the neighborhood to go for a stroll</p>
        </div>
        <div>
          <img src=<%= "#{base_image_url}/coffee-mug@2x.jpg" %> alt="A close-up photo of a white mug with the stylized Quill organization's writing quill logo" width=306 height=306 />
          <p class="img-caption">Our feathered friend</p>
        </div>
      </div>
    </div>

    <div class="job-listings">
      <h3>Open Positions</h3>
      <div class="job-board">
        <div class="job-section">
          <div class="position-category hide-mobile">
            <h3>Product</h3>
          </div>
          <div class="positions">
            <a target="_blank" href="https://angel.co/company/quill-org/jobs/581567-junior-software-engineer-rails-react-python">
              <div class="position">
                <div>Junior Software Engineer</div>
                <img class="icon-img" src=<%= "#{expand_icon_url}" %> width=24 height=24 />
              </div>
            </a>
            <a target="_blank" href="https://angel.co/company/quill-org/jobs/581557-software-engineer-rails-react-python">
              <div class="position">
                <div>Software Engineer</div>
                <img class="icon-img" src=<%= "#{expand_icon_url}" %> width=24 height=24 />
              </div>
            </a>
            <a target="_blank" href="https://angel.co/company/quill-org/jobs/587292-senior-software-engineer-rails-react-python">
              <div class="position">
                <div>Senior Software Engineer</div>
                <img class="icon-img" src=<%= "#{expand_icon_url}" %> width=24 height=24 />
              </div>
            </a>
            <a target="_blank" href="https://angel.co/company/quill-org/jobs/583873-quill-org-technical-project-manager">
              <div class="position">
                <div>Technical Project Manager</div>
                <img class="icon-img" src=<%= "#{expand_icon_url}" %> width=24 height=24 />
              </div>
            </a>
          </div>
        </div>
        <div class="job-section">
          <div class="position-category hide-mobile">
            <h3>Education</h3>
          </div>
          <div class="positions">
            <a target="_blank" href="https://angel.co/company/quill-org/jobs/431239-quill-org-director-of-sales-k-12-edtech">
              <div class="position">
                <div>Director of Sales</div>
                <img class="icon-img" src=<%= "#{expand_icon_url}" %> width=24 height=24 />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
