<% @active_tab = 'About Us' %>
<% @title = 'About Us' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab, title: @title %>

<% base_image_url = "#{ENV['CDN_URL']}/images/about_us" %>
<% expand_icon_url = "#{base_image_url}/expand.svg" %>

<div class="white-background">
  <div class="container pages-container white-page about-page about-us-page" id="careers">

    <div class="header">
      <h1>Our mission is to help all students become strong writers and critical thinkers.</h1>
    </div>

    <div class="text-and-image">
      <div>
        <h2>Poor writing skills are a formidable barrier to college and career success.</h2>
        <p>Many young people struggle to express their ideas in writing with precision and clarity. The 2011 National Assessment of Educational Progress reports that 76% of students are not proficient with basic writing. It’s a problem for them during the school day, of course, but the consequences are bigger than that. Without comprehensive intervention, those with poor writing skills may struggle in college and in their careers.</p>
        <p>Schools need writing instruction that provides the thoughtful, well-sequenced (and sometimes remedial) lessons their students need to build basic writing skills. Teachers also often lack the time to provide the rapid feedback that enables revision—the only way to help students succeed.</p>
      </div>
      <img class="square-large-img" src=<%= "#{base_image_url}/writing-skills.webp" %> alt="A photograph taken over a student's shoulder of them writing on a piece of lined paper" />
    </div>

    <div class="text-and-image flex-reverse">
      <div>
        <h2>Our solution? Tools to give everyone access to great instruction.</h2>
        <p>Quill, a nonprofit organization, has adapted research-based writing instruction into a free, open source digital platform. All of our content is free to use for students and teachers, although we do have a premium model we sell to schools. </p>
        <p>Our activities help students develop their sentence construction and grammar skills and are designed as supplemental writing exercises that students complete over short, 10 to 15 minute sessions at the beginning or end of a class period. Quill offers prompts and exercises and delivers instant feedback to help students write, revise, and revise again until they are able to produce succinct, powerful sentences.</p>
      </div>
      <img class="square-large-img" src=<%= "#{base_image_url}/connect-solution.webp" %> alt="A diagram showing a Connect activity prompt, a response to that prompt, the feedback the student received, their revised response, and feedback that the second submission was 'a strong sentence!'" />
    </div>

    <div class="text-and-image">
      <div>
        <h2>An idea and some luck, and a dream becomes reality.</h2>
        <p>Quill was hatched by Peter Gault and some Brooklyn-based dreamers who, inspired by the possibility of the internet to give everyone a voice, imagined a world in which all people had the writing and critical thinking skills to engage in active, intelligent debate and discourse. The first step was helping young people level up their basic writing skills. In 2014, they launched a proofreading tool to help teachers spot students who needed support, then added activities for practice. But Quill has always had more far-reaching ambitions than simply teaching grammar. The goal: help all students become strong writers and critical thinkers. Since 2016, Quill has launched increasingly sophisticated tools—combining sentences, using appositives, connecting ideas with conjunctions—to help students clearly express their ideas in writing.</p>
      </div>
      <img class="square-large-img" src=<%= "#{base_image_url}/peter-history.webp" %> alt="Peter Gault leaning down to speak to a student, who is gesticulating." />
    </div>

    <div class="text-and-image flex-reverse">
      <div>
        <h2>People who care about literacy started paying attention.</h2>
        <p>Gault’s work brought him to journalist Peg Tyre, who had spent years investigating a single question: why do so many children from low-income families lag behind their more affluent peers in literacy? Her takeaway: learning to decode words is crucial, but sustained literacy depends on providing students with rich background knowledge and teaching them to write.  In a celebrated 2012 article in the Atlantic, <a href="https://www.theatlantic.com/magazine/archive/2012/10/the-writing-revolution/309090/" rel="noopener noreferrer" target="_blank">The Writing Revolution</a>, she called for schools to provide more comprehensive writing instruction.</p>
        <p>Tyre helps run the EGF Accelerator, an incubator for education nonprofits. In 2015, Quill was invited in. Quill’s growth took off, attracting media attention and some of the biggest names in education, literacy, philanthropy, and academia.</p>
      </div>
      <img class="square-large-img" src=<%= "#{base_image_url}/tyre-magazine.webp" %> alt="A headshot of Peg Tyre overlaid on an image of an Atlantic magazine opened to her article, The Writing Revolution." />
    </div>

    <div class="partnerships-container">
      <h2>We're grateful to our dedicated partners who empower us to bring high-quality writing instruction to all students.</h2>
      <h3>$200,000+ funders</h3>
      <div class="partnerships">
        <img src=<%= "#{base_image_url}/partnership-att.svg" %> alt="AT&T logo" />
        <img src=<%= "#{base_image_url}/partnership-gates-foundation.svg" %> alt="Bill & Melinda Gates Foundation logo" />
        <img src=<%= "#{base_image_url}/partnership-chan-zuckerberg-initiative.svg" %> alt="Chan Zuckerberg Initiative logo" />
        <img src=<%= "#{base_image_url}/partnership-edwin-gould-foundation.svg" %> alt="Edwin Gould Foundation logo" />
        <img src=<%= "#{base_image_url}/partnership-google-org.svg" %> alt="Google.org logo" />
        <img src=<%= "#{base_image_url}/partnership-heckscher-foundation.svg" %> alt="Hecksher Foundation for Children logo" />
        <img src=<%= "#{base_image_url}/partnership-lone-pine-foundation.svg" %> alt="Lone Pine Foundation logo" />
      </div>
      <h3>All funders</h3>
      <div class="partnerships">
        <img src=<%= "#{base_image_url}/partnership-atlassian.svg" %> alt="Atlassian logo" />
        <img src=<%= "#{base_image_url}/partnership-fastforward.svg" %> alt="FastForward logo" />
        <img src=<%= "#{base_image_url}/partnership-calder-foundation.svg" %> alt="The Louis Calder Foundation logo" />
        <img src=<%= "#{base_image_url}/partnership-learnlaunch.svg" %> alt="LearnLaunch logo" />
        <img src=<%= "#{base_image_url}/partnership-newschools.svg" %> alt="NewSchools Venture Fund logo" />
        <img src=<%= "#{base_image_url}/partnership-nbc-project-innovation.svg" %> alt="NBC Project Innovation logo" />
        <img src=<%= "#{base_image_url}/partnership-robin-hood.svg" %> alt="Robin Hood logo" />
        <img src=<%= "#{base_image_url}/partnership-voqal-education.svg" %> alt="Voqal Education logo" />
      </div>
    </div>

</div>
