<% @active_tab = 'ELA Standards' %>
<%= render partial: 'pages/shared/explore_curriculum_navbar', active_tab: @active_tab  %>

<div class="container pages-activities">

  <h1>ELA Standards</h1>
  <p>
  We've built over 300 research-based writing, grammar, and proofreading activities organized by the Common Core standards. We are a nonprofit organization, and all of our activities are and will always be free. Each of our activities takes approximately 10-15 minutes. Teachers using Quill in a 1:1 classroom tend to assign Quill activities as a warm up exercise at the beginning of a class or as a group activity with the whole class.
  </p>

  <div class="dropdown-container">
    <div>
      <div class="button select-mixin select-gray button-select button-select-wrapper" type='button' data-toggle='dropdown'>
        <%= @standard_level.name %>
        <i class="fas fa-caret-down"></i>
      </div>
      <ul class="dropdown-menu" role='menu'>
        <% StandardLevel.all.sort_by(&:position).each do |standard_level| %>
          <li><%= link_to standard_level.name, url_for(standard_level_id: standard_level.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>


  <% @standards.each do |standard, activities| %>
    <div class="standard">
      <div>
        <h4><%=standard.name%></h4>
      </div>

        <% activities.order('activities.name ASC').each do |activity| %>
          <div class="activity">
            <div class="name-and-description">
              <div class="name"><%= activity.name %></div>
              <div class="activity-description"><%= activity.description&.html_safe %></div>
            </div>
            <div class="activity-link"><%= link_to "View Activity", anonymous_activity_sessions_path(activity_id: activity.id), class: 'green-link', target: '_blank' %></div>
          </div>

        <% end %>
    </div>
  <% end %>
</div>
