<% @active_tab = 'Careers' %>
<% @title = 'Careers' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab, title: @title %>

<% base_image_url = "#{ENV['CDN_URL']}/images/careers" %>
<% expand_icon_url = "#{base_image_url}/expand.svg" %>

<div class="white-background">
  <div class="container pages-container white-page careers-page about-us-page" id="careers">

    <div class="header">
      <h1>Join our team</h1>
      <p>We're looking for thoughtful, passionate people to join our mission and reimagine literacy&nbsp;education.</p>
      <a class="quill-button medium secondary outlined hide-mobile" href="https://angel.co/company/quill-org/jobs" rel="noopener noreferrer" target="_blank">Join our team</a>
    </div>

    <div class="text-and-image">
      <div>
        <h2>Our mission</h2>
        <p>Quill’s mission is to provide groundbreaking digital tools that help low-income students become strong writers. Our goal is to help the 30 million low-income K-12 students in the United States who struggle with writing.</p>
        <p>Our passion for supporting strong K-12 writing instruction informs what we do every day, whether that's building high-quality digital learning tools for the classroom, developing an innovative literacy curriculum, or connecting with school communities to learn how we can best meet their needs.</p>
      </div>
      <img class="square-large-img" loading="lazy" src=<%= "#{base_image_url}/student-typing.webp" %> alt="A photograph taken over a student's shoulder of a laptop being used to complete a Quill activity" />
    </div>

    <div class="text-and-image flex-reverse">
      <div>
        <h2>Our values</h2>
        <ol>
          <li>Be kinder than you have to</li>
      	  <li>Do the right thing, even when it's hard</li>
      	  <li>Serve others</li>
      	  <li>Recognize strength in differences</li>
      	  <li>Cultivate a growth mindset</li>
      	  <li>Empower individuals</li>
      	  <li>Communicate intentionally</li>
      	  <li>Build with conviction</li>
        </ol>
      </div>
      <img class="square-large-img" loading="lazy" src=<%= "#{base_image_url}/growth-mindset.webp" %> alt="A close-up photograph of a poster on a wall that reads 'Growth Mindset: We have a culture of continuous growth, and encourage learning from setbacks.'" />
    </div>

    <div class="text-and-image">
      <div>
        <h2>Life at Quill</h2>
        <p>It’s not only what we do that makes Quill an amazing place to work, it’s who we are and how we do it. As an employee, you will have the opportunity to work with an exceptionally talented team of dedicated individuals performing purpose-driven work.</p>
        <p>Quill intentionally fosters a supportive working environment, one where employees learn from each other and freely collaborate to reach their common goals. Our workplace has been compared to a classroom, where staff not only learn and grow together but also have fun together—as exemplified by our occasional team craft activities and neighborhood outings.</p>
      </div>
      <div>
        <img class="square-large-img" loading="lazy" src=<%= "#{base_image_url}/values-workshop.webp" %> alt="A photograph of a Quill employee presenting a collage to fellow employees" />
        <p class="img-caption">Getting crafty with our values</p>
      </div>
    </div>

    <div class="img-gallery">
      <div class="img-row">
        <div>
          <img class="square-medium-img" loading="lazy" src=<%= "#{base_image_url}/team-printables.webp" %> alt="A collection of four images of Quill employees" />
          <p class="img-caption">Small team, big ambitions</p>
        </div>
        <div>
          <img class="rectangular-img" loading="lazy" src=<%= "#{base_image_url}/team-botanic-gardens.webp" %> alt="A group photo of Quill employees posing in front of a blossoming cherry tree" />
          <p class="img-caption">Smiling faces during a team offsite at the Brooklyn Botanic Garden</p>
        </div>
      </div>
      <div class="img-row">
        <div>
          <img class="rectangular-img" loading="lazy" src=<%= "#{base_image_url}/financial-district-walk.webp" %> alt="A photo of two people sitting and smiling at each other in a lounge area" />
          <p class="img-caption">Beautiful common spaces for reading and chats</p>
        </div>
        <div>
          <img class="square-medium-img" loading="lazy" src=<%= "#{base_image_url}/coffee-mug.webp" %> alt="A close-up photo of a white mug with the stylized Quill organization's writing quill logo" />
          <p class="img-caption">Our feathered friend</p>
        </div>
      </div>
    </div>

    <div class="job-listings">
      <h2>Open positions</h2>
      <div class="job-board">
        <% if @open_positions%>
          <% @open_positions.each do |job| %>
            <%= render partial: 'pages/job', locals: {job: job} %>
          <% end %>
        <% else %>
          <p>We have no open positions at this time. Please check back later for postings!</p>
        <% end %>
      </div>
    </div>

  </div>
</div>
