<section class="tool-header">
  <%= render partial: 'pages/shared/navbar' %>
  <% @active_tab = 'Quill Diagnostic' %>
  <% @tool = 'diagnostic' %>
  <%= render partial: "pages/shared/tools_anchor_navbar", active_tab: @active_tab, tool: @tool%>
</section>
<div class="tool-container diagnostic-tool-page">

    <section class='tool-hero text-center bg-darkred tool-section'>
        <h1 class="q-h1">
            <img class="tool-page-icon lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/shared/quill_diagnostic_white.svg" %>>Quill Diagnostic
        </h1>
        <p class='description'>
        Quickly determine which skills your students need to work on with our diagnostic activities. The diagnostics cover vital sentence construction skills and generate personalized learning plans based on your students&lsquo; performance.
        </p>
        <section class="tool-ctas diagnostic-tool">
          <a href=<%= "/activity_sessions/anonymous?activity_id=-LKbzH_Er916zGjgHk5U" %> target="_blank" class="q-button cta-button bg-white text-darkred">Try a sample activity</a>
          <% if current_user&.teacher? %>
            <a href='/assign/activity-library?activityClassificationFilters[]=diagnostic' class="q-button text-white learn-more-button">Assign</a>
          <% end %>
        </section>
    </section>

    <section class="tool-animation-section " id="overview">
          <video class='tool-animation lazyload' data-src="/videos/diagnostic.mp4" autoplay loop/>
    </section>

    <section class="walk-thru-wrapper desktop" id="how-it-works">
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_1.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>What's Being Tested</h2>
                    <p>
                        The diagnostics cover fundamental areas of sentence structure, giving you insight into your students’ ability to effectively create both basic and advanced sentences.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img id='ell-diagnostic-img' class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_2.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>ELL Diagnostic <img class="lazyload" data-src="/images/tools/diagnostic/new_tag.svg"></h2>
                    <p>
                        Our new ELL Diagnostic assesses your students’ knowledge of 10 different concepts specifically chosen for English language learners. The diagnostic also offers directions in
                        <img class="lazyload" data-src="/images/flags/spain.png">Spanish,
                        <img class="lazyload" data-src="/images/flags/china.png">Mandarin,
                        <img class="lazyload" data-src="/images/flags/france.png">French,<br/>
                        <img class="lazyload" data-src="/images/flags/vietnam.png">Vietnamese,
                        <img class="lazyload" data-src="/images/flags/egypt.png">Arabic, and
                        <img class="lazyload" data-src="/images/flags/india.png">Hindi.
                        <a class="ell-press-announcement" rel="noopener noreferrer" target="_blank" href="https://medium.com/writing-with-quill/quill-org-launches-ell-diagnostic-ac2dd65de692">Learn more here.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img class='negative-left-margin lazyload' data-src="/images/tools/diagnostic/diagnostic_intro_slide_3.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>Student Responses Analyzed</h2>
                    <p>
                    Quill automatically analyzes and grades open-ended responses. It identifies the writing skills students have mastered, as well as the ones they need to practice.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_4.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>Recommended Activities</h2>
                    <p>
                        You can then view a variety of reports to identify individual student and class-wide learning gaps. Quill generates a personalized learning plan for students based on where they need the most help.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_5.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>Evidence Based</h2>
                    <p>
                        The diagnostics evaluate student writing using an evidence based strategy called sentence combining. This strategy explicitly teaches students how to write sophisticated, complex sentences.
                    </p>
                    <p class="need-links"><a href="/">Check out the research.</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="walk-thru-wrapper mobile" id="how-it-works-mobile">
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_1.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>What's Being Tested</h2>
                    <p>
                        The diagnostics cover fundamental areas of sentence structure, giving you insight into your students’ ability to effectively create both basic and advanced sentences.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img id='shrink-me' class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_2.svg" alt="diagnostic image">
                <div class="blurb">
                  <h2>ELL Diagnostic<img class="lazyload" data-src="/images/tools/diagnostic/new_tag.svg"></h2>
                    <p>
                        Our new ELL Diagnostic assesses your students’ knowledge of 10 different concepts specifically chosen for English language learners. The diagnostic also offers directions in
                        <img class="lazyload" data-src="/images/flags/spain.png">Spanish,
                        <img class="lazyload" data-src="/images/flags/china.png">Mandarin,
                        <img class="lazyload" data-src="/images/flags/france.png">French,
                        <img class="lazyload" data-src="/images/flags/vietnam.png">Vietnamese,
                        <img class="lazyload" data-src="/images/flags/egypt.png">Arabic, and
                        <img class="lazyload" data-src="/images/flags/india.png">Hindi.
                        <a class="ell-press-announcement" rel="noopener noreferrer" target="_blank" href="https://medium.com/writing-with-quill/quill-org-launches-ell-diagnostic-ac2dd65de692">Learn more here.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img id='shrink-me' class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_3.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>Student Responses Analyzed</h2>
                    <p>
                    Quill automatically analyzes and grades open-ended responses. It identifies the writing skills students have mastered, as well as the ones they need to practice.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_4.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>Recommended Activities</h2>
                    <p>
                        You can then view a variety of reports to identify individual student and class-wide learning gaps. Quill generates a personalized learning plan for students based on where they need the most help.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img class="lazyload" data-src="/images/tools/diagnostic/diagnostic_intro_slide_5.svg" alt="diagnostic image">
                <div class="blurb">
                    <h2>Evidence Based</h2>
                    <p>
                        The diagnostics evaluate student writing using an evidence based strategy called sentence combining. This strategy explicitly teaches students how to write sophisticated, complex sentences.
                    </p>
                    <p class="need-links"><a href="/">Check out the research.</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="tool-carousel" id="walkthrough">
        <div id="diagnosticCarousel" class="carousel slide" data-ride="carousel">

            <a class="left carousel-control" href="#diagnosticCarousel" role="button" data-slide="prev">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="wrapper">
                    <img class="lazyload" data-src="/images/tools/Diagnostic1.png" alt="Chania">
                  </div>
                  <p>The diagnostics assess students and then automatically builds a personalized learning plan for each student.</p>
                </div>
                <div class="item">
                  <div class="wrapper">
                    <img class="lazyload" data-src="/images/tools/Diagnostic2.png" alt="Chania">
                  </div>
                  <p>The diagnostics cover a number of critical sentence structure skills, such as fragments and run-on sentences. In this exercise, students use the dependent clause to write a complete sentence.</p>
                </div>
                <div class="item">
                  <div class="wrapper">
                    <img class="lazyload" data-src="/images/tools/Diagnostic3.png" alt="Chania">
                  </div>
                  <p>In this exercise, students transform a run-on sentence into a complete sentence.</p>
                </div>
                <div class="item">
                  <div class="wrapper">
                    <img class="lazyload" data-src="/images/tools/Diagnostic4.png" alt="Chania">
                  </div>
                  <p>Teachers see reports that state exactly which errors the students made.</p>
                </div>
            </div>

            <!-- Left and right controls -->

            <a class="right carousel-control" href="#diagnosticCarousel" role="button" data-slide="next">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#diagnosticCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#diagnosticCarousel" data-slide-to="1"></li>
                <li data-target="#diagnosticCarousel" data-slide-to="2"></li>
                <li data-target="#diagnosticCarousel" data-slide-to="3"></li>
            </ol>

        </div>
    </section>

    <section class="tool-try-it bg-darkred bg-image-diagnostic-pattern-magnifier">
        <h2 class='q-h1'>Try It Out for Yourself</h2>
        <a href=<%= "/activity_sessions/anonymous?activity_id=-LKbzH_Er916zGjgHk5U" %> target="_blank" class="q-button cta-button bg-white text-darkred">Preview a Diagnostic</a>
    </section>

    <section class="tool-testimonial" id="testimonial">
        <!-- <img class='q-headshot' class="lazyload" data-src=<%="#{ENV['CDN_URL']}/images/shared/daniel_90.png"%> alt="Daniel Scibienski"> -->
        <p class='quote'>
            "It was very useful to see which concepts students needed more help with. It is extremely beneficial if I want to work on grouping students based on skill."
        </p>
        <h4 class="q-h4 author">
            <span>Norma Bonilla,</span> Downtown College Prep
        </h4>
        <a href="/activities/packs/20" class='q-button text-black'>
            <span>View My Story</span>
        </a>
    </section>

    <!-- Only show if user is not logged in  -->
      <% if !current_user %>
        <section class="tool-sign-up">
            <h1 class='q-h1'>
                Sign up to start using a Quill Diagnostic in your class today!
            </h1>
            <a href='/account/new' class="q-button cta-button bg-quillgreen text-white">Sign Up</a>
        </section>

      <% else %>
      <section class="tool-sign-up">
          <h1 class='q-h1'>
              Get started now! Assign a Quill Diagnostic.
          </h1>
          <a href='/assign/diagnostic' class="q-button cta-button bg-quillgreen text-white">Assign</a>
      </section>
      <% end %>

</div>

<%= render partial: 'pages/shared/footer' %>
