<!-- <%= render partial: 'application/notification_bar' %> -->
<% flash.each do |key, value| %>
  <%= content_tag(:div, "<p>#{value}</p><i class='fas fa-times-circle' aria-hidden='true'></i>".html_safe, {class: "flash #{key}", onClick: "$(this).slideUp(300)"}) %>
<% end %>
<% @device = device %>
<% @is_mobile = device == "mobile" %>

<section class="q-hero bg-quillgreen flex-column space-between">
  <%= render partial: 'pages/shared/navbar' %>
  <div class="q-hero-text header">
    <section class="header-section">
      <h1 class="q-h1 text-white">Free tools to make your students better <u>writers</u> and <u>readers</u>.</h1>
      <p class="new-tag">NEW</p>
    </section>
    <p class="text-white" id="first">Quill.org, a non-profit, provides free literacy activities that build reading comprehension, writing, and language skills for elementary, middle, and high school students.</p>
    <a class="q-button cta-button cta-home  bg-white" href="/sign-up/student">Student</a>
    <a class="q-button cta-button cta-home  bg-white" href="/sign-up/teacher">Teacher</a>
    <a class="q-button cta-button cta-home  bg-white" href="/administrator">Administrator</a>
    <a class="q-button cta-button cta-home  bg-white" href="/sign-up/teacher">Guardian</a>
    <p class="text-white" id="mission"><strong><u>New</u> for 2022-2023 School Year:</strong> Quill's nonprofit mission is to now build both ﻿reading and writing skills through free, OER content across the curriculum.  Over the coming years, we will be building a library of free ELA, social studies, and science activities that engage students in deeper thinking through writing prompts that provide immediate feedback.</p>
  </div>
  <div class="q-hero-footer">
    <p class="text-white">
      <span class="hero-footer-underline"><%= Utils::Numeric.to_human_string(@number_of_students).downcase %></span> students have written <span class="hero-footer-underline"><%= Utils::Numeric.to_human_string(@number_of_sentences).downcase %></span> sentences on Quill.
    </p>
  </div>
</section>

<%= react_component('EvidenceHomeSectionApp')%>

<% if @is_mobile %>
  <section class="bg-quillteal tool-carousel" id="walkthrough">
    <div id="diagnosticCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= render partial: 'evidence/first_topic' %>
        </div>
        <div class="item">
          <%= render partial: 'evidence/second_topic' %>
        </div>
        <div class="item">
          <%= render partial: 'evidence/third_topic' %>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#diagnosticCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#diagnosticCarousel" data-slide-to="1"></li>
        <li data-target="#diagnosticCarousel" data-slide-to="2"></li>
      </ol>
    </div>
  </section>
<% else %>
  <section class="bg-quillteal tool-hero topics-section">
    <section class="inner-section">
      <%= render partial: 'evidence/first_topic' %>
      <%= render partial: 'evidence/second_topic' %>
      <%= render partial: 'evidence/third_topic' %>
    </section>
  </section>
<% end %>

<section class='tool-section bg-tool-orange'>
  <div class="tool connect-tool">
    <div class='info-section'>
      <a href="/tools/connect/"><h2 class='q-h2'><img class="icon-white lazyload" data-src='https://assets.quill.org/images/shared/quill_connect_white.svg'>Quill Connect</h2></a>
      <p class='blurb'>Help your students advance from fragmented and run-on sentences to complex and well structured ones.</p>
      <%= render_dash(@is_mobile) %>
      <%= render_video_content(@device, 'mobile','https://assets.quill.org/videos/tools/connect.mp4') %>
      <p class='summary'>
        Using the evidence-based strategy of sentence combining, students combine multiple ideas into a single sentence. They then receive instant feedback designed to help them improve their clarity and precision.
      </p>
      <div>
        <a href="/activity_sessions/anonymous?activity_id=430" target="_blank" class="q-button icon-button bg-white text-orange">Try a sample activity</a>
        <a href="/tools/connect/" target="_blank" class="q-button text-white learn-more-button">Learn more</a>
      </div>
    </div>
    <%= render_video_content(@device, 'desktop','https://assets.quill.org/videos/tools/connect.mp4') %>
  </div>
</section>

<section class='tool-section bg-tool-magenta'>
  <div class="tool lessons-tool">
    <%= render_video_content(@device, 'desktop', 'https://assets.quill.org/videos/tools/lessons.mp4') %>
    <div class='info-section right'>
      <a href="/tools/lessons/"><h2 class='q-h2'><img class="icon-white lazyload" data-src='https://assets.quill.org/images/shared/icon_lessons_white.svg'>Quill Lessons</h2></a>
      <p class='blurb'>Quill Lessons enables teachers to lead whole-class and small group writing instruction.</p>
      <%= render_dash(@is_mobile) %>
      <%= render_video_content(@device, 'mobile', 'https://assets.quill.org/videos/tools/lessons.mp4') %>
      <p class='summary'>
        Teachers control interactive slides that contain writing prompts, and the entire class responds to each prompt. Each Quill Lessons activity provides a lesson plan, writing prompts, discussion topics, and a follow up independent practice activity.
      </p>
      <div>
        <a href=<%= "#{ENV['QUILL_LESSONS_URL']}/#/teach/class-lessons/-KsKpXAoaEIY5jvWMIzJ/preview" %> target="_blank" class="q-button icon-button bg-white text-lessonspurple">Try a sample activity</a>
        <a href="/tools/lessons/" target="_blank" class="q-button text-white learn-more-button">Learn more</a>
      </div>
    </div>
  </div>
</section>

<section class='tool-section bg-tool-red'>
  <div class="tool diagnostic-tool">
    <div class='info-section'>
      <a href="/tools/diagnostic/"><h2 class='q-h2'><img class="icon-white lazyload" data-src='https://assets.quill.org/images/shared/quill_diagnostic_white.svg'>Quill Diagnostic</h2></a>
      <p class='blurb'>
        Quickly determine which skills your students need to work on with our diagnostics.
      </p>
      <%= render_dash(@is_mobile) %>
      <%= render_video_content(@device, 'mobile', 'https://assets.quill.org/videos/tools/diagnostic.mp4') %>
      <p class='summary'>
        The diagnostics cover vital sentence construction skills and generate personalized learning plans based on the student’s performance.
      </p>
      <div>
        <a href="/activity_sessions/anonymous?activity_id=-LKbzH_Er916zGjgHk5U" target="_blank" class="q-button icon-button bg-white text-red">Try a sample activity</a>
        <a href="/tools/diagnostic/" target="_blank" class="q-button text-white learn-more-button">Learn more</a>
      </div>
      <div class="ell-section">
        <div class="header">Quill's ELL Diagnostics include translations in:</div>
        <div class="flags">
          <span class="flags-row">
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/spain.png"/>
              <p class="flag-label">Spanish</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/china.png"/>
              <p class="flag-label">Mandarin</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/france.png"/>
              <p class="flag-label">French</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/vietnam.png"/>
              <p class="flag-label">Vietnamese</p>
            </span>
          </span>
          <span class="flags-row">
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/egypt.png">
              <p class="flag-label">Arabic</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/india.png">
              <p class="flag-label">Hindi</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/russia.png">
              <p class="flag-label">Russian</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/ukraine.png">
              <p class="flag-label">Ukrainian</p>
            </span>
          </span>
          <span class="flags-row">
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/pakistan.png">
              <p class="flag-label">Urdu</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/germany.png">
              <p class="flag-label">German</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/philippines.png">
              <p class="flag-label">Tagalog</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/brazil.png">
              <p class="flag-label">Portuguese</p>
            </span>
          </span>
          <span class="flags-row">
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/thailand.png">
              <p class="flag-label">Thai</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/afghanistan.png">
              <p class="flag-label">Dari</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/japan.png">
              <p class="flag-label">Japanese</p>
            </span>
            <span class="flag-container">
              <img class="lazyload" data-src="https://assets.quill.org/images/flags/south_korea.png">
              <p class="flag-label">Korean</p>
            </span>
          </span>
        </div>
      </div>
    </div>
    <%= render_video_content(@device, 'desktop', 'https://assets.quill.org/videos/tools/diagnostic.mp4') %>
  </div>

</section>

<section class='tool-section bg-tool-blue'>
  <div class="tool proofreader-tool">
    <%= render_video_content(@device, 'desktop', 'https://assets.quill.org/videos/tools/proofreader.mp4') %>
    <div class='info-section right'>
      <a href="/tools/proofreader/"><h2 class='q-h2'><img class="icon-white lazyload" data-src='https://assets.quill.org/images/shared/quill_proofreader_white.svg'>Quill Proofreader</h2></a>
      <p class='blurb'>Proofreader teaches your students editing skills by having them proofread passages.</p>
      <%= render_dash(@is_mobile) %>
      <%= render_video_content(@device, 'mobile', 'https://assets.quill.org/videos/tools/proofreader.mp4') %>
      <p class='summary'>
        Students edit passages and receive personalized exercises based on their results. With over 100 expository passages, Proofreader gives students the practice they need to spot common grammatical errors.
      </p>
      <div>
        <a href="/play" target="_blank" class="q-button icon-button bg-white text-blue">Try a sample activity</a>
        <a href="/tools/proofreader/" target="_blank" class="q-button text-white learn-more-button">Learn more</a>
      </div>
    </div>

  </div>

</section>

<section class='tool-section bg-tool-purple'>
  <div class="tool grammar-tool">
    <div class='info-section'>
      <a href="/tools/grammar/"><h2 class='q-h2'><img class="icon-white lazyload" data-src='https://assets.quill.org/images/shared/quill_grammar_white.svg'>Quill Grammar</h2></a>
      <p class='blurb'>Students practice basic grammar skills, from comma placement to parallel structure.</p>
      <%= render_dash(@is_mobile) %>
      <%= render_video_content(@device, 'mobile', 'https://assets.quill.org/videos/tools/grammar.mp4') %>
      <p class='summary'>
Quill Grammar has over 150 sentence writing activities to help your students. Our activities are designed to be completed in 10 minutes so you have the freedom to use them in the way that works best for your classroom.
      </p>
      <div>
        <a href="/activity_sessions/anonymous?activity_id=110" target="_blank" class="q-button icon-button bg-white text-purple">Try a sample activity</a>
        <a href="/tools/grammar/" target="_blank" class="q-button text-white learn-more-button">Learn more</a>
      </div>
    </div>
    <%= render_video_content(@device, 'desktop', 'https://assets.quill.org/videos/tools/grammar.mp4') %>
  </div>
</section>

<section class="how-section">
  <h3>How Quill Works</h3>
  <div class="how-setup">
    <div class="how-img-container">
      <img class="setup-img lazyload" data-src="https://assets.quill.org/images/homepage/setup_icon.svg"/>
      <img class="line lazyload" data-src="https://assets.quill.org/images/homepage/line_1.svg"/>
    </div>
    <div class="how-text-container">
      <h5>Set up your classroom, without IT</h5>
      <p>
        You can quickly and easily set up your classroom in Quill by inputting student names or providing students with a unique code. If you use Google Classroom or Clever, you can automatically set up your classroom with one click.
      </p>
    </div>
  </div>
  <div class="how-step-2-3">
    <div class="how-choose">
      <div class="how-img-container">
        <img class="setup-img lazyload" data-src="https://assets.quill.org/images/homepage/activities_icon.svg"/>
      </div>
      <div class="how-text-container">
      <h5>Choose activities</h5>
      <p>
        Decide if you want your students to proofread passages, combine sentences, or complete a diagnostic. Use our ten minute activities as building blocks during your classroom instruction.
      </p>
    </div>
    </div>
    <div class="how-reporting">
      <div class="how-img-container">
        <img class="line-2 lazyload" data-src="https://assets.quill.org/images/homepage/line_2.svg"/>
        <img class="setup-img lazyload" data-src="https://assets.quill.org/images/homepage/reporting_icon.svg"/>
      </div>
      <div class="how-text-container">
      <h5>Use easy-to-consume reporting</h5>
      <p>
        Use our reporting to spot trends and identify growth opportunities. Monitor comprehension on specific writing standards.
      </p>
    </div>
    </div>
  </div>
</section>

<section class="features-section">
  <div class="features">
    <div class="feature">
      <div class="feature-img-container">
        <img class="lazyload" data-src="https://assets.quill.org/images/homepage/feedback_icon.svg" alt=""/>
      </div>
      <p class="feature-heading">Get immediate feedback for your students</p>
      <p class="feature-sub-heading">Save time grading and watch your students correct their mistakes instantly.</p>
    </div>
    <div class="feature">
      <div class="feature-img-container">
        <img class="lazyload" data-src="https://assets.quill.org/images/homepage/intervene_icon.svg" alt=""/>
      </div>
      <p class="feature-heading">Intervene where students struggle</p>
      <p class="feature-sub-heading">See exactly where your students need intervention with our comprehensive reports.</p>
    </div>
    <div class="feature">
      <div class="feature-img-container">
        <img class="lazyload" data-src="https://assets.quill.org/images/homepage/differentiate_icon.svg" alt=""/>
      </div>
      <p class="feature-heading">Differentiate learning to meet the <br/>needs of all students</p>
      <p class="feature-sub-heading">Assign specific activities for ELLs and students with learning differences.</p>
    </div>
    <div class="feature">
      <div class="feature-img-container">
        <img class="lazyload" data-src="https://assets.quill.org/images/homepage/adaptive_icon.svg" alt=""/>
      </div>
      <p class="feature-heading">Engage students with adaptive activities</p>
      <p class="feature-sub-heading">Challenge students with questions that automatically adapt based on their previous responses.</p>
    </div>
    <div class="feature">
      <div class="feature-img-container">
        <img class="lazyload" data-src="https://assets.quill.org/images/homepage/common_core_icon.svg" alt=""/>
      </div>
      <p class="feature-heading">Align with the Common Core Standards</p>
      <p class="feature-sub-heading">Easily meet Common Core language standards with our aligned activities.</p>
    </div>
    <div class="feature">
      <div class="feature-img-container">
        <img class="lazyload" data-src="https://assets.quill.org/images/homepage/classroom_icon.svg" alt=""/>
      </div>
      <p class="feature-heading">Easily sign up with Google Classroom</p>
      <p class="feature-sub-heading">With one click all of your students and classes will be imported.</p>
    </div>
  </div>
</section>

<section class="curriculum-section">
  <p>Over 100 concepts totaling 50 hours of quality curriculum.</p>
  <div class="concepts">
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=299">Parallel Structure</a>
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=178">Capitalization</a>
    <a class="concept-link" target="_blank" href="http://quill.org/connect/#/play/lesson/-KQX-YEGiFW71KKpep2X">Subordinating Conjunctions</a>
    <a class="concept-link" target="_blank" href="http://quill.org/connect/#/play/lesson/-KS7QDRfWsPhAZF27hfL">Coordinating Conjunctions</a>
    <a class="concept-link" target="_blank" href="http://quill.org/connect/#/play/lesson/-KRizUHvbl3hLJH6eey3">Commas</a>
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=291">Prepositions</a>
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=298">Pronoun Reference</a>
    <a class="concept-link" target="_blank" href="http://quill.org/connect/#/play/lesson/-KXHxOiPXAMZmQOGGer9">Run-ons</a>
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=297">Subject-Verb Agreement</a>
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=154">Verb Tense</a>
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=111">Commonly Confused Words</a>
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=123">Progressives</a>
    <a class="concept-link" target="_blank" href="/activity_sessions/anonymous?activity_id=283">Irregular Plurals</a>
    <a class="concept-link" target="_blank" href="/activities/packs/">+ 100 More!</a>
  </div>
</section>

<section class="teachers-section">
  <section class="teacher-stories">
    <div class="container">
      <h2 class="subheader bold" id="teacher-subheader"><%=BlogPost::TEACHER_STORIES%></h2>
      <h1 class="header">Quill in the Classroom</h1>
    </div>

    <div class="tabs tabs-testimonials tabs-teacher-stories" data-toggle="tabslet" data-animation="true">
      <div class="tab-content" id="tab-1">
        <div class="container">
          "I started using Quill because it fit right into my daily curriculum."

          <p class="quote-author">ROXANNA BUTKUS, RANGEVIEW ELEMENTARY</p>

        </div>
      </div>
      <div class="tab-content" id="tab-2">
        <div class="container">
          "With interesting passages and immediate feedback, my students really feel like they’re learning."

          <p class="quote-author">SARA ANGEL, KIPP LA</p>

        </div>
      </div>
      <div class="tab-content" id="tab-3">
        <div class="container">
          "Using Quill has opened up more conversations between me and my students, in terms of how to write better and what the student needs to practice."

          <p class="quote-author">COLETTE KANG, EAST BAY INNOVATION ACADEMY</p>

        </div>
      </div>
      <div class="tab-content" id="tab-4">
        <div class="container">
          "I've seen tremendous improvement in the proficiency of my students and the quality of their writing."

          <p class="quote-author">DANIEL SCIBIENSKI, PRINCETON PUBLIC SCHOOLS</p>

        </div>
      </div>

      <ul class='inline teacher-list'>
        <li>
          <a href="#tab-1"><img class="lazyload" data-src=<%="#{ENV['CDN_URL']}/images/shared/Roxanna_Butkus_90.png"%>></img><br>
            <p class="teacher-description">
              3rd Grade<br>
              ELA
            </p>
          </a>
        </li>
        <li>
          <a href="#tab-2"><img class="lazyload" data-src=<%="#{ENV['CDN_URL']}/images/shared/Sara_Angel_90.png"%>></img><br>
            <p class="teacher-description">
              5th Grade<br>
              ELA
            </p>
          </a>
        </li>
        <li>
          <a href="#tab-3"><img class="lazyload" data-src=<%="#{ENV['CDN_URL']}/images/shared/Colette_Kang_90.png"%>><br>
            <p class="teacher-description">
              6th Grade<br>
              ELA
            </p>
          </a>
        </li>
        <li>
          <a href="#tab-4"><img class="lazyload" data-src=<%="#{ENV['CDN_URL']}/images/shared/daniel_90.png"%>></img><br>
            <p class="teacher-description">
              8th Grade<br>
              ELA & ELL
            </p>
          </a>
        </li>
      </ul>
    </div>
  </section>
</section>

<section class="schools-section">
  <p>Join over 2,000 schools using Quill to advance student writing.</p>
  <div class="schools">
    <div class="schools-img-container">
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/boston_logo.png"/>
    </div>
    <div class="schools-img-container">
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/kipp_logo.png"/>
    </div>
    <div class="schools-img-container">
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/houston_logo.png"/>
    </div>
    <div class="schools-img-container">
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/orange_county_logo.png"/>
    </div>
    <div class="schools-img-container">
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/rocketship_logo.png"/>
    </div>
  </div>
</section>

<section class="premium-section">
  <div class="premium-text-container">
    <p class="premium-header">Quill Premium</p>
    <p class="premium-text">Quill Premium's advanced reporting features are the best way to support teachers at the school or district level.</p>
    <div class="premium-button-container">
      <a class="quill-button medium primary contained sales-button" href="https://quillpremium.wufoo.com/forms/quill-premium-quote/" rel="noopener noreferrer" target="_blank">Contact sales</a>
      <a class="quill-button medium secondary outlined" href="https://www.quill.org/premium" target="_blank">Learn more</a>
    </div>
  </div>
  <img src=<%="#{ENV['CDN_URL']}/images/homepage/quill-premium-user-interfaces.svg"%>
  class="quill-premium-user-interfaces">
</section>

<section class="press-section">
  <img class="lazyload background-img" data-src="https://assets.quill.org/images/homepage/quill_laptop.jpg"/>
  <a class="press-link-container" href="/press">
    <div class="press-links">
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/nyt_logo.svg"/>
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/edsurge_logo.svg"/>
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/iste_logo.svg"/>
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/freetech_logo.svg"/>
      <img class="lazyload" data-src="https://assets.quill.org/images/homepage/fast_company_logo.svg"/>
    </div>
  </a>
  <div class="press-cta">
    <a class="get-started-link quill-button large primary contained" href="/account/new">Get Started</a>
  </div>
</section>

<%= render partial: 'pages/shared/footer' %>
