<section class="tool-header">
  <%= render partial: 'pages/shared/navbar' %>
  <% @active_tab = 'Quill Lessons' %>
  <% @tool = 'lessons' %>
  <%= render partial: "pages/shared/tools_anchor_navbar", active_tab: @active_tab, tool: @tool%>
</section>

<div class="tool-container lessons-tool-page">

    <section class='tool-hero text-center bg-lessons-purple tool-section'>
        <h1 class="q-h1">
            <img class="tool-page-icon lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/shared/icon_lessons_white.svg" %>>Quill Lessons
        </h1>
        <p class='description'>
          Quill Lessons enables teachers to lead whole-class and small group writing instruction. Teachers control interactive slides that contain writing prompts, and the entire class responds to each prompt. Each Quill Lessons activity provides a lesson plan, writing prompts, discussion topics, and a follow up independent practice activity.
        </p>
        <section class="tool-ctas lessons-tool">
          <a href=<%= "/activity_sessions/anonymous?activity_id=566" %> target="_blank" class="q-button cta-button bg-white text-lessonspurple">Try a sample activity</a>
          <% if current_user&.teacher? %>
            <a href='/assign/activity-library?activityClassificationFilters[]=lessons' class="q-button text-white learn-more-button">Assign</a>
          <% end %>
        </section>
    </section>

    <section class="tool-animation-section " id="overview">
      <video class='tool-animation lazyload' data-src=<%= "#{ENV['CDN_URL']}/videos/tools/lessons.mp4" %> autoplay loop></video>
    </section>

    <section class="walk-thru-wrapper desktop" id="how-it-works">
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_intro_slide_1.png" %> alt="lessons image" style="max-height:302px">
                <div class="blurb">
                    <h2>Class-Wide Interactive Activities</h2>
                    <p>
                    Quill Lessons provides a series of interactive slides which allow an entire class to work together with their teacher. The slides contain interactive writing prompts, and your students will write their answers on their devices. Teachers can then project selected answers back to the class to facilitate a discussion.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_intro_slide_2.png" %> alt="lessons image" style="max-height:266px">
                <div class="blurb">
                    <h2>Lead The Lesson</h2>
                    <p>
                    Each slide contains a step-by-step guide to help you introduce new writing skills and content topics. The step-by-step guide also includes suggestions on how to discuss students’ answers and how to model strong writing to them.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img class='negative-left-margin lazyload' data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_intro_slide_3.png" %> alt="lessons image" style="max-height:310px">
                <div class="blurb">
                    <h2>Discuss Student Answers</h2>
                    <p>
                      See your student answers in real-time, and facilitate a conversation by selecting both strong and weak answers to project to the class. As a class, students can discuss why certain sentences are stronger than others.
                    </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step flex-row vertically-centered">
            <div class="content-wrapper flex-row space-between vertically-centered">
                <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_intro_slide_4.png" %> alt="lessons image" style="max-height:207px">
                <div class="blurb">
                    <h2>Identify Students For Small Group</h2>
                    <p>
                      When the students respond, you can click on the “flag” button to select students who may need extra support. Students don’t see that they are flagged, but at the end of the lesson, you can pull aside flagged students for small group instruction.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="walk-thru-wrapper mobile" id="how-it-works-mobile">
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_intro_slide_1.png" %> alt="lessons image" style="max-height:302px">
                <div class="blurb">
                  <h2>Class-Wide Interactive Activities</h2>
                  <p>
                  Quill Lessons provides a series of interactive slides which allow an entire class to work together with their teacher. The slides contain interactive writing prompts, and your students will write their answers on their devices. Teachers can then project selected answers back to the class to facilitate a discussion.
                  </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img id='shrink-me' class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_intro_slide_2.png" %> alt="lessons image" style="max-height:266px">
                <div class="blurb">
                  <h2>Lead The Lesson</h2>
                  <p>
                  Each slide contains a step-by-step guide to help you introduce new writing skills and content topics. The step-by-step guide also includes suggestions on how to discuss students’ answers and how to model strong writing to them.
                  </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img id='shrink-me' class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_intro_slide_3.png" %> alt="lessons image" style="max-height:310px">
                <div class="blurb">
                  <h2>Discuss Student Answers</h2>
                  <p>
                    See your student answers in real-time, and facilitate a conversation by selecting both strong and weak answers to project to the class. As a class, students can discuss why certain sentences are stronger than others.
                  </p>
                </div>
            </div>
        </div>
        <div class="walk-thru-step">
            <div class="content-wrapper">
                <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_intro_slide_4.png" %> alt="lessons image" style="max-height:207px">
                <div class="blurb">
                  <h2>Identify Students For Small Group</h2>
                  <p>
                    When the students respond, you can click on the “flag” button to select students who may need extra support. Students don’t see that they are flagged, but at the end of the lesson, you can pull aside flagged students for small group instruction.
                  </p>
                </div>
            </div>
        </div>
    </section>

    <section class="tool-carousel lessons-tool-carousel" id="walkthrough">
        <div id="lessonsCarousel" class="carousel slide" data-ride="carousel">

            <a class="left carousel-control" href="#lessonsCarousel" role="button" data-slide="prev">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="wrapper">
                    <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_screenshot_1.png" %> alt="Chania">
                  </div>
                  <p>Teachers can use the step-by-step guide to introduce a writing skill and model strong sentence construction skills.</p>
                </div>
                <div class="item">
                  <div class="wrapper">
                    <img style="width:100%;" class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_screenshot_2.png" %> alt="Chania">
                  </div>
                  <p>Interactive slides allow students to answer open-ended questions, combine sentences, and write paragraphs that can be shared with the whole class.</p>
                </div>
                <div class="item">
                  <div class="wrapper">
                    <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_screenshot_3.png" %> alt="Chania">
                  </div>
                  <p>As students answer questions, the teacher can view and select student responses to display to the class. The teacher can also flag students who may need extra support or small group instruction.</p>
                </div>
                <div class="item">
                  <div class="wrapper">
                    <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_screenshot_4.png" %> alt="Chania">
                  </div>
                  <p>Students can compare their answers with selected class answers. The teacher and the students can discuss how to make the sentences stronger.</p>
                </div>
                <div class="item">
                  <div class="wrapper">
                    <img class="lazyload" data-src=<%= "#{ENV['CDN_URL']}/images/tools/lessons/lessons_screenshot_5.png" %> alt="Chania">
                  </div>
                  <p>Each lesson includes a follow-up independent practice activity to reinforce the in-class lesson. Teachers can select how they would like to assign practice at the end of the lesson.</p>
                </div>
            </div>

            <!-- Left and right controls -->

            <a class="right carousel-control" href="#lessonsCarousel" role="button" data-slide="next">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#lessonsCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#lessonsCarousel" data-slide-to="1"></li>
                <li data-target="#lessonsCarousel" data-slide-to="2"></li>
                <li data-target="#lessonsCarousel" data-slide-to="3"></li>
                <li data-target="#lessonsCarousel" data-slide-to="4"></li>
            </ol>

        </div>
    </section>

    <section class="tool-try-it bg-lessons-purple bg-image-lessons-pattern">
        <h2 class='q-h1'>Try It Out for Yourself</h2>
        <!-- TODO get real link here -->
        <a href=<%= "/activity_sessions/anonymous?activity_id=566" %> target="_blank" class="q-button cta-button bg-white text-lessonspurple">Preview the Lessons</a>
    </section>

    <section class="tool-testimonial" id="testimonial">
        <img class="lazyload" data-src="https://assets.quill.org/images/tools/lessons/Lessons_Testimonial_Image.png"></img>
        <p class='quote'>
          "The kids LOVED seeing their responses come up live as we went through the lesson. Eighth-grade students were literally begging me to project their answers or asking me to allow them to resubmit an answer because they'd just gotten a better idea from another students example. An excited class learning grammar from each other, now that's a good day in ELA class! I can't wait till Friday to do it again."
        </p>
        <h4 class="q-h4 author">
            <span>Kim Hinderlie,</span> Elma Middle School
        </h4>
        <a href="https://medium.com/writing-with-quill/quill-launches-quill-lessons-fb983f2b8970#3bb3" target="_blank" class='q-button text-black'>
            <span>View My Story</span>
        </a>
    </section>

    <%= react_component('QuestionsAndAnswersApp', props: {questionsAndAnswersFile: 'lessons', supportLink: "https://support.quill.org/using-quill-tools#quill-lessons"})%>

    <section class="how-to">
      <div class="text">
        <h2>Have questions about getting started?</h2>
        <p>If you are still not sure where to start with Quill Lessons, read the How To guide to see the step by step details to set up your first lesson.</p>
        <a target="_blank" href="http://support.quill.org/using-quill-tools/quill-lessons/getting-started-how-to-set-up-your-first-quill-lesson" class="text-white bg-quillgreen"><i class="fas fa-file-text-o"></i>Read How To Guide</a>
      </div>
      <div class="illustration">
        <img class="lazyload" data-src="https://assets.quill.org/images/illustrations/lessons_how_to.svg" />
      </div>
    </section>

    <!-- Only show if user is not logged in  -->
      <% if !current_user %>
        <section class="tool-sign-up">
            <h1 class='q-h1'>
                Sign up to start using Quill Lessons in your class today!
            </h1>
            <a href='/account/new' class="q-button cta-button bg-quillgreen text-white">Sign Up</a>
        </section>

      <% else %>
      <section class="tool-sign-up">
          <h1 class='q-h1'>
              Get started now! Assign Quill Lessons.
          </h1>
          <a href='/assign/activity-library?activityClassificationFilters[]=lessons' class="q-button cta-button bg-quillgreen text-white">Assign</a>
      </section>
      <% end %>

</div>

<%= render partial: 'pages/shared/footer' %>
