<%= render partial: 'teachers/shared/scorebook_tabs' %>
<div class="navbar-divider-bar maroon"></div>
<div class="quill-academy-container white-background-accommodate-footer">
  <div class="container">
    <section class="top-section">
      <%= quill_academy_availability_disclaimer %>
      <%= quill_academy_button %>
    </section>
    <section class="middle-section">
      <%= render partial: 'quill_academy/category_card', locals: { image: "graduation-cap-green", text: "Courses to help you take full advantage of what Quill has to offer" } %>
      <%= render partial: 'quill_academy/category_card', locals: { image: "presentation-green", text: "Focused best practices and research-based strategies you can apply to a range on instructional contexts" } %>
      <%= render partial: 'quill_academy/category_card', locals: { image: "activity-packs-green", text: "Learn on your schedule, with courses that can be done in a prep period or more in-depth courses over time" } %>
    </section>
    <section class="content-section first">
      <%= render partial: 'quill_academy/category_card', locals: { image: "quill-green", text: "Leveraging Quill's tools" } %>
      <div class="content-cards">
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/circle-simple-right.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::JUMPSTART_WITH_QUILL], availability: QuillAcademyHelper::AVAILABLE } %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/clipboard-check.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::PLANNING_AND_IMPLEMENTING_A_DIAGNOSTICS_STRATEGY], availability: QuillAcademyHelper::AVAILABLE } %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/tool-grammar-dark-gray.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::QUILLS_INDEPENDENT_TOOLS], availability: QuillAcademyHelper::COMING_SOON} %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/tool-lessons-dark-gray.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::USING_QUILL_LESSONS], availability: QuillAcademyHelper::COMING_SOON} %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/tool-evidence-dark-gray.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::USING_QUILL_READING_FOR_EVIDENCE], availability: QuillAcademyHelper::COMING_SOON} %>
      </div>
    </section>
    <section class="content-section second">
      <%= render partial: 'quill_academy/category_card', locals: { image: "grammar-check-red", text: "Data and instruction" } %>
      <div class="content-cards">
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/quill_academy/clipboard-concepts-gray.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::UNDERSTANDING_QUILL_DATA_REPORTS], availability: QuillAcademyHelper::COMING_SOON } %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/file-document.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::DATA_AND_INSTRUCTION_BEST_PRACTICES], availability: QuillAcademyHelper::COMING_SOON } %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/pages/diagnostic_reports/icons-checkbox-multiple.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::EXPLORING_THE_QUILL_ACTIVITY_LIBRARY], availability: QuillAcademyHelper::COMING_SOON } %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/lightbulb-with-rays.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::IMPROVING_SENTENCE_FLUENCY], availability: QuillAcademyHelper::COMING_SOON } %>
      </div>
    </section>
    <section class="content-section third">
      <%= render partial: 'quill_academy/category_card', locals: { image: "single-woman-actions-laptop", text: "Empowering student writers" } %>
      <div class="content-cards">
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/icons-account-multiple-check.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::ENCOURAGING_AND_EMPOWERING_YOUR_WRITERS], availability: QuillAcademyHelper::COMING_SOON } %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/teacher-account-view.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::USING_QUILL_TO_SUPPORT_STUDENTS_EXCEPTIONAL_LEARNERS], availability: QuillAcademyHelper::COMING_SOON } %>
        <%= render partial: 'quill_academy/content_card', locals: { image_src: "https://assets.quill.org/images/icons/language.svg", content: QuillAcademyHelper::COURSES[QuillAcademyHelper::USING_QUILL_TO_SUPPORT_ENGLISH_LANGUAGE_LEARNERS], availability: QuillAcademyHelper::COMING_SOON } %>
      </div>
    </section>
  </div>
</div>
