<% @active_tab = 'Team' %>
<%= render partial: 'pages/shared/our_story_navbar', active_tab: @active_tab %>

<div class="container team">
  <% team_info.each do |team_type| %>
    <section>
      <h3><%= team_type[:team] %></h3>
      <div class='team-members'>
        <% team_type[:members].each do |person| %>
          <div class='team-member'>
            <div class='meta-container'>
              <img src=<%= "https://assets.quill.org/images/headshots/#{person[:img]}" %> %>
              <h4> <%= person[:name] %> </h4>
              <h5> <%= person[:title] %> </h5>
            </div>
            <p> <%= person[:desc] %> </p>
          </div>
        <% end %>
      </div>
    </section>
    <% end %>
  </div>
</div>
