<h1>New Passage</h1>

<%= form_for @passage do |f| %>
  <%= render 'errors', object: @passage %>

  <div class="field-spacing">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 100, required: true %>
  </div>

  <div class="field-spacing">
    <%= f.label :contents %><br>
    <%= f.text_area :contents, cols: 100, rows: 50, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
