<% delimiter = Evidence::Research::GenAI::LLMPromptBuilder::DELIMITER %>

<h1>Edit <%= @llm_prompt_template.model_name.human.titleize %></h1>

<%= form_for @llm_prompt_template do |f| %>
  <%= render 'errors', object: @llm_prompt_template %>

  <h3>Name (read-only)</h3>
  <p><%= @llm_prompt_template.name %></p>

  <br>
  <div class="form-container">
    <div class="form-column">
      <div class="field-spacing">
        <%= f.label :notes %><br>
        <%= f.text_area :notes, cols: 100, rows: 5 %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    </div>
  </div>
<% end %>

<style>
  .form-container {
    display: flex;
    justify-content: space-between;
  }

  .form-column {
    flex: 1;
    margin-right: 20px;
  }

  .substitutions-column {
    flex: 1;
  }

  .field-spacing {
    margin-bottom: 20px;
  }
  .no-bullets {
    list-style-type: none;
    padding-left: 0;
  }

  .no-bullets li {
    margin-bottom: 10px;
  }
</style>