<%= form_for @llm_prompt_template do |f| %>
  <%= render 'errors', object: @llm_prompt_template %>

  <h1>New LLM Prompt Template</h1>
  <div class="field-spacing">
    <%= f.label :description %><br>
    <%= f.text_field :description, size: 100, required: true %>
  </div>

  <div class="field-spacing">
    <%= f.label :coda, "Coda:" %>
    <%= select_tag :coda, options_for_select(@codas), { required: true } %>
  </div>

  <div class="field-spacing">
    <%= f.label :contents %><br>
    <%= f.text_area :contents, cols: 100, rows: 50, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
