<div>
  <h2>LLM Prompt Template</h2>

  <h3>Description</h3>
  <p><%= @llm_prompt_template.description %></p>

  <h3>Coda</h3>
  <p><%= @llm_prompt_template.coda %></p>

  <h3>Contents</h3>
  <p><%= simple_format(@llm_prompt_template.contents) %></p>
</div>

<br>
<%= link_to 'New Experiment', new_research_gen_ai_experiment_path %>
<br>
<br>
<%= link_to 'Experiments', research_gen_ai_experiments_path %>
