%p#notice= notice
= form_for @rule do |f|
  - if @rule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rule.errors.count, "error")} prohibited this rule from being saved:"
      %ul
        - @rule.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label :category_id, :value => "Category"
    = select_tag "category_id", options_from_collection_for_select(@categories, "id", "title", :selected => @category)

  .field
    = f.label :workbook_id, :value => "Workbook"
    = select_tag "workbook_id", options_from_collection_for_select(@workbooks, "id", "title", :selected => @workbook)

  .actions
    = f.submit 'Save'
