= form_for @rule do |f|
  - if @rule.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rule.errors.count, "error")} prohibited this rule from being saved:"
      %ul
        - @rule.errors.full_messages.each do |msg|
          %li= msg

  %input{:type=>"hidden", :value=>@chapter, :name=>:chapter_id}
  .field
    = f.label :body
    = f.text_area :body

  .actions
    = f.submit 'Save'
