<div class="activate-tooltip icon-wrapper icon-<%= percentage_color(activity_session.try(:percentage)) %> icon-<%= icon_for_classification(activity.classification) %>"
  data-toggle="tooltip"
  data-html=true
  data-placement="left"
  title="<h1><%= h(activity.name) %></h1><p><%= h(alias_by_id(activity.classification.id)) %></p>

  <p><%= h(activity.topic.name) %></p>
  <p><%= h(activity.description) %></p>

  <%= activity.topic.topic_category ? "<p>#{activity.topic.topic_category.name}</p>" : ''%>

  <%= activity_session ? "<p>#{activity_session.percentage_as_percent_prefixed_by_scored}</p>" : '' %>

  <%= (activity_session and activity_session.classroom_activity.present? and activity_session.classroom_activity.due_date.present?) ? "<p>Due #{activity_session.classroom_activity.due_date.strftime('%A %B %d, %Y')}</p>" : '' %>

  <%= all_concept_class_stats(activity_session) %>
  "
 ></div>
<% if include_activity_title %>
  <div class="icons-description-wrapper">
    <p class="title title-v-centered"><%= activity.try(:name) %></p>
  </div>
<% end %>
