<div class="grammar-test">
	<div class="progress"></div>
	<div class="text"></div>
	<div class="btn show-results">Show Results</div>
	<div class="results"></div>
	<div class="rules"></div>
	<div class="lessons"></div>
	<script type="text/javascript">

		//declare and populate collections

		var chapterAssessments = new PG.Collections.ChapterAssessments;
		var chapterRules = new PG.Collections.ChapterRules;
		var chapterLessons = new PG.Collections.ChapterLessons;

		var chapterRule = false;
		var chapterLesson = false;

		chapterAssessments.add(<%= @assessment.to_json.html_safe %>);
		var chapterAssessment = chapterAssessments.get(<%= @assessment.id %>);
		<% @assessment.chunks.each_with_index do |chunk, i| %>
			<% if defined?(chunk.grammar) %>
				<% rule = Rule.find(chunk.grammar) %>
				chapterRules.add(<%= rule.to_json.html_safe %>);
				chapterRule = chapterRules.get(<%= rule.id %>);
				console.log(chapterRule);
				<% rule.lessons.each do |lesson| %>
					chapterRule.lessons.add(<%= lesson.to_json.html_safe %>);
					chapterLesson = chapterRule.lessons.get(<%= lesson.id %>);
					<% lesson.chunks.each_with_index do |chunk, i| %>
						chapterLesson.chunks.add(<%= chunk.as_json.merge(id: i).to_json.html_safe %>);
					<% end %> //added lesson chunks to lesson model
					chapterLessons.add(chapterLesson);
					console.log(chapterLesson);
				<% end %> //added lesson to rule model
			<% end %> //added rule to chapterassessment model's chunk
			chapterAssessment.chunks.add(<%= chunk.as_json.merge(id: i).to_json.html_safe %>);
		<% end %>
		console.log(chapterAssessment);

		

			//can access a lesson's rule by chapterRules.get(m.attributes.rule_id)
			//where m = chapterLessons.models[x]
			//useful for sorting lessons by their rule
		
		var assessmentView = new PG.Views.ChapterAssessment({assessment: chapterAssessments.models[0], rules: chapterRules, lessons: chapterLessons});

		//assessmentView.render();

		//Backbone.history.start();

	</script>