<div class="grammar-test" data-id="<%= grammar_test.id %>">
  <div class="progress">

  </div>

  <script type="text/javascript">
    grammarTests.add(<%= grammar_test.to_json.html_safe %>);
    var grammarTest = grammarTests.get(<%= grammar_test.id %>);

    <% grammar_test.chunks.each_with_index do |chunk, i| %>
      grammarTest.chunks.add(<%= chunk.as_json.merge(id: i).to_json.html_safe %>);
    <% end %>

    grammarRules.reset(<%= CMS::GrammarRule.all.to_json.html_safe %>);

    var rule = false;
    <% CMS::GrammarRule.all.each do |rule| %>
      grammarRules.add(<%= rule.to_json.html_safe %>);
      rule = grammarRules.get(<%= rule.id %>);

      console.log(rule);

      <% rule.chunks.each_with_index do |chunk, i| %>
        rule.chunks.add(<%= chunk.as_json.merge(id: i, grammar: rule.id).to_json.html_safe %>);
      <% end %>

      console.log(rule.chunks.length);
      console.log(grammarRules.get(<%= rule.id %>).chunks.length);
    <% end %>
  </script>

  <div class="text">

  </div>

  <div class="btn show-results">Show results</div>

  <div class="results">

  </div>

  <div class="lessons">

  </div>
</div>
