<head>
  <title>Quill.org &mdash; Interactive Writing and Grammar</title>
  <!-- <%# favicon_link_tag 'favicon.ico' %> -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Free tools to make your students better writers." />
  <meta property="og:image"              content=<%# image_url('share/facebook.png') %> />

  <%- @content ||= "" %>
  <%= tag('meta', {property: 'og:description', content: @content}) %>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= render partial: 'typekit' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= env_stylesheet_link_tag(static: 'application_static',
                             hot: 'application_non_webpack',
                             media: 'all',
                             'data-turbolinks-track' => true) %>

 <!-- These do not use turbolinks, so no data-turbolinks-track -->
 <!-- This is to load the hot assets. -->
 <%= env_javascript_include_tag(hot: ['http://localhost:3500/vendor-bundle.js',
                                      'http://localhost:3500/app-bundle.js']) %>

 <!-- These do use turbolinks -->
 <%= env_javascript_include_tag(static: 'application_static',
                                hot: 'application_non_webpack',
                                'data-turbolinks-track' => true) %>
  <%= csrf_meta_tags %>
  <link href="//fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet" type="text/css" />
  
  <%= render partial: 'application/head_embed_codes' %>

<!--[if !IE 7]>
  <style type="text/css">
    #wrap { display: table ; height: 100% }
  </style>
<![endif]-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
