<% current_path = request.env['PATH_INFO'] %>

<% if current_path.include?('teachers') || current_path.include?('premium') || current_path.include?('teacher_resources') || current_path.include?('faq') %>
	<% user_dropdown_class = 'on-dashboard' %>
<% else %>
	<% user_dropdown_class = 'not-on-dashboard' %>
<% end %>

<nav class="q-navbar-home">
	<div class="navbar-header">
		<a class="navbar-brand" href=<%= root_path %>>
			<img src="/images/quill_header_logo.svg" alt="Quill Logo">
		</a>
	</div>

		<div class='home-nav-right wide'>

		<% if !current_user %>
	    <%= render 'navbar/learning_tools' %>
	    <%= render 'navbar/explore_curriculum' %>
	    <%= render 'navbar/teacher_center' %>
	    <%= render 'navbar/our_story' %>
		<% elsif current_user.role != 'student' %>
			<%= render 'navbar/learning_tools' %>
			<%= render 'navbar/teacher_center' %>
			<%= render 'navbar/quill_support' %>
 		<% end %>

		<%- if current_user.nil? %>
		<a href="/session/new" class="text-white nav-element">Login</a>
		<a href="/account/new" class="sign-up-button text-white nav-element">Sign Up</a>
		<%- elsif current_user.role == 'teacher' %>
			<div class='navigation-vertical-rule hide-on-mobile nav-element'></div>
			<div id="nav-user-dropdown" class="dropdown-closed hide-on-mobile nav-element <%= user_dropdown_class %>">
				<%= link_to raw("<i class='fa fa-book'></i>#{current_user.name}"), '#', onClick: "toggleDropdown()", class: 'user-dropdown-button' %>
				<div>
					<i class="fa fa-caret-up"></i>
					<%= link_to raw("<i class='fa fa-book'></i>My Dashboard"), dashboard_teachers_classrooms_path %>
					<%= link_to raw("<i class='fa fa-cog'></i>My Account"), teachers_my_account_path %>
					<%= link_to raw("<i class='fa fa-comments'></i>Support"), 'https://support.quill.org' %>
					<%= link_to raw("<i class='fa fa-sign-out'></i>Logout"), '/session' %>
				</div>
			</div>
		<%- elsif current_user.role == 'student' %>
			<%= link_to raw("<i class='fa fa-fw fa-plus-circle' aria-hidden='true'></i>  Join a Class"), add_classroom_students_classrooms_path, class: "text-white nav-element" %>
			<%= link_to raw("<i class='fa fa-fw fa-cog' aria-hidden='true'></i>  Account Settings"), account_settings_path, class: "text-white nav-element" %>
			<%= link_to "Logout", '/session' , class: "text-white nav-element"%>
		<% else %>
		<%= link_to "Logout", '/session', class: "text-white nav-element"%>
		<% end %>
  </div>

  <nav class="home-nav-dropdown" role="home-custom-dropdown">
    <input class="home-nav-checkbox" type="checkbox" id="button-nav">
    <label for="button-nav" onclick=""></label>
    <ul class="home-navbar-list">
			<% if current_user.nil? %>
	      <li>
	        <a href="/tools/connect" class="text-white">Learning Tools</a>
	      </li>
	      <li>
	        <a href="/activities/packs" class="text-white">Explore Curriculum</a>
	      </li>
				<li>
					<a href='/teacher_resources' class="text-white">Teacher Center</a>
				</li>
	      <li>
	        <a href="/mission" class="text-white">Our Story</a>
	      </li>
	      <li>
	        <a href="/session/new" class="text-white">Login</a>
	      </li>
	      <li>
	        <a href="/account/new" class="text-white">Sign Up</a>
	      </li>
			<% else %>
				<li>
					<a href="/tools/connect" class="text-white">Learning Tools</a>
				</li>
				<li>
					<a href="/teacher_resources" class="text-white">Teacher Center</a>
				</li>
				<li>
					<a href="https://support.quill.org/" class="text-white">Quill Support</a>
				</li>
			<% if current_user.teacher? %>
				<li>
					<a href="/teachers/classrooms/dashboard" class="text-white">My Dashboard</a>
				</li>
				<li>
					<a href="/teachers/my_account" class="text-white">My Account</a>
				</li>
			<% end %>
				<li>
					<a href="/session" class="text-white">Logout</a>
				</li>
      <% end %>
    </ul>
  </nav>
</nav>

<script>
	function toggleDropdown() {
		const dropdown = document.querySelector('#nav-user-dropdown');
		if(dropdown.classList.contains('dropdown-closed')) {
			dropdown.classList.remove('dropdown-closed');
			dropdown.classList.add('dropdown-open');
		} else {
			dropdown.classList.remove('dropdown-open');
			dropdown.classList.add('dropdown-closed');
		}
	}
</script>
