<nav class="q-navbar-home">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#home-collapsed-navbar">
			<span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
		</button>

  		<a class="navbar-brand" href=<%= root_path %>>
  			<img src="/images/quill_header_logo.svg" alt="Quill Logo">
  		</a>
	</div>

  <div class="home-nav-right wide">

		<% if !current_user %>
	    <%= render 'navbar/learning_tools' %>
	    <%= render 'navbar/explore_curriculum' %>
	    <%= render 'navbar/teacher_center' %>
	    <%= render 'navbar/our_story' %>
		<% elsif current_user.role != 'student' %>
			<%= render 'navbar/learning_tools' %>
			<%= render 'navbar/teacher_center' %>
		<% end %>

		<%- if current_user.nil? %>
		<a href="/session/new" class="text-white">Login</a>
		<a href="/account/new" class="sign-up-button text-white">Sign Up</a>
		<%- elsif current_user.role == 'teacher' %>
			<div class='navigation-vertical-rule hide-on-mobile'></div>
			<div id="nav-user-dropdown" class="dropdown-closed hide-on-mobile">
				<%= link_to raw("<i class='fa fa-book'></i>#{current_user.name}"), '#', onClick: "toggleDropdown()", class: 'user-dropdown-button' %>
				<ul>
					<li><%= link_to 'My Dashboard', dashboard_teachers_classrooms_path %></li>
					<li><%= link_to 'My Account', teachers_my_account_path %></li>
					<li><%= link_to 'Support', 'https://support.quill.org' %></li>
					<li><%= link_to 'Logout', '/session' %></li>
				</ul>
			</div>
			<li class='hide-on-desktop'><%= link_to 'My Dashboard', dashboard_teachers_classrooms_path %></li>
			<li class='hide-on-desktop'><%= link_to 'My Account', teachers_my_account_path %></li>
			<li class='hide-on-desktop'><%= link_to 'Support', 'https://support.quill.org' %></li>
			<li class='hide-on-desktop'><%= link_to 'Logout', '/session' %></li>
		<%- elsif current_user.role == 'student' %>
			<li><%= link_to raw("<i class='fa fa-fw fa-plus-circle' aria-hidden='true'></i>  Join a Class"), add_classroom_students_classrooms_path %></li>
			<li><%= link_to raw("<i class='fa fa-fw fa-cog' aria-hidden='true'></i>  Account Settings"), account_settings_path %></li>
			<li><%= link_to "Logout", '/session' %></li>
		<% else %>
		<%= link_to "Logout", '/session', class: "text-white"%>
		<% end %>
  </div>

  <nav class="home-nav-dropdown" role="home-custom-dropdown">
    <input class="home-nav-checkbox" type="checkbox" id="button-nav">
    <label for="button-nav" onclick=""></label>
    <ul>
      <li>
        <a href="/tools/connect" class="text-white">Tools</a>
      </li>
      <li>
        <a href="/activities/packs" class="text-white">Resources</a>
      </li>
      <li>
        <a href="/mission" class="text-white">Our Story</a>
      </li>
      <%- if current_user.nil? %>
        <li>
          <a href="/session/new" class="text-white">Login</a>
        </li>
        <li>
          <a href="/account/new" class="q-button text-white">Sign Up</a>
        </li>
      <% end %>
    </ul>
  </nav>
</nav>

<script>
	function toggleDropdown() {
		const dropdown = document.querySelector('#nav-user-dropdown');
		if(dropdown.classList.contains('dropdown-closed')) {
			dropdown.classList.remove('dropdown-closed');
			dropdown.classList.add('dropdown-open');
		} else {
			dropdown.classList.remove('dropdown-open');
			dropdown.classList.add('dropdown-closed');
		}
	}
</script>
