<div class="container">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#home-collapsed-navbar">
			<span class="sr-only">Menu</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
		</button>

  		<a class="navbar-brand" href=<%= root_path %>>
  			<%=image_tag "home-header-logo.png" %>
  		</a>
	</div>

	<div id="home-collapsed-navbar" class="collapse navbar-collapse">
		<ul class="home-navbar-list">
			<li class="active"><%= link_to "Discover", activities_path %></li>
			<li><%= link_to "Community",  "http://community.quill.org" %></li>

			<%- if current_user.nil? %>
				<li><%= link_to "Login", new_session_path  %></li>
			<%- else %>
				<li><%= link_to "Support", "http://support.quill.org" %></li>
				<%- if current_user.role == 'teacher' %>
					<li><%= link_to "Profile", profile_path, class: "sign-up-btn" %></li>
				<%- end %>
				<li><%= link_to "Logout", '/session' %></li>
        	<% end %>


			<%- if current_user.nil? %>
				<li class="sign-up-wrapper"><%= link_to "Sign Up", new_account_path, class: "sign-up-btn" %></li>
			<% end %>
		</ul>
	</div>

</div>