<div class="container">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#home-collapsed-navbar">
			<span class="sr-only">Menu</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
		</button>

  		<a class="navbar-brand" href=<%= root_path %>>
  			<%=image_tag "home-header-logo.png" %>
  		</a>
	</div>

	<div id="home-collapsed-navbar" class="collapse navbar-collapse">
		<ul class="home-navbar-list">
			<% if !current_user || current_user.role != "student" %>
				<li class="active"><%= link_to "Discover", activities_packs_path %></li>
				<li><%= link_to "Teacher Resources",  teacher_resources_path%></li>
			<% end %>

			<%- if current_user.nil? %>
				<li><%= link_to "Login", new_session_path  %></li>
			<%- else %>
				<%- if current_user.role == 'teacher' %>
					<li><%= link_to "Profile", profile_path, class: "sign-up-btn" %></li>
				<%- end %>
				<%- if current_user.role == 'student' %>
					<li><%= link_to raw("<i class='fa fa-fw fa-plus-circle' aria-hidden='true'></i>  Join a Class"), add_classroom_students_classrooms_path %></li>
				<% end %>
				<%- if current_user.role != 'student' %>
				<li><%= link_to "Support", "http://support.quill.org" %></li>
				<% end %>
        	<% end %>

			<%- if current_user.nil? %>
				<li class="sign-up-wrapper"><%= link_to "Sign Up", new_account_path, class: "sign-up-btn" %></li>
			<% else %>
			 	<li><%= link_to "Logout", '/session' %></li>
			<% end %>
		</ul>
	</div>
</div>
