<div class="container activity-categories-container">
  <h1>Activity Categories</h1>

  <%= form_for ActivityCategory.new, url: cms_activity_categories_path do |f| %>
  <%= f.label      :name, 'Name' %>
  <%= f.text_field :name %>
  <%= f.button 'Add Activity Category' %>
  <% end %>

  <%= react_component('ActivityCategoriesApp', props: {activity_categories: @activity_categories}) %>

</div>
