<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :prompt, class: "form-label" %>
    <%= form.text_area :prompt, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :question_set_id, class: "form-label" %>
    <%= form.text_field :question_set_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :order, class: "form-label" %>
    <%= form.number_field :order, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
