<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Questions</h1>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter card-table">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Question Set</th>
            <th>Prompt</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= link_to question.question_set&.activity&.title, activity_path(question.question_set&.activity_id) %></td>
              <td><%= link_to question.question_set&.prompt, question_set_path(question.question_set_id) %></td>
              <td><%= question.prompt %></td>
              <td><%= link_to 'Show', question %></td>
              <td><%= link_to 'Edit', edit_question_path(question) %></td>
              <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= link_to 'New Question', new_question_path %>

</div>