<div class='container'>
<p id="notice"><%= notice %></p>

<h1>Questions</h1>
<%= link_to 'New Question', new_question_path %>
<table>
  <thead>
    <tr>
      <th>Prompt</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.prompt %></td>
        <td><%= question.activity&.title %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>