

<p>
  <strong>Prompt:</strong>
  <%= @question.prompt %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @question.question_set.activity.title %>
</p>

<p>
  <strong>Order:</strong>
  <%= @question.order %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', question_set_questions_path(@question.question_set_id) %>
