<div class="subnav">
  <div class="container d-fl-r jc-sb">
    <div class="subnav-left">
      <div class="subnav-item"><%= @question.prompt %></div>
    </div>
    <div class="subnav-right">
      <div class="subnav-item"><%= link_to 'Edit', edit_question_path(@question) %></div>
      <div class="subnav-item"><%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
</div>

<div class="container">
  <p>
    <strong>Question Set:</strong>
    <%= link_to QuestionSet.find(@question.question_set_id).prompt, QuestionSet.find(@question.question_set_id) %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= link_to QuestionSet.find(@question.question_set_id).activity.title, QuestionSet.find(@question.question_set_id).activity %>
  </p>
</div>
