<div id="learning-tools" class="navbar-tooltip-trigger <%= active_tab == 'Learning Tools' ? 'active' : '' %>" tabindex="0">
  <span>Learning Tools</span>
  <div class="navbar-tooltip">
    <i class="fas fa-caret-up"></i>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Connect',
      subtext: 'Combine sentences',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/connect-icon-green.svg',
      image_id: 'connect-img',
      link: '/tools/connect'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Lessons',
      subtext: 'Teacher-led group lessons',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/lessons-icon-green.svg',
      image_id: 'lessons-img',
      link: '/tools/lessons'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Diagnostic',
      subtext: 'Identify learning gaps',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/diagnostic-icon-green.svg',
      image_id: 'diagnostic-img',
      link: '/tools/diagnostic'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Proofreader',
      subtext: 'Fix errors in passages',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/proofreader-icon-green.svg',
      image_id: 'proofreader-img',
      link: '/tools/proofreader'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Grammar',
      subtext: 'Practice basic mechanics',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/grammar-icon-green.svg',
      image_id: 'grammar-img',
      link: '/tools/grammar'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Quill Reading for Evidence',
      subtext: 'Use a text to write with evidence',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/evidence-icon-green.svg',
      image_id: 'evidence-img',
      link: '/tools/evidence'
    %>
  </div>
</div>
