<div id="our-story" class="navbar-tooltip-trigger <%= active_tab == 'About Us' ? 'active' : '' %>" tabindex="0">
  <span>About Us</span>
  <div class="navbar-tooltip">
    <i class="fas fa-caret-up"></i>
    <%= render 'navbar/tooltip_link',
      text: 'About Us',
      subtext: "Learn about Quill's mission",
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-aboutus-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-aboutus-gradient.svg',
      image_id: 'aboutus-img',
      link: '/about'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Impact',
      subtext: "Learn about Quill's reach",
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-impact-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-impact-gradient.svg',
      image_id: 'impact-img',
      link: '/impact'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Pathways Initiative',
      subtext: "An instructional research project",
      hover_image_src: 'https://assets.quill.org/images/navbar/compass-outline-hover.svg',
      image_src: 'https://assets.quill.org/images/navbar/compass-outline.svg',
      image_id: 'pathways-img',
      link: '/pathways'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Team',
      subtext: 'Learn about our team',
      fa_class: 'fas fa-icon fa-users',
      link: '/team'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Careers',
      subtext: 'See open positions',
      fa_class: 'fas fa-icon fa-user-plus',
      link: '/careers'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Press',
      subtext: 'Read articles that feature Quill',
      fa_class: 'fas fa-icon fa-newspaper',
      link: '/press'
    %>
  </div>
</div>
