<div id="quill-support" class="navbar-tooltip-trigger" tabindex="0">
  <span>Quill Support</span>
  <div class="navbar-tooltip">
    <%= render 'navbar/tooltip_link',
      text: 'Getting Started',
      subtext: 'Everything you need to get started with Quill',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/clipboard-icon-green.svg',
      image_id: 'gettingstarted-img',
      link: 'https://support.quill.org/en/collections/64373-getting-started-for-teachers',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'General Questions',
      subtext: 'The most common questions teachers ask about Quill',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/question-mark-icon-green.svg',
      image_id: 'general-support-img',
      link: 'https://support.quill.org/general-questions',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Using Quill\'s Tools',
      subtext: 'The best ways to integrate Quill into your classroom',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/pencil-icon-green.svg',
      image_id: 'quilltools-img',
      link: 'https://support.quill.org/using-quill-tools',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Data and Reporting',
      subtext: "Everything you need to know about tracking your students’ progress",
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/bulb-icon-green.svg',
      image_id: 'data-img',
      link: 'https://support.quill.org/data-and-reporting',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Research and Pedagogy',
      subtext: 'Our evidence-based approach to teaching emerging writers',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/glasses-icon-green.svg',
      image_id: 'research-and-pedagogy-img',
      link: 'https://support.quill.org/research-and-pedagogy',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Technical Questions',
      subtext: 'Technical questions and requirements for using Quill',
      image_src: 'https://assets.quill.org/images/icons/pulldown_icons/settings-icon-green.svg',
      image_id: 'technical-questions-img',
      link: 'https://support.quill.org/technical-questions',
      new_tab: true
    %>
  </div>
</div>
