<div id="quill-support" class="navbar-tooltip-trigger" tabindex="0">
  <span>Quill Support</span>
  <div class="navbar-tooltip">
    <i class="fas fa-caret-up"></i>
    <%= render 'navbar/tooltip_link',
      text: 'Getting Started',
      subtext: 'Everything you need to get started with Quill',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-gettingstarted-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-gettingstarted-gradient.svg',
      image_id: 'gettingstarted-img',
      link: 'https://support.quill.org/en/collections/64373-getting-started-for-teachers',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'General Questions',
      subtext: 'The most common questions teachers ask about Quill',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-generalquestion-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-generalquestion-gradient.svg',
      image_id: 'general-support-img',
      link: 'https://support.quill.org/general-questions',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Using Quill\'s Tools',
      subtext: 'The best ways to integrate Quill into your classroom',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-quilltools-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-quilltools-gradient.svg',
      image_id: 'quilltools-img',
      link: 'https://support.quill.org/using-quill-tools',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Data and Reporting',
      subtext: "Everything you need to know about tracking your students’ progress",
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-data-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-data-gradient.svg',
      image_id: 'data-img',
      link: 'https://support.quill.org/data-and-reporting',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Research and Pedagogy',
      subtext: 'Our evidence-based approach to teaching emerging writers',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-researchpedagogy-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-researchpedagogy-gradient.svg',
      image_id: 'research-and-pedagogy-img',
      link: 'https://support.quill.org/research-and-pedagogy',
      new_tab: true
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Technical Questions',
      subtext: 'Technical questions and requirements for using Quill',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-technical-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-technical-gradient.svg',
      image_id: 'technical-questions-img',
      link: 'https://support.quill.org/technical-questions',
      new_tab: true
    %>
  </div>
</div>
