<div id="teacher-center" class="navbar-tooltip-trigger <%= active_tab == 'Teacher Center' ? 'active' : '' %>" tabindex="0">
  <span>Teacher Center</span>
  <div class="navbar-tooltip">
    <i class="fas fa-caret-up"></i>
    <%= render 'navbar/tooltip_link',
      subtext: 'View all of Quill’s instructional resources',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-resources-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-resources-gradient.svg',
      image_id: 'resources-img',
      link: '/teacher-center',
      text: 'All Resources'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Reading Comprehension',
      subtext: "Learn all about Quill's new reading and writing tool",
      hover_image_src: 'https://assets.quill.org/images/icons/teacher-center-comprehension.svg',
      image_src: 'https://assets.quill.org/images/icons/teacher-center-comprehension-hover.svg',
      image_id: 'comprehension-img',
      link: '/teacher-center/topic/using-quill-for-reading-comprehension'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Getting Started',
      subtext: 'Set up your classroom on Quill with guides, videos, and presentations',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-gettingstarted-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-gettingstarted-gradient.svg',
      image_id: 'gettingstarted-img',
      link: '/teacher-center/topic/getting-started'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Video Tutorials',
      subtext: 'View detailed walkthroughs of Quill tools, set-up, and features',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-videotutorials-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-videotutorials-gradient.svg',
      image_id: 'casestudy-img',
      link: '/teacher-center/topic/video-tutorials'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Best Practices',
      subtext: 'Explore implementation ideas from Quill’s instructional experts',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-bestpractices-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-bestpractices-gradient.svg',
      image_id: 'research-img',
      link: '/teacher-center/topic/best-practices'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'FAQ',
      subtext: 'Answers for common questions about Quill',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-faq-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-faq-gradient.svg',
      image_id: 'faq-img',
      link: '/faq'
    %>
    <%= render 'navbar/tooltip_link',
      text: 'Premium',
      subtext: 'Gain actionable insights with Quill Premium',
      hover_image_src: 'https://assets.quill.org/images/navbar/navbar-premium-solid.svg',
      image_src: 'https://assets.quill.org/images/navbar/navbar-premium-gradient.svg',
      image_id: 'premium-img',
      link: '/premium'
    %>
  </div>
</div>
