<% image_id ||= nil%>
<% image_src ||= nil%>
<% new_tab ||= false %>
<% element_id ||= '' %>

<a
  class="tooltip-link"
  href="<%= link %>"
  target="<%= new_tab ? '_blank' : '_self' %>"
>
  <% if element_id == 'premium-section' %>
    <div class='divider'></div>
  <% end %>
  <div class ="content-container" id="<%=element_id%>">
    <div class="image-container">
      <% if image_src %>
        <img id="<%=image_id%>" class="static lazyload" loading="lazy" data-src="<%= image_src %>" src="<%= image_src %>"></img>
      <% elsif fa_class %>
        <i class="<%= fa_class %>"></i>
      <% end %>
    </div>
    <div>
      <h3><%= text %></h3>
      <p><%= subtext %></p>
    </div>
  </div>
</a>
