<div class="subnav">
  <div class="container">
  <% tabs = [
    {name: 'Featured Activities', url: 'amplify'},
    {name: 'Explore All Activities', url: 'amplify/all'},
  ]
    @tabs = tabs
    @mobile = false
  %>

  <div class="full-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab: @active_tab, mobile: @mobile } %>
  </div>


  <div class="small-screen">
    <%= render partial: "pages/shared/generic_tabs", locals: { tabs: @tabs, active_tab:  @active_tab, mobile: @mobile} %>
  </div>

  </div>
</div>

<div class="container pages-activities amplify">

<% if @active_tab == 'Featured Activities' %>
  <div>
    <h1>Quill.org for Amplify Students</h1>
    <p>
    Launch your practice activity by clicking on Start Activity.
    </p>
    <br/>
  </div>
  <% @partner_content.each_with_index do |partner_content, index| %>
    <div class="standard">
      <div>
        <h4>Pack <%=index + 1%>. <%=partner_content.content.name%></h4>
      </div>

        <% partner_content.content.activities_unit_templates.order(:order_number).each_with_index do |activity_unit_template, act_index| %>
          <div class="activity">
            <div class="name-and-description">
              <div class="name"><%= act_index + 1 %>. <%= activity_unit_template.activity.name %></div>
              <div class="activity-description"><%= activity_unit_template.activity.description&.html_safe %></div>
            </div>
            <div class="activity-link"><%= link_to "Start Activity", anonymous_activity_sessions_path(activity_id: activity_unit_template.activity.id), class: 'green-link', target: '_blank' %></div>
          </div>

        <% end %>
    </div>
  <% end %>
<% elsif @active_tab == 'Explore All Activities' %>
  <div>
    <h1>Quill.org Activities</h1>
    <p>
    Launch your practice activity by clicking on Start Activity.
    </p>
    <br/>
  </div>

  <div class="dropdown-container">
    <div>
      <div class="button select-mixin select-gray button-select button-select-wrapper" type='button' data-toggle='dropdown'>
        <%= @standard_level.name %>
        <i class="fas fa-caret-down"></i>
      </div>
      <ul class="dropdown-menu" role='menu'>
        <% StandardLevel.all.sort_by(&:position).each do |standard_level| %>
          <li><%= link_to standard_level.name, url_for(standard_level_id: standard_level.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>


  <% @standards.each do |standard, activities| %>
    <div class="standard">
      <div>
        <h4><%=standard.name%></h4>
      </div>

        <% activities.order('activities.name ASC').each do |activity| %>
          <div class="activity">
            <div class="name-and-description">
              <div class="name"><%= activity.name %></div>
              <div class="activity-description"><%= activity.description&.html_safe %></div>
            </div>
            <div class="activity-link"><%= link_to "Start Activity", anonymous_activity_sessions_path(activity_id: activity.id), class: 'green-link', target: '_blank' %></div>
          </div>

        <% end %>
    </div>
  <% end %>
<% end %>
</div>
