<h1>New Guideline</h1>

<%= form_for @guideline, url: research_gen_ai_stem_vault_guidelines_path(@stem_vault) do |f| %>
  <%= render 'errors', object: @guideline %>

 <div class="field-spacing">
    <%= f.label :category, "Category:" %>
    <div>
      <% @categories.each do |category| %>
        <%= f.radio_button :category, category %>
        <%= f.label :category, category, value: category %><br>
      <% end %>
    </div>
  </div>

    <div class="field-spacing">
      <%= f.label :text %><br>
      <%= f.text_area :text, cols: 70, rows: 3, required: true %>
    </div>


  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
