<h1>New Guideline</h1>

<%= form_for @guideline, url: research_gen_ai_stem_vault_guidelines_path(@stem_vault) do |f| %>
  <%= render 'errors', object: @guideline %>

 <div class="field-spacing">
    <%= f.label :assigned_status, "Assigned Status:" %>
    <div>
      <% @staff_assigned_statuses.each do |staff_assigned_status| %>
        <%= f.radio_button :staff_assigned_status, staff_assigned_status %>
        <%= f.label :staff_assigned_status, staff_assigned_status, value: staff_assigned_status %><br>
      <% end %>
    </div>
  </div>

    <div class="field-spacing">
      <%= f.label :text %><br>
      <%= f.text_area :text, cols: 70, rows: 3, required: true %>
    </div>


  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
