<% content_for :all_activities_breadcrumbs do %>
  / <%= link_to @dataset.stem_vault.activity.name, @dataset.stem_vault.activity %>
  / <%= link_to "#{@dataset.stem_vault.conjunction.capitalize} Stem Vault", @dataset.stem_vault %>
  / <%= link_to "#{@dataset} Trials", @dataset %>
<% end %>

<h1>New Guideline</h1>

<%= form_for @guideline, url: research_gen_ai_dataset_guidelines_path(@dataset) do |f| %>
  <%= render 'errors', object: @guideline %>

 <div class="field-spacing">
    <%= f.label :assigned_status, "Assigned Status:" %>
    <div>
      <% @curriculum_assigned_statuses.each do |curriculum_assigned_status| %>
        <%= f.radio_button :curriculum_assigned_status, curriculum_assigned_status %>
        <%= f.label :curriculum_assigned_status, curriculum_assigned_status, value: curriculum_assigned_status %><br>
      <% end %>
    </div>
  </div>

    <div class="field-spacing">
      <%= f.label :text %><br>
      <%= f.text_area :text, cols: 70, rows: 3, required: true %>
    </div>


  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
