  <div class="invite-students container">

    <section class="section-content-wrapper">

      <div class="row">

        <!-- wrapping the contents of sections and letting them have 75% width -->
        <div class="col-xs-12 col-xl-12 no-pl">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-xl-5 button-select-wrapper select-white-wrapper">

            <div class="button-select">
              <button type="button" class="select-mixin select-white" data-toggle="dropdown">
              <%= @classroom.name %>
              <% unless @classrooms.empty? %><i class="fa fa-caret-down"></i><% end %>
              </button>

              <% unless @classrooms.empty? %>
                <ul class="dropdown-menu" role="menu">
                  <% @classrooms.each do |classroom| %>
                    <li><%= link_to classroom.name, teachers_classroom_scorebook_path(classroom_id: classroom.id) %></li>
                  <% end %>
                </ul>
              <% end %>

            </div>

          </div> <!-- //.col-xs-12 -->

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 button-select-wrapper select-gray-wrapper no-pl">

            <div class="button-select">
              <button type="button" class="select-mixin select-gray" data-toggle="dropdown">
              <% if @unit %>
                <%= @unit.name %>
              <% else %>
                All Units
              <% end %>
              <% unless @units.empty? %><i class="fa fa-caret-down"></i><% end %>
              </button>

              <% unless @units.empty? %>
                <ul class="dropdown-menu" role="menu">
                  <%= link_to('All Units', teachers_classroom_scorebook_path(@classroom)) if @unit %>
                  <% @units.each do |unit| %>
                    <%= link_to unit.name, teachers_classroom_scorebook_path(classroom_id: @classroom.id, unit_id: unit.id) %>
                  <% end %>
                </ul>
              <% end %>

            </div>

          </div><!-- //.col-xs-12 -->

        </div>  <!-- //.col-xs-9 (parent) -->

      </div><!-- //.row -->

      <div class="icons-wrapper icon-legend">

        <div class="row no-pl">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 no-pl">

            <div class="col-xs-6 col-sm-3 col-xl-3">
              <div class="icon-wrapper icon-green"></div>

              <div class="icons-description-wrapper">
                <p class="title">At Proficiency</p>
                <p class="explanation">100-76%</p>
              </div>

            </div> <!-- //first-col -->

            <div class="col-xs-6 col-sm-3 col-xl-3 no-pl">
              <div class="icon-wrapper icon-orange"></div>

              <div class="icons-description-wrapper">
                <p class="title">Nearly Proficient</p>
                <p class="explanation">75-50%</p>
              </div>

            </div> <!-- //second-col -->

            <div class="col-xs-6 col-sm-3 col-xl-3 no-pl">

              <div class="icon-wrapper icon-red"></div>

              <div class="icons-description-wrapper">
                <p class="title">Not Proficient</p>
                <p class="explanation">49-0%</p>
              </div>

            </div> <!-- //third-col-->

            <div class="col-xs-6 col-sm-3 col-xl-3 no-pl">

              <div class="icon-wrapper icon-gray"></div>

              <div class="icons-description-wrapper">
                <p class="title title-not-started">Not Started</p>
              </div>

            </div> <!-- //fourth-col -->

          </div> <!-- //.col-xs-9 (parent) -->

          <div class="col-xs-12 col-md-12 col-lg-2 col-xl-2 no-pl no-pr">

            <div class="how-we-grade">
              <p class="title title-not-started">
                <%= link_to "How We Grade", "/faq" %>
                <a href=""><i class="fa fa-long-arrow-right"></i></a>
              </p> <!-- //.how-we-grade -->
            </div>

          </div> <!-- //.col-xs-3 -->

        </div> <!-- //.row -->

      </div> <!-- //.icons-wrapper -->

    </section>
  </div> <!-- //.container -->