

<%= render partial: 'teachers/shared/scorebook_tabs' %>



<div id="page-content-wrapper">

		<div class="tab-pane" id="activity-planner">


		<div class="tab-subnavigation-wrapper">

			<div class="container">

				<ul>
					<li><a href="" class="active">Create a Unit</a></li>
					<li><a href="">Explore Units</a></li>
					<li><a href="">Create a New Activity</a></li>
				</ul>

			</div> <!-- //.container -->
						
		</div>
	  	
			
		<!-- ==========================================================================
			 Progress tracker
			========================================================================== -->	

		<div class="container">
			<section class="section-content-wrapper">

				<div class="bs-wizard">

	                <div class="select_activities_progress_bar col-xs-3 bs-wizard-step complete"><!-- complete -->
	                  <div class="progress"><div class="progress-bar"></div></div>
	                  <a href="#" class="bs-wizard-dot"></a>
	                  <div class="text-center bs-wizard-info">Select Activities</div>
	                </div>
	                
	                <div class="assign_activities_progress_bar col-xs-3 bs-wizard-step disabled"><!-- disabled -->
						<div class="progress"><div class="progress-bar"></div></div>
						<a href="#" class="bs-wizard-dot"></a>
						<div class="text-center bs-wizard-info">Assign Activities</div>
	                </div>
	                
	                
	            </div>
			</section>
		</div>


		<!-- ==========================================================================
			   Create a new unit
			========================================================================== -->

		<div class="container lesson_planner_main">

			<section class="section-content-wrapper">

			<div class="col-xs-12 col-md-9 col-sm-9 col-xl-9 no-pl">
				<h3 class="section-header">Create a New Unit</h3>
			</div>	

				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 no-pl no-pr">

					<div class="how-we-grade">
						<p class="title title-not-started">
							<a href="#">What's a Unit?</a>
							<a href=""><i class="fa fa-long-arrow-right"></i></a>
						</p> <!-- //.how-we-grade -->
					</div>

				</div> <!-- //.col-xs-3 -->

				<input id="unit_name" type="text" placeholder="e.g. Learning How to Use Nouns">
			</section>


			<section>
				<h3 class="section-header">Select Activities</h3>

				<input id="search_activities_input" type="text" placeholder="Select Activities">
				<button id="search_activities_button" class="button-gray">Search</button>

				<div class="row activity-page-dropdown-wrapper">

					<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">

						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-pl">
							<div id='filter_activity_classification' class="button-select">
								<button data-filter-type='activity_classification'  type="button" class="select-mixin select-gray button-select button-select-wrapper" data-toggle="dropdown">
								Sort by App
								<i class="fa fa-caret-down"></i>
								</button>


								<ul class="dropdown-menu" role="menu">
									<li>
										<span class='filter_option all' data-filter-type='activity_classification' data-model-id=''>
											All Apps
										</span>
									</li>
									<%- @activity_classifications.each do |ac| %>
										<li>
											<span class='filter_option' data-filter-type='activity_classification' data-model-id=<%=ac[:activity_classification_id]%>>
												<%= ac[:activity_classification_name] %>
											</span>
										</li>

									<% end %>
								</ul>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3 no-pl">
							<div class="button-select">
								<button type="button" data-filter-type='section' class="select-mixin select-gray button-select button-select-wrapper" data-toggle="dropdown">
								Sort by Level
								<i class="fa fa-caret-down"></i>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<span class='filter_option all' data-filter-type='section' data-model-id=''>
											All Levels
										</span>
									</li>
									<%- @sections.each do |section| %>
										<li>
											<span class='filter_option' data-filter-type="section" data-model-id=<%=section[:section_id]%> >
												<%= section[:section_name] %>
											</span>
										</li>
									<% end %>
								</ul>
							</div>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-pl">
							<div class="button-select">
								<button type="button" data-filter-type='topic' class="select-mixin select-gray button-select button-select-wrapper" data-toggle="dropdown">
								Sort by Concept
								<i class="fa fa-caret-down"></i>
								</button>

								<ul class="dropdown-menu" role="menu">
									<li>
										<span class='filter_option all' data-filter-type='topic' data-model-id=''>
										All Concepts
										</span>
									</li>
									<%- @topics.each do |topic| %>
										<li>
											<span class='filter_option' data-filter-type='topic' data-model-id=<%=topic[:topic_id]%>>
												<%= topic[:topic_name] %>
											</span>
										</li>
									<% end %>
								</ul>
							</div>
						</div>

					</div>	

				</div>

				<table id="activities_table" class="table">

					<thead>
						<tr>
							<th>
								<!--<img src="images/icon-check.png" alt="">-->
								<%= image_tag 'scorebook/icon-check.png' %>
							</th>
							<th id='activity_classification' class='sorter'>App<i class="fa fa-caret-up"></i></th>
							<th id='activity' class='sorter'>Activity<i class="fa fa-caret-up"></i></th>
							<th id='section' class='sorter'>Standard Level<i class="fa fa-caret-up"></i></th>
							<th id='topic' class='sorter active'>Concept<i class="fa fa-caret-up"></i></th>
						</tr>
					</thead>

					<tbody>

					<!-- ==========================================================================
						   Commentary for checkboxes
						========================================================================== -->

						<!-- Checkbox and their label have to have the same ID, otherwise, checkbox will not be checked. Also, the label is empty, but it has to be here since without it checkbox will not appear at all. That's a tricky way, but works for all browsers -->
						<%- @activities.each_with_index do |activity, index| %>
							<%- unless index > @results_per_page - 1 %>
								<tr>
									<td>
										<input type='checkbox' data-model-id=<%=activity['activity_id'] %> data-image-path=<%=image_url(image_for_activity_classification_by_id(activity['activity_classification_id'].to_i))%> id=<%="activity_" + activity['activity_id']%> class='css-checkbox' %>
										<label for=<%='activity_' + activity['activity_id'] %> class='css-label'></label>
									</td>
									
									<td>
										
										<div class="activate-tooltip" <%=activity_planner_tooltip_html(activity)%>>
											<%= image_tag image_for_activity_classification_by_id(activity['activity_classification_id'].to_i) %>
										</div>
									</td>
									
									<td class='activity_name'>
										<%= activity['activity_name'] %>
									</td>

									<td>
										<%= activity['section_name'] %>
									</td>

									<td>
										<%= activity['topic_name'] %>
									</td>
								</tr>
							<% end %>

						<% end %>

					</tbody>

				</table>


				<div class="fake-border"></div>

				<%- if @number_of_pages > 1 %>
					<ul class="pagination">
						<li class='left_arrow'><span><i class="fa fa-caret-left"></i></li>
						<%- (@number_of_pages -1).times do |i| %>
							<%- k = i+1 %>
							<%- x = ((k == @active_page) ? 'active' : 'page_number') %>
							<li class=<%== x %> >
								<span data-page-number=<%=k%>><%=k%></span>
							</li>
						<% end %>
						<li class='right_arrow'><span><i class="fa fa-caret-right"></i></li>
					</ul>
				<% end %>

			</section>

			<section class="teaching-cart">
				<h3 class="section-header unit_name"></h3>
				<table class="table">
					<tbody>
						
					</tbody>
				</table>
				<div class="fake-border"></div>
				<button class="button-green pull-right" id='continue'>Continue</button>

			</section>
			
		</div> <!-- //.container -->


	</div> <!-- //.tab-pane-active -->			


</div> <!-- //#page-content-wrapper -->

