

<%= render partial: 'teachers/shared/scorebook_tabs' %>



<div id="page-content-wrapper">

	<div class="tab-pane" id="activity-planner" data-tab="<%= @tab %>" data-grade="<%= @grade %>" data-students="<%= @students_exist %>">
    <%= render partial: 'application/spinner' %>

	<!-- ==========================================================================
		 Progress tracker
		========================================================================== -->

	</div>
</div> <!-- //#page-content-wrapper -->











