<div class='container'>
  <article class='simple-rounded-box cms-container'>
    <%= link_to 'School Directory', cms_schools_path %> > Add Existing User
    <br /><br />
    <h2>Add Existing User</h2>
    <br />
    <div class='cms-form'>
      <%= form_tag add_existing_user_by_email_cms_school_path(params[:id]) do %>
        <div class='cms-form-row'>
          <%= label_tag 'email_address', 'Email Address' %>
          <%= text_field_tag 'email_address' %>
        </div>

        <div class='cms-submit-row'>
          <%= submit_tag 'Save' %><br /><br />
          <%= link_to 'Cancel', cms_school_path(@school.id)  %>
        </div>
      <% end %>
    </div>
  </article>
</div>
