<div class='container'>
  <article class='simple-rounded-box cms-container'>
    <%= link_to 'School Directory', cms_schools_path %> > New School
    <br /><br />
    <h2>New School</h2>
    <br />
    <p><strong>Warning: Before you add a school, be sure to search for it via zipcode. Only add a school if you're certain it doesn't already exist.</strong></p>
    <br /><strong>Notes:
    <ul>
      <li>State is just initials (e.g. NY)</li>
      <li>Private schools don't have a district.</li>
      <li>Charter schools should have the charter network name as district.</li>
      <li>Free and Reduced Price lunch is just a number (e.g. 75 &mdash; not 75%).</li>
    </strong></ul>
    <br />
    <div class='cms-form'>
      <%= form_for @school, url: cms_schools_path(@school) do |f| %>
        <% @editable_text_attributes.each do |attribute_name, attribute_field| %>
          <div class='cms-form-row'>
            <%= f.label attribute_field, attribute_name %>
            <%= f.text_field attribute_field, autocomplete: 'off' %>
          </div>
        <% end %>
        <div class='cms-form-row'>
          <%= f.label :district_id, 'District' %>
          <%= f.collection_select :district_id, District.order(:name), :id, :name, include_blank: false %>
        </div>

        <div class='cms-submit-row'>
          <%= f.button "Add School", class: 'button-green' %>
        </div>
      <% end %>
    </div>
  </article>
</div>
