<div class='container'>
  <article class='simple-rounded-box cms-container'>
    <%= link_to 'School Directory', cms_schools_path %> > <%= @school['Name'] %>
    <br /><br />
    <h2><%= @school['Name'] %></h2>
    <br />
    <table class='cms-results-table'>
      <thead>
        <tr>
          <% ['Name', 'Role', 'Title', 'Purchaser', 'School\'s Point of Contact', 'Classes', 'Students',
              'Last Active', 'Premium?', 'Manage', 'Edit Attributes', 'Sign In'].each do |td| %>
            <td><%= td %></td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @teacher_data.each do |teacher| %>
          <tr>
            <td><%= teacher['teacher_name'] || 'N/A' %></td>
            <td><%= teacher['flags']&.include?('auditor') ? 'Auditor' : 'Teacher' %></td>
            <td><%= teacher['title'] || 'N/A' %></td>
            <td><%= teacher['flags']&.include?('purchaser') ? 'Purchaser' : '' %></td>
            <td><%= teacher['flags']&.include?('school_point_of_contact') ? 'School\'s Point of Contact' : '' %></td>
            <% %w(number_classrooms number_students last_active subscription).each do |attribute| %>
              <td><%= teacher[attribute] || 'N/A' %></td>
            <% end %>
            <td>
              <% if !teacher['user_id'].blank? %>
                <% if !teacher['admin_id'].blank? %>
                  <%= button_to 'Remove Admin', cms_user_remove_admin_url(:user_id => teacher['user_id'], :school_id => params[:id]), method: :put, class: 'fake-button-link' %>
                <% else %>
                  <%= button_to 'Make Admin', create_admin_user_cms_users_path(email: teacher['email'], school_id: params[:id], is_make_admin_button: true), method: :post, class: 'fake-button-link' %>
                <% end %>
                <%= button_to 'Unlink from School', unlink_cms_school_path(teacher_id: teacher['user_id']), method: :post, remote: true, class: 'fake-button-link' %>

                <td>
                  <%= link_to 'edit', edit_cms_user_path(teacher['user_id']) %>
                </td>
                <td>
                  <%= link_to 'Sign In', sign_in_cms_user_path(teacher['user_id']) %>
                </td>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2>Add New User</h2>
    <%= link_to 'Add New User', new_with_school_cms_users_path(params[:id]), class: 'btn button-green' %>
    <%= link_to 'Add Existing User', add_existing_user_cms_school_path(params[:id]), class: 'btn button-green' %>
    <br /><br />
    <h2>School Subscription</h2>
    <br />
    <% if @subscription %>
      <% if @subscription.stripe? %>
        <%= link_to 'View in Stripe', edit_cms_subscription_path(@subscription), class: 'btn button-green', target: '_blank' %>
      <% else %>
        <%= link_to 'Edit Subscription', edit_cms_subscription_path(@subscription), class: 'btn button-green' %>
      <% end %>
    <% end %>
    <%= link_to 'New Subscription', new_subscription_cms_school_path(params[:id]), class: 'btn button-green' %>
    <br />
    <% @school_subscription_info.each do |k,v| %>
      <br />
      <p><strong><%= k %></strong></p>
      <p><%= v || 'N/A' %></p>
    <% end %>
    <br /><br />
    <h2>School Info</h2>
    <br />
    <%= link_to 'Edit School Info', edit_cms_school_path(params[:id]), class: 'btn button-green' %>
    <br />
    <% @school.each do |k,v| %>
      <br />
      <p><strong><%= k %></strong></p>
      <p><%= v || 'N/A' %></p>
    <% end %>
    <br /><br />
    <h2>All Admins</h2>
    <% if @admins.any? %>
      <table class='cms-results-table'>
        <thead>
          <tr>
            <% ['Name', 'Email', 'Remove Admin'].each do |td| %>
              <td><%= td %></td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
            <tr>
              <td><%= admin[:name] %></td>
              <td><%= admin[:email] %></td>
              <td><%= button_to 'Remove Admin', cms_user_remove_admin_path(user_id: admin[:user_id], school_id: admin[:school_id]), data: { confirm: 'Are you sure?' }, method: :put %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <br />
    <%= link_to 'Add Admin', new_admin_cms_school_path(params[:id]), class: 'btn button-green' %>
  </article>
</div>
