<header>
  <h2>Trials</h2>
</header>

<%= link_to 'New Trial', new_research_gen_ai_trial_path %>

<% if @trials.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>LLM Config</th>
        <th>Passage</th>
        <th>Conjunction</th>
        <th>LLM Prompt Description</th>
        <th># of Examples</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @trials.each do |trial| %>
        <tr>
          <td><%= trial.id %></td>
          <td><%= trial.llm_config %></td>
          <td><%= trial.passage_prompt.name %></td>
          <td><%= trial.conjunction %></td>
          <td><%= trial.llm_prompt.description %></td>
          <td><%= trial.num_examples %></td>
          <td><%= trial.status %></td>
          <td>
            <div class=link-container">
              <%= link_to "View", trial %>
              <% if trial.failed? %>
                <%= button_to 'Retry',
                      retry_research_gen_ai_trial_path(trial),
                      method: :post,
                      data: { confirm: 'Are you sure you want to retry this trial?' },
                      class: 'link-button'
                %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No trials found.</p>
<% end %>

<%= link_to 'New Trial', new_research_gen_ai_trial_path %>
