<header>
  <h2>Trials</h2>
</header>

<%= link_to 'New Trial', new_research_gen_ai_trial_path %>
<br>
<br>
<%= render 'pagination' %>

<% if @trials.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>LLM</th>
        <th>Activity</th>
        <th>Conjunction</th>
        <th>LLM Prompt Description</th>
        <th># of Test Results</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @trials.each do |trial| %>
        <tr>
          <td><%= trial.id %></td>
          <td><%= trial.created_at.strftime("%m/%d/%y, %H:%M") %></td>
          <td><%= trial.llm %></td>
          <td><%= trial.stem_vault.name %></td>
          <td><%= trial.conjunction %></td>
          <td><%= trial.llm_prompt.description %></td>
          <td><%= trial.num_examples %></td>
          <td><%= trial.status %></td>
          <td><%= link_to "View", trial %><td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No trials found.</p>
<% end %>

<%= render 'pagination' %>
