<h1>Trial Runner</h1>

<%= form_for @trial, url: research_gen_ai_dataset_trials_path(@dataset) do |f| %>
  <%= render 'errors', object: @trial %>

  <div class="field-spacing">
    <label>LLM:</label>
    <%= link_to 'new', new_research_gen_ai_llm_path, class: 'new-link', target: '_blank' %>
    <br>

    <%= f.collection_select :llm_id, @llms, :id, :to_s, { required: true } %>
  </div>

  <div class="field-spacing">
    <label>LLM Prompt Template:</label>
    <%= link_to 'new', new_research_gen_ai_llm_prompt_template_path, class: 'new-link', target: '_blank' %>
    <br>

    <%= f.collection_select :llm_prompt_template_id, @llm_prompt_templates, :id, :to_s, { required: true } %>
  </div>

  <div class="field-spacing">
    <label>G-Eval:</label>
    <%= link_to 'new', new_research_gen_ai_llm_prompt_template_path, class: 'new-link', target: '_blank' %>
    <br>

    <%= f.collection_select :g_eval_id, @g_evals, :id, :to_s, { required: true } %>
  </div>

  <div class="field-spacing">
    <label>Optimal Guidelines</label>
    <ul style="list-style-type: none; padding-left: 0;">
      <% @guidelines.optimal.each do |guideline| %>
        <li>
          <%= f.check_box :guideline_ids, { multiple: true }, guideline.id, nil %>
          <%= guideline.text %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="field-spacing">
    <label>Sub-Optimal Guidelines</label>
    <ul style="list-style-type: none; padding-left: 0;">
      <% @guidelines.suboptimal.each do |guideline| %>
        <li>
          <%= f.check_box :guideline_ids, { multiple: true }, guideline.id, nil %>
          <%= guideline.text %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="field-spacing">
    <label>Optimal Examples</label>
    <ul style="list-style-type: none; padding-left: 0;">
      <% @prompt_examples.optimal.each do |prompt_example| %>
        <li>
          <%= f.check_box :prompt_example_ids, { multiple: true }, prompt_example.id, nil %>
          <%= prompt_example.student_response %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="field-spacing">
    <label>Sub-optimal Responses with Feedback</label>
    <ul style="list-style-type: none; padding-left: 0;">
      <% @prompt_examples.suboptimal.each do |prompt_example| %>
        <li>
          <%= f.check_box :prompt_example_ids, { multiple: true }, prompt_example.id, nil %>
          <%= prompt_example.student_response %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit "run" %>
  </div>
<% end %>