<%= link_to 'Back to Dataset', @dataset %>

<div class="container">
  <div class="column">
    <h2>
      Trial
      <% if @trial.failed? %>
        <%= button_to 'Retry',
              retry_research_gen_ai_dataset_trial_path(dataset: @dataset, trial: @trial),
              method: :post,
              data: { confirm: 'Are you sure you want to retry this trial?' }
        %>
      <% end %>
    </h2>
    <p><%= eastern_datetime(@trial.created_at) %></p>

    <h3>Stem Vault</h3>
    <p><%= @trial.stem_vault %></p>


    <h3>LLM</h3>
    <p><%= @trial.llm %></p>


    <h3>LLM Prompt</h3>
    <p><%= link_to @trial.llm_prompt.description, @trial.llm_prompt %></p>

    <% if @g_evals %>
      <h3>G-eval</h3>
      <% @g_evals.each do |g_eval| %>
        <p><%= link_to g_eval, g_eval %></p>
      <% end %>
    <% end %>
  </div>

  <div class="column">
    <h3>
      Status:
      <%= @trial.status.capitalize %>
    </h3>
    <% if @trial.pending? %>
      <p>Trial is queued. You can check its place in queue <a href="<%= research_gen_ai_dataset_path(@dataset) %>">here</a></p>
      <p>Refreshing page does not stop the process of generating the results.</p>
    <% elsif @trial.running? %>
      <p><%= progress(@trial) %></p>
      <p>Refreshing page does not stop the process of generating the results.</p>
      <p>You can make a comparison with another trial <a href="<%= research_gen_ai_dataset_path(@dataset) %>">here</a></p>
    <% elsif @trial.completed? %>
      <p>You can make a comparison with another trial <a href="<%= research_gen_ai_dataset_path(@dataset) %>">here</a></p>
      <% if @trial.api_call_times %>
        <p>Optimal match: <%= @trial.accuracy_optimal_suboptimal&.round(2) %></p>
        <p>Trial duration: <%= trial_duration(@trial) %></p>
        <p>Evaluation duration: <%= evaluation_duration(@trial) %></p>

        <% if @histogram %>
          <%= render 'histogram', histogram: @histogram %>
        <% end %>

        <%= render 'confusion_matrix', matrix: @trial.confusion_matrix %>
      <% end %>
    <% elsif @trial.failed? %>
      <p>The trial had some errors.</p>
    <% end %>
  </div>
</div>

<hr>

<div>
  <% if @trial.api_call_times %>
    <table>
      <thead>
        <tr>
          <th class='match-column'>Optimal match</th>
          <% if @trial.g_evals %>
            <% @g_evals.each do |g_eval| %>
              <th class='g-eval-column'>G-Eval (<%= g_eval %>)</th>
            <% end %>
          <% end %>
          <th>Student Response</th>
          <th class='feedback-column'>Curriculum Feedback</th>
          <th class='feedback-column'>LLM Feedback</th>
        </tr>
      </thead>
      <tbody>
        <% @trial.llm_examples.each.with_index do |llm_example, index| %>
          <tr>
            <td class="<%= llm_example.optimal_or_suboptimal_match? ? 'green' : 'red' %>"></td>
            <% if @trial.g_evals %>
              <% @trial.g_evals.keys.each do |g_eval_id| %>
                <td><%= @trial.g_evals[g_eval_id][index] %></td>
              <% end %>
            <% end %>
            <td><%= llm_example.student_response %></td>
            <td><%= llm_example.curriculum_proposed_feedback %></td>
            <td><%= llm_example.llm_feedback  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if @trial.trial_errors&.any? %>
  <h3>Trial Errors</h3>
    <ul>
      <% @trial.trial_errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    flex: 1;
    padding: 10px;
  }

  .column:nth-child(1) {
    min-width: 300px; /* Adjust as needed */
  }

  .column:nth-child(2) {
    min-width: 300px; /* Adjust as needed */
  }
</style>