%header.con-skyblue
  .container
    .navbar
      .navbar-inner
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to 'Empirical Grammar', root_path, :class => "brand"
        .nav-collapse.collapse
          %ul.nav
            %li= link_to "Our Story", story_path
            %li= link_to "On Learning", learning_path
            %li= link_to "About Us", about_path
            - if signed_in?
              %li#m-sign-in= link_to 'Profile', profile_path #fix id
              %li#m-create-account= link_to 'Sign out', session_path, method: :delete
            - else
              %li#m-sign-in= link_to 'Sign In', new_session_path
              %li#m-create-account= link_to 'Create Account', new_account_path