%header
  .top
    .controls-wrap
      .container
        %ul.controls
          %li.control.contents= link_to 'contents', '/', class: 'active'
          %li.control.lecture= link_to 'lecture', '/'

          - if @lecture_chapter.slideshow_embed_code.present?
            %li.control.slideshow= link_to 'slideshow', '/'

          - if yield(:annotatable_text).present?
            %li.control.annotate= link_to 'annotate', '/'

          %li.control.notes= link_to 'notes', '/'

          - if @lecture_chapter.lecture_chapter_images.any?
            %li.control.images= link_to 'images', '/'

          %li.control.citations= link_to 'citations', '/'
          %li.control.questions= link_to 'questions', '/'
          %li.control.discussion= link_to 'discussion', '/'
          %li.control.review= link_to 'review', '/'

          - if next_lecture_chapter(@lecture_chapter).present?
            %li.control.next= link_to 'next', chapter_path(next_lecture_chapter(@lecture_chapter)), data: {default: true}
