!!!
%html
  %head
    %title Project Inquire
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://demonstrations.wolfram.com/javascript/embed.js'
    = stylesheet_link_tag 'codemirror'
    = stylesheet_link_tag 'bootstrap'
    = javascript_include_tag 'cms'

    / - if admin?

    = csrf_meta_tags
    %link{href: '/images/favicon.gif', rel: 'icon', type: 'image/ico'}

   
  %body#home
    
    = render "layouts/alt-header"
    = yield

    
    %footer.con-darkgrey
      #footer-inner.container.clearfix
        #copyright.span3
          %span.non-profit= image_tag 'x-emperical.jpg'
          %span.non-profit A nonprofit developer <br />of educational games.
          %span &copy 2013. All Rights Reserved.
        #footer-item.span9
          %ul.foot-ico
            %li= link_to 'Open Source', "http://github.com/empirical-grammar/empirical-grammar", :class => "open-source", :title => "Open Source"
            %li= link_to 'Open Content', "http://github.com/empirical-grammar/empirical-grammar", :class => "open-content", :title => "Open Content"
            %li= link_to 'Open Community', "http://github.com/empirical-grammar/empirical-grammar", :class => "open-community", :title => "Open Community"


