<html lang='en'>
  <%= render partial: 'head' %>
  <body>
    <div id='application_nav_bar'>
      <%= render partial: 'header', media: 'all', 'data-turbolinks-track' => true %>
    </div>
    <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
    <%= yield %>
    <!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
<%= redux_store_hydration_data %>
    <%= render partial: 'footer', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
