!!!
%html
  %head
    %title Project Inquire
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://demonstrations.wolfram.com/javascript/embed.js'
    = stylesheet_link_tag 'codemirror'
    = javascript_include_tag 'cms'

    / - if admin?

    = csrf_meta_tags
    %link{href: '/images/favicon.gif', rel: 'icon', type: 'image/ico'}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to root_path, class: 'brand' do
            Empirical Grammar

          %ul.nav.pull-right
            %li= link_to 'Home', root_path
            %li= link_to 'About', about_path
            %li= link_to 'Teachers', teachers_path
            %li= link_to 'Middle School', middle_school_path
            -#
              - if signed_in?
                %li= link_to 'Sign out', session_path, method: :delete
              - else
                %li= link_to 'Register', new_account_path
                %li= link_to 'Login', new_session_path
    .container= yield
