<html lang='en'>
  <%= render partial: 'head' %>
  <body>
    <%= render partial: 'header', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield %>
    <%= render partial: 'footer', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
