!!!
%html
  %head
    %title Empirical Grammar
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://demonstrations.wolfram.com/javascript/embed.js'
    = stylesheet_link_tag 'codemirror'
    = stylesheet_link_tag 'bootstrap'
    = javascript_include_tag 'cms'

    / - if admin?

    = csrf_meta_tags
    %link{href: '/images/favicon.gif', rel: 'icon', type: 'image/ico'}

   
  %body
    = render "layouts/header"
    .container= yield

    
    %footer.con-darkgrey
      #footer-inner.container.clearfix
        #copyright.span3
          %span.non-profit= image_tag 'x-emperical.jpg'
          %span.non-profit A nonprofit developer <br />of educational games.
          %span Reach out to us!
          %span
            %a{ :href => 'mailto:hello@egrammar.org'} hello@egrammar.org
        #footer-item.span9
          %ul
            %li= link_to image_tag('opensource.png'), "http://github.com/empirical-grammar/empirical-grammar", :title => "Open Source"
            %li= link_to image_tag('opencontent.png'), "#", :title => "Open Content"
            %li= link_to image_tag('opencommunity.png'), "#", :title => "Open Community"


