!!!
%html
  %head
    %title PGSite
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'http://demonstrations.wolfram.com/javascript/embed.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    .container
      .main-wrap
        %aside.video= yield(:video)
        .whiteboard
          .panel.primary= yield(:primary_panel)
          .panel.response
            = render partial: 'response'
          .panel.conversation
            = render partial: 'disqus'
          .panel.placeholder
            %p Search, Notes, Folder, and Citation tools will go here.
        %ul.controls.primary-controls
          %li.primary-control.graph.active= link_to 'graph', '/'
          - %w(textbook conversation search folder citation notes).each do |icon|
            %li.primary-control{ class: icon }= link_to icon, '/'
        .separator
        %article.text-area= yield(:text_area)
        %ul.controls.text-area-controls
          - %w(annotation).each do |icon|
            %li.text-area-control{ class: icon }= link_to icon, '/'
          %li.text-area-control.nextpage= link_to 'nextpage', next_page
