= content_for :layout_extensions do
  = render 'layouts/header'

  .main-wrap
    %aside.video= yield(:video)
    .whiteboard
      .panel.primary=      yield(:primary_panel)
      .panel.response=     render partial: 'response'
      .panel.conversation= render partial: 'disqus'
      .panel.placeholder
        %p Search, Notes, Folder, and Citation tools will go here.

    %ul.controls.primary-controls
      %li.primary-control.graph.active= link_to 'graph', '/'
      - %w(textbook conversation search folder citation notes).each do |icon|
        %li.primary-control{ class: icon }= link_to icon, '/'
    .separator

    .bottom-section
      %article.text-area= yield(:text_area)

      %ul.controls.text-area-controls
        - %w(annotation).each do |icon|
          %li.text-area-control{ class: icon }= link_to icon, '/'
        %li.text-area-control.nextpage= link_to 'nextpage', next_page

= render template: 'layouts/application'
