= content_for :layout_extensions do
  = render 'layouts/header'

  .main-wrap
    %aside.video= yield(:video)
    .whiteboard
      .panel.primary=      yield(:primary_panel)
      .panel.response=     render partial: 'response'
      .panel.conversation= render partial: 'disqus'
      .panel.placeholder
        %p Search, Notes, Folder, and Citation tools will go here.


    .bottom-section
      %article.text-area= yield(:text_area)

  .controls-wrap
    %ul.controls
      %li.control.lecture= link_to 'lecture', '/', class: 'active'
      - %w(annotate notes images chart globe sources questions discussion review next).each do |icon|
        %li.control{ class: icon }= link_to icon, '/'

= render template: 'layouts/application'
