= content_for :layout_extensions do
  .main-wrap
    %aside.video= yield(:video)
    .whiteboard
      .panel.primary=      yield(:primary_panel)
      .panel.response=     render partial: 'response'
      .panel.conversation= render partial: 'disqus'
      .panel.text-area= yield(:text_area) # annotate icon
      .panel.placeholder
        %p Search, Notes, Folder, and Citation tools will go here.

= render template: 'layouts/application'
