<head>
  <title>Quill Scorebook</title>
  
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= render partial: 'typekit' %>
  <%= stylesheet_link_tag 'scorebook/scorebook', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <a href="/images/favicon.gif" rel="icon" type="image/ico" />
  <a href="http://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet" type="text/css" />

  <%= render partial: 'application/head_embed_codes' %>

  <!--[if !IE 7]>
    <style type="text/css">
      #wrap { display: table ; height: 100% }
    </style>
  <![endif]-->

</head>
  <body>
    <%= render partial: 'layouts/header', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield %>
    <%= render partial: 'layouts/footer', media: 'all', 'data-turbolinks-track' => true %>

    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <%= javascript_include_tag 'scorebook/scorebook', 'data-turbolinks-track' => true %>
  </body>
</html>
