<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <% if Rails.env.development? %>
      <title>[DEV] <%= @title %></title>
      <%= favicon_link_tag 'favicon-dev.ico' %>
    <% else %>
      <title><%= @title %></title>
      <%= favicon_link_tag 'favicon.ico' %>
    <% end %>

    <meta name="description" content="<%= @description %>">

    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="<%= @title %>" />
    <meta property="og:description" content="<%= @description %>" />
    <meta property="og:image"       content=<%= image_url('share/facebook.png') %> />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= render partial: 'typekit' unless Rails.env.test? %>
    <%= javascript_pack_tag('vendor') %>
    <%= javascript_pack_tag(@js_file || 'home') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_pack_tag('home') %>
    <%= stylesheet_pack_tag('app') %>
    <%= csrf_meta_tags %>
    <%= render partial: 'application/head_embed_codes' %>
  </head>
  <body>
    <%= yield %>
    <%= render partial: 'remarketing_tag' %>
    <%= render partial: 'tracking_code' %>
  </body>
</html>
