<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <% if Rails.env.development? %>
      <title>[DEV] <%= @title %></title>
      <%= favicon_link_tag 'favicon-dev.ico' %>
    <% else %>
      <title><%= @title %></title>
      <%= favicon_link_tag 'favicon.ico' %>
    <% end %>

    <meta name="description" content="<%= @description %>">

    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="<%= @title %>" />
    <meta property="og:description" content="<%= @description %>" />
    <meta property="og:image"       content=<%= image_url('share/facebook.png') %> />


    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script> -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= render partial: 'typekit' unless Rails.env.test? %>
    <%= javascript_pack_tag('vendor') %>
    <%= javascript_pack_tag(@js_file || 'home') %>
    <%= stylesheet_pack_tag('home') %>
    <%= csrf_meta_tags %>
    <%= render partial: 'application/head_embed_codes' %>
  </head>
  <body>
    <%= yield %>
    <%= render partial: 'remarketing_tag' %>
    <%= render partial: 'tracking_code' %>
  </body>
</html>
