<%= form_with(model: vocabulary_word, local: true, url: (@vocabulary_word.new_record? ? [@activity, @vocabulary_word]: @vocabulary_word)) do |form| %>
  <% if vocabulary_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vocabulary_word.errors.count, "error") %> prohibited this vocabulary_word from being saved:</h2>

      <ul>
      <% vocabulary_word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :activity_id, class: "form-label" %>
    <%= form.text_field :activity_id, value: (@vocabulary_word.new_record? ? @activity.id : @vocabulary_word.activity_id), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :text, class: "form-label" %>
    <%= form.text_area :text, class: "form-control" %>
  </div>

  <div class="form-group text-editor">
    <%= form.label :description, class: "form-label" %>
    <%= form.hidden_field :description, class: "form-control" %>
  </div>

  <div class="form-group text-editor">
    <%= form.label :example, class: "form-label" %>
    <%= form.hidden_field :example, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :order, class: "form-label" %>
    <%= form.number_field :order, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
