<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Vocabulary Words</h1>

  <div class="card">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter card-table">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Text</th>
            <th>Description</th>
            <th>Example</th>
            <th>Order</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @vocabulary_words.each do |vocabulary_word| %>
            <tr>
              <td><%= link_to vocabulary_word.activity.title, vocabulary_word.activity %></td>
              <td><%= vocabulary_word.text %></td>
              <td><%= vocabulary_word.description %></td>
              <td><%= vocabulary_word.example %></td>
              <td><%= vocabulary_word.order %></td>
              <td><%= link_to 'Show', vocabulary_word %></td>
              <td><%= link_to 'Edit', edit_vocabulary_word_path(vocabulary_word) %></td>
              <td><%= link_to 'Destroy', vocabulary_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= link_to 'New Vocabulary Word', new_activity_vocabulary_word_path %>

</div>
